<div class='dashboard'>
    @if (GenericUtil.nonNull(facade.participantsStatusError())) {
        <app-message [showImage]='false' [message]='facade.participantsStatusError()' />
    }
    @if (GenericUtil.nonNull(facade.vehiclesStatusError())) {
        <app-message [showImage]='false' [message]='facade.vehiclesStatusError()' />
    }
    @if (GenericUtil.isNull(facade.participantsStatusError())) {
        <p-card class='total-participant'>
            <ng-template #title>
                <div class='d-flex justify-content-center align-items-center'>
                    <i class='pi pi-user'></i>
                    <span class='ms-2'>{{ 'project-home.dashboard.participants.total' | pluralTranslation: totalParticipants() | translate }}</span>
                </div>
            </ng-template>
            <div class='d-flex flex-column align-items-center'>
                @if (facade.participantsStatusLoading()) {
                    <p-skeleton class='mt-2 mb-3' width='5rem' height='1.5rem' borderRadius='1rem' />
                } @else {
                    <h2>{{ totalParticipants() }}</h2>
                }
            </div>
            <div class='d-flex'>
                <div class='sub-count d-flex flex-column align-items-center'>
                    <b>
                        {{
                            'project-home.dashboard.participants.present' | pluralTranslation:
                            (totalPresentRegistered() ?? 0) + (totalGuests() ?? 0) | translate
                        }}
                    </b>
                    <div class='d-flex'>
                        <div class='sub-count d-flex flex-column align-items-center'>
                            @if (facade.participantsStatusLoading()) {
                                <p-skeleton class='mt-2 mb-1' width='5rem' height='1.5rem' borderRadius='1rem' />
                            } @else {
                                <h3>{{ totalPresentRegistered() }}</h3>
                            }
                            <small class='mt-1 secondary-color'>{{ 'project-home.dashboard.participants.registered' | pluralTranslation: totalPresentRegistered() | translate }}</small>
                        </div>
                        <p-divider layout='vertical' />
                        <div class='sub-count d-flex flex-column align-items-center'>
                            @if (facade.participantsStatusLoading()) {
                                <p-skeleton class='mt-2 mb-1' width='5rem' height='1.5rem' borderRadius='1rem' />
                            } @else {
                                <h3>{{ totalGuests() }}</h3>
                            }
                            <small class='mt-1 secondary-color'>{{ 'project-home.dashboard.participants.guest' | pluralTranslation: totalGuests() | translate }}</small>
                        </div>
                    </div>
                </div>
                <p-divider layout='vertical' />
                <div class='sub-count d-flex flex-column align-items-center'>
                    <b>{{ 'project-home.dashboard.participants.absent' | pluralTranslation: totalAbsentRegistered() | translate }}</b>
                    @if (facade.participantsStatusLoading()) {
                        <p-skeleton class='mt-2 mb-1' width='5rem' height='1.5rem' borderRadius='1rem' />
                    } @else {
                        <h3>{{ totalAbsentRegistered() }}</h3>
                    }
                </div>
            </div>
            <ng-template #footer>
                <i class='secondary-color last-refresh'>
                    {{
                        'global.date-and-time-format.last-refresh' | translate
                            : {
                                datetime: facade.participantsStatus()?.lastRefresh | dateFormat: 'datetime',
                            }
                    }}
                </i>
            </ng-template>
        </p-card>
    }
    @if (ProjectUtil.hasOption(registryFacade.selectedProject(), ProjectOptionEnum.VEHICLE) && GenericUtil.isNull(facade.vehiclesStatusError())) {
        <p-card class='total-vehicle'>
            <ng-template #title>
                <div class='d-flex justify-content-center align-items-center'>
                    <i class='pi pi-car'></i>
                    <span class='ms-2'>{{ 'project-home.dashboard.vehicles.total' | pluralTranslation: totalVehicles() | translate }}</span>
                </div>
            </ng-template>
            <div class='d-flex flex-column align-items-center'>
                @if (facade.vehiclesStatusLoading()) {
                    <p-skeleton class='mt-2 mb-3' width='5rem' height='1.5rem' borderRadius='1rem' />
                } @else {
                    <h2>{{ totalVehicles() }}</h2>
                }
            </div>
            <div class='d-flex'>
                <div class='sub-count d-flex flex-column align-items-center mb-3'>
                    <b>{{ 'project-home.dashboard.vehicles.present' | pluralTranslation: totalPresentVehicles() | translate }}</b>
                    @if (facade.vehiclesStatusLoading()) {
                        <p-skeleton class='mt-2 mb-1' width='5rem' height='1.5rem' borderRadius='1rem' />
                    } @else {
                        <h3>{{ totalPresentVehicles() }}</h3>
                    }
                </div>
                <p-divider layout='vertical' />
                <div class='sub-count d-flex flex-column align-items-center mb-3'>
                    <b>{{ 'project-home.dashboard.vehicles.absent' | pluralTranslation: totalAbsentVehicles() | translate }}</b>
                    @if (facade.vehiclesStatusLoading()) {
                        <p-skeleton class='mt-2 mb-1' width='5rem' height='1.5rem' borderRadius='1rem' />
                    } @else {
                        <h3>{{ totalAbsentVehicles() }}</h3>
                    }
                </div>
            </div>
            <ng-template #footer>
                <i class='secondary-color last-refresh'>
                    {{
                        'global.date-and-time-format.last-refresh' | translate
                            : {
                                datetime: facade.vehiclesStatus()?.lastRefresh | dateFormat: 'datetime',
                            }
                    }}
                </i>
            </ng-template>
        </p-card>
    }
</div>

<p-panel styleClass='mt-2'>
    <ng-template #header>
        <div class='header-title'>
            <i class='pi pi-gift'></i>
            <span class='ms-2'>
                {{
                    'project-home.dashboard.birthday' | pluralTranslation: facade.participantsBirthdays() | translate
                }}
            </span>
        </div>
    </ng-template>
    <div class='birthdays'>
        @for (participant of facade.participantsBirthdays(); track participant.id; ) {
            <app-element-card [element]='participant'
                              [actionMenuVisible]='false'
                              [icon]='participant.type.value === ParticipantTypeEnum.REGISTERED ? "pi pi-user" : "pi pi-user-plus"'>
                <div class='element-card'>
                    <div>
                        <div class='d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                            <app-severity-circle class='me-2'
                                                 [severity]='participant.visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER' />
                            {{ (participant.firstName | titlecase) + ' ' + (participant.lastName | uppercase) }}
                        </div>
                    </div>
                    <div class='d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                        <app-severity-tag [value]='participant.birthday | dateFormat: "date"' />
                    </div>
                    <div class='status d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                        <app-severity-tag [severity]='participant.status.value === PresenceStatusEnum.OUT ? SeverityEnum.WARNING : SeverityEnum.SUCCESS'
                                          [value]='participant.status.label' />
                    </div>
                </div>
            </app-element-card>

        } @empty {
            <div class='ms-2 mt-2 mb-2'>
                {{ 'project-home.dashboard.no-birthday' | translate }}
            </div>
        }
    </div>
</p-panel>
