.dashboard {
    display:   flex;
    flex-wrap: wrap;
    gap:       var(--min-spacer);
}

.total-participant {
    flex-grow: 1;
}

.total-vehicle {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .total-vehicle {
        flex-basis: 50%;
    }
}

.sub-count {
    flex-basis: 50%;
}

h2, h3 {
    margin: var(--min-spacer);
}

::ng-deep .p-card {
    height: 100%;
}

:host {
    --p-card-title-font-size:  1rem;
    --p-panel-content-padding: var(--min-spacer);
}

.header-title {
    font-size:   var(--p-card-title-font-size);
    font-weight: var(--p-card-title-font-weight);
}

.birthdays {
    display:        flex;
    flex-direction: column;
    gap:            var(--min-spacer);
}
