<p-data-view #data
             [value]='elementPage()?.content'
             paginator
             lazy
             [alwaysShowPaginator]='false'
             [rows]='20'
             [totalRecords]='elementPage()?.totalElements'
             (onPage)='updateData($event)'>
    <ng-template #header>
        <div class='row'>
            <div class='col-12 order-1 order-sm-2 p-2'>
                <div class='d-flex align-items-center justify-content-between'>
                    @if (elementPage()) {
                        <i class='secondary-color last-refresh'>
                            {{
                                'global.date-and-time-format.last-refresh' | translate
                                    : {
                                        datetime: elementPage()?.lastRefresh | dateFormat: 'datetime',
                                    }
                            }}
                        </i>
                    } @else {
                        <p-skeleton [width]='loading() ? "5rem" : "0"' borderRadius='1rem' />
                    }
                    <div>
                        @if (getTemplate('creation')) {
                            <ng-container [ngTemplateOutlet]='getTemplate("creation")' />
                        }
                    </div>
                </div>
            </div>
            @if (GenericUtil.nonNull(getTemplate('search'))) {
                <div class='col-12 order-2 order-sm-1'>
                    <p-panel [style]='{ "border": "none" }' [header]='"global.actions.search-and-filter" | translate'
                             toggleable collapsed>
                        <ng-container [ngTemplateOutlet]='getTemplate("search")'
                                      [ngTemplateOutletContext]='{ $implicit: pageEvent() }' />
                    </p-panel>
                </div>
            }
        </div>
    </ng-template>
    <ng-template #list let-elements>
        <div class='layout list m-1'>
            @if (loading()) {
                @for (_ of counterArray(6); track $index) {
                    <p-card>
                        <app-element-skeleton [withIcon]='true' [layout]='registryFacade.tinyScreen() ? "grid" : "list"' />
                    </p-card>
                }
            } @else {
                @for (element of elements; track $index) {
                    <ng-container [ngTemplateOutlet]='getTemplate("element")'
                                  [ngTemplateOutletContext]='{ $implicit: element }' />
                }
            }
        </div>
    </ng-template>
    <ng-template #emptymessage>
        @if (GenericUtil.nonNull(error())) {
            @if (GenericUtil.nonNull(getTemplate('error'))) {
                <ng-container [ngTemplateOutlet]='getTemplate("error")' />
            } @else {
                <div class='d-flex flex-column justify-content-center align-items-center'>
                    <h2>{{ error()!.summary! | translate }}</h2>
                    <p class='error'>{{ error()!.detail! | translate }}</p>
                </div>
            }
        } @else if (!loading()) {
            <div class='p-4'>
                @if (getTemplate('empty')) {
                    <ng-container [ngTemplateOutlet]='getTemplate("empty")' />
                } @else {
                    <div class='d-flex flex-column justify-content-center align-items-center'>
                        <h2>{{ message().summary! | translate }}</h2>
                        <p>{{ message().detail! | translate }}</p>
                    </div>
                }
            </div>
        }
    </ng-template>
</p-data-view>
