@import '../../../../responsive';

.search-frame {
    background:    var(--surface-c);
    padding:       1rem;
    border-radius: 0.5em;
}

.list-box {
    margin:        0 0 0.5rem;
    padding:       0;
    min-height:    2rem;
    border-radius: 0.5rem;
    border:        1px solid var(--surface-border);
    background:    var(--surface-ground);
}

.invalid {
    border-color: var(--error-color);
}

.item {
    list-style-type: none;
    margin:          0;
}

.empty-message {
    padding: 0.5rem;
}

.list-item:hover {
    background: var(--surface-hover);
}
