.user-name {
    font-size:   16px;
    font-weight: 700;
}

.user-info,
.status,
.role,
.birthday {
    flex-basis: 100%;
}

@media (min-width: 576px) {
    .user-info,
    .status {
        flex-basis: 100%;
    }

    .role,
    .birthday {
        flex-basis: 50%;
    }
}

@media (min-width: 1140px) {
    .user-info,
    .role {
        flex-basis: 30%;
    }

    .birthday {
        flex-basis: 25%;
    }

    .status {
        flex-basis: 15%;
    }
}
