<app-element-card [element]='element'
                  [actions]='actions'
                  [showActionMenu]='showActionMenu'
                  (action)='handleAction($event)'
                  [layout]='layout'
                  icon='pi pi-user'>
    <div [class.flex-lg-row]='layout === "list"' [class.flex-column]='layout === "grid"'
         class='d-flex flex-wrap justify-content-between align-items-center'>
        <div class='d-flex flex-column justify-content-center user-info p-1'>
            <div class='pointer user-name'
                 tabindex='1'
                 (click)='copied()'
                 (keydown.enter)='copied()'
                 [cdkCopyToClipboard]='element.email'>
                {{ (element.firstName | titlecase) + ' ' + (element.lastName | uppercase) }}
            </div>
            @if (element.birthday) {
                <div class='d-flex align-content-center'>
                    <i class='pi pi-gift'></i>
                    <span class='ms-2'>{{ element.birthday | date: ('datetime.format.date' | translate) }}</span>
                </div>
            }
        </div>
        @if (element.lastLogin) {
            <div class='secondary-color last-login p-1'>
                <i>
                    {{
                        'datetime.last-login' | translate
                            : {
                                date: element.lastLogin | date: ('datetime.format.date' | translate),
                                time: element.lastLogin | date: ('datetime.format.time' | translate),
                            }
                    }}
                </i>
            </div>
        }
        @if (element.role) {
            <div class='role p-1'>
                <p-tag severity='info' [value]='element.role.label' />
            </div>
        }
    </div>
</app-element-card>
