<app-element-card [element]='element'
                  [actions]='actions'
                  [showActionMenu]='showActionMenu'
                  (action)='handleAction($event)'
                  [layout]='layout'
                  icon='pi pi-user'>
    <div [class.flex-lg-row]='layout === "list"'
         class='d-flex flex-column justify-content-between align-items-center'>
        <div class='d-flex flex-column justify-content-center user-info'>
            <div class='pointer user-name'
                 tabindex='1'
                 (click)='copied()'
                 (keydown.enter)='copied()'
                 [cdkCopyToClipboard]='element.email'>
                {{ (element.firstName | titlecase) + ' ' + (element.lastName | uppercase) }}
            </div>
            @if (element.birthday) {
                <div class='d-flex align-content-center'>
                    <i class='pi pi-gift'></i>
                    <span class='ms-2'>{{ element.birthday | date: ('datetime.format.date' | translate) }}</span>
                </div>
            }
        </div>
        <div class='secondary-color last-login'>
            <i>
                {{
                    'datetime.last-login' | translate
                        : {
                            date: element.lastLogin | date: ('datetime.format.date' | translate),
                            time: element.lastLogin | date: ('datetime.format.time' | translate),
                        }
                }}
            </i>
        </div>
        @if (element.role) {
            <div class='role' [class.mt-2]='layout === "grid"'>
                <p-tag severity='info' [value]='("user.role." + element.role) | translate' />
            </div>
        }
    </div>
</app-element-card>
