.user-name {
    font-size:   16px;
    font-weight: 700;
}

.user-name:hover {
    text-decoration: underline;
}

.user-info {
    flex-basis: 40%;
}

.last-login {
    flex-basis: 40%;
    font-size:  14px;
}

.role {
    flex-basis: 20%;
}
