<div class='mb-2'>
    @if (facade.activityLoading()) {
        <p-card>
            <app-element-skeleton [withIcon]='true' [layout]='registryFacade.tinyScreen() ? "grid" : "list"' />
        </p-card>
    } @else {
        <app-activity-element [activity]='facade.activity()!'
                              [actionMenuVisible]='false' />
    }
</div>

<app-list (updateRequired)='loadPage($event, contextEventId())'
          [elementPage]='facade.activityMovementsPage()'
          [error]='facade.activityMovementsPageError()'
          [loading]='facade.activityMovementsPageLoading()'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='d-grid search-line g-2'>
            <div class='field'>
                <label for='start-date-time-search-field'>{{ 'movements.search-and-filter.start-datetime' | translate }}</label>
                <p-date-picker inputId='start-date-time-search-field'
                               fluid
                               [showButtonBar]='true'
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent, contextEventId())'
                               [formControl]='startDateTimeSearched' />
            </div>
            <div class='field'>
                <label for='end-date-time-search-field'>{{ 'movements.search-and-filter.end-datetime' | translate }}</label>
                <p-date-picker inputId='end-date-time-search-field'
                               fluid
                               [showButtonBar]='true'
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent, contextEventId())'
                               [formControl]='endDateTimeSearched' />
            </div>
        </div>
        <div class='d-grid search-line g-2'>
            <div class='field'>
                <label for='type-search-field'>{{ 'movements.search-and-filter.type' | translate }}</label>
                <p-select inputId='type-search-field'
                          fluid
                          [loading]='!movementFacade.movementTypesMetadata()'
                          [options]='movementFacade.movementTypesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent, contextEventId())'
                          [formControl]='typeSearched' />
            </div>
            <div class='field'>
                <label for='visibility-search-field'>{{ 'movements.search-and-filter.visibility' | translate }}</label>
                <p-select inputId='visibility-search-field'
                          fluid
                          [options]='facade.visibilitiesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent, contextEventId())'
                          [formControl]='visibilitySearched' />
            </div>
        </div>
        <div class='d-flex justify-content-center'>
            <p-button (click)='loadPage(pageEvent, contextEventId())'
                      [label]='"global.actions.search-and-filter" | translate'
                      [outlined]='true'
                      [rounded]='true'
                      icon='pi pi-search'
                      [loading]='facade.activityMovementsPageLoading() || facade.activityMovementsPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='element' let-movement>
        <app-movement-element [movement]='movement' [vehicleId]='facade.activity()?.id' />
    </ng-template>
</app-list>
