<app-element-card [element]='participant()'
                  [actions]='actions()'
                  [actionMenuVisible]='actionMenuVisible()'
                  (action)='showDialogIfNeeded($event)'
                  [icon]='participant().type.value === ParticipantTypeEnum.REGISTERED ? "pi pi-user" : "pi pi-user-plus"'>
    <div class='element-card'>
        <div class='participant-info'>
            <div class='participant-name d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                <app-severity-circle class='me-2' [severity]='participant().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER' />
                {{ (participant().firstName | titlecase) + ' ' + (participant().lastName | uppercase) }}
            </div>
            @if (participant().startAvailability) {
                <div class='d-flex mt-1 align-content-center' [class.justify-content-center]='registryFacade.tinyScreen()'>
                    <i class='pi pi-play-circle'></i>
                    <span class='ms-1'> {{ participant().startAvailability | customDateFormat }}</span>
                </div>
            }
            @if (participant().endAvailability) {
                <div class='d-flex align-content-center'
                     [class.justify-content-center]='registryFacade.tinyScreen()'
                     [class.mt-1]='!participant().startAvailability'>
                    <i class='pi pi-stop-circle'></i>
                    <span class='ms-1'> {{ participant().endAvailability | customDateFormat }}</span>
                </div>
            }
        </div>
        <div class='groups d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <div [class.pointer]='additionalTotal() > 0'
                 [class.hover-underline]='additionalTotal() > 0'
                 tabindex='1'
                 (click)='additionalTotal() > 0 ? layerOpened = true : ""'
                 (keydown.enter)='additionalTotal()> 0 ? layerOpened = true : ""'>
                @if (additionalTotal() === 0) {
                    {{ participant().groups[0].name }}
                } @else {
                    {{
                        'participants.group' | pluralTranslation: additionalTotal() + 1 | translate: {
                            name: participant().groups[0]?.name,
                            others: additionalTotal(),
                        }
                    }}
                }
            </div>
        </div>
        <div class='status d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            @if (participant().status.value === 'UNAVAILABLE') {
                <app-severity-tag [severity]='participantStatusSeverity()'
                                  [value]='intervalStatus() | intervalFormat: "participants.status" | translate: { interval:
                                  buildInterval(intervalStatus()!.interval!) }' />
            } @else {
                <app-severity-tag [severity]='participantStatusSeverity()'
                                  [value]='participant().status.label' />
            }
        </div>
    </div>
</app-element-card>

<app-layer [(visible)]='layerOpened'
           [header]='"participants.group-layer-title" | pluralTranslation: participant().groups | translate'>
    <p-listbox
            styleClass='max-list-box-height'
            scrollHeight='100%'
            [options]='participant().groups'
            readonly
            optionLabel='name'>
        <ng-template #item let-group>
            <div class='d-flex align-items-center'>
                <p-avatar icon='pi pi-sitemap' class='me-2' shape='circle' />
                <div>{{ group.name }}</div>
            </div>
        </ng-template>
    </p-listbox>
</app-layer>

<app-confirmation-dialog
        [loading]='facade.participantLoading()'
        [element]='participant()'
        [action]='action()'
        (hide)='action.set(undefined)'
        (handleAction)='handleAction($event)' />
