<app-element-card [element]='element'
                  [actions]='actions'
                  [showActionMenu]='showActionMenu'
                  (action)='handleAction($event)'
                  [layout]='layout'
                  icon='pi pi-users'>
    <div [class.flex-lg-row]='layout === "list"' [class.flex-column]='layout === "grid"'
         class='d-flex flex-wrap justify-content-between align-items-center'>
        <div class='info p-1'>
            {{ (element.firstName | titlecase) + ' ' + (element.lastName | uppercase) }}
            <div class='d-flex align-items-center'>
                @if (element.birthday) {
                    <i class='pi pi-gift'></i>
                    <span class='ms-2'>{{ element.birthday | date: ('datetime.format.date' | translate) }}</span>

                }
            </div>
        </div>
        <div class='groups d-flex p-1'>
            <div [class.pointer]='additionalTotal() > 0'
                 [class.groups-content]='additionalTotal() > 0'
                 tabindex='1'
                 (click)='additionalTotal() > 0 ? layerOpened = true : ""'
                 (keydown.enter)='additionalTotal()> 0 ? layerOpened = true : ""'>
                @switch (true) {
                    @case ((element.groups?.length ?? 0) === 0) {
                        {{ 'participant.group-and-others.none' | translate }}
                    }
                    @case (element.groups.length === 1) {
                        {{
                            'participant.group-and-others.one' | translate: {
                                group: element.groups[0].name,
                            }
                        }}
                    }
                    @case (element.groups.length === 2) {
                        {{
                            'participant.group-and-others.singular' | translate: {
                                group: element.groups[0].name,
                                others: additionalTotal(),
                            }
                        }}
                    }
                    @default {
                        {{
                            'participant.group-and-others.plural' | translate: {
                                group: element.groups[0].name,
                                others: additionalTotal(),
                            }
                        }}
                    }
                }
            </div>
        </div>
        <div class='presence secondary-color p-1'>
            @if (element.begin && element.end) {
                <i>
                    {{
                        'datetime.presence' | translate
                            : {
                                start: element.begin | date: ('datetime.format.date' | translate),
                                end: element.end | date: ('datetime.format.date' | translate),
                            }
                    }}
                </i>
            }
        </div>
    </div>
</app-element-card>

<app-layer [(visible)]='layerOpened'
           [header]='"group.content.title" | translate'>
    <p-listbox
            [options]='element.groups'
            [readonly]='true'
            optionLabel='name'>
        <ng-template #item let-group>
            <div class='d-flex align-items-center'>
                <p-avatar icon='pi pi-sitemap' class='me-2' shape='circle' />
                <div>{{ group.name }}</div>
            </div>
        </ng-template>
    </p-listbox>
    <div class='d-flex justify-content-center align-content-center'>
        <p-button (click)='layerOpened = false' [rounded]='true' [outlined]='true' severity='secondary'
                  [label]='"close" | translate' />
    </div>
</app-layer>
