<app-element-card [element]='element'
                  [actions]='actions'
                  [showActionMenu]='showActionMenu'
                  (action)='handleAction($event)'
                  [layout]='layout'
                  icon='pi pi-users'>
    <div [class.flex-lg-row]='layout === "list"'
         class='d-flex flex-column justify-content-between align-items-center'>
        <div class='info'>
            {{ (element.firstName | titlecase) + ' ' + (element.lastName | uppercase) }}
        </div>
        <div class='birthday d-flex align-items-center'>
            @if (element.birthday) {
                <i class='pi pi-gift'></i>
                <span class='ms-2'>{{ element.birthday | date: ('datetime.format.date' | translate) }}</span>

            }
        </div>
        <div class='presence secondary-color'>
            @if (element.begin && element.end) {
                <i>
                    {{
                        'datetime.presence' | translate
                            : {
                                start: element.begin | date: ('datetime.format.date' | translate),
                                end: element.end | date: ('datetime.format.date' | translate),
                            }
                    }}
                </i>
            }
        </div>
    </div>
</app-element-card>
