<app-list (updateRequired)='loadPage($event)'
          [elementPage]='facade.eventsPage()'
          [error]='facade.eventsPageError()'
          [loading]='facade.eventsPageLoading()'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='field'>
            <label for='text-search-field'>{{ 'events.search-and-filter.text' | translate }}</label>
            <input id='text-search-field'
                   type='text'
                   fluid
                   pInputText
                   (keydown.enter)='loadPage(pageEvent)'
                   [formControl]='textSearched' />
        </div>
        <div class='d-grid search-line g-2'>
            <div class='field'>
                <label for='date-time-search-field'>{{ 'events.search-and-filter.datetime' | translate }}</label>
                <p-date-picker inputId='date-time-search-field'
                               fluid
                               [showButtonBar]='true'
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='dateTimeSearched' />
            </div>
            <div class='field'>
                <label for='visibility-search-field'>{{ 'events.search-and-filter.visibility' | translate }}</label>
                <p-select inputId='visibility-search-field'
                          fluid
                          [options]='facade.visibilitiesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='visibilitySearched' />
            </div>
        </div>
        <div class='d-flex justify-content-center'>
            <p-button (click)='loadPage(pageEvent)'
                      [label]='"global.actions.search-and-filter" | translate'
                      [outlined]='true'
                      [rounded]='true'
                      icon='pi pi-search'
                      [loading]='facade.eventsPageLoading() || facade.eventsPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='creation'>
        @if (CurrentUserUtil.hasUserAuthority(registryFacade.currentUser(), UserAuthority.REGISTRY_EVENT_C)) {
            <p-button class='m-1'
                      severity='success'
                      [outlined]='true'
                      [rounded]='true'
                      [label]='registryFacade.tinyScreen() ? "" : "global.actions.create" | translate'
                      icon='pi pi-plus'
                      [routerLink]='EventRoutesEnum.CREATE' />
        }
    </ng-template>
    <ng-template appTemplate='element' let-event>
        <app-event-element [event]='event' />
    </ng-template>
</app-list>
