<h2>{{ 'event.form.title.create' | translate }}</h2>
<p-stepper [(value)]='activeStep'>
    <p-step-list>
        <p-step [value]='1'></p-step>
        <p-step [value]='2'></p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]='1'>
            <ng-template #content>
                <p-card [header]='"event.form.title.information" | translate'>
                    <app-form [form]='form' [loading]='(loading$ | async) ?? false'>
                        <div class='d-flex flex-column'>
                            <div class='field'>
                                <label for='name' appRequired>{{ 'event.form.name' | translate }}</label>
                                <input [formControl]='name'
                                       [placeholder]='"event.example.name" | translate'
                                       (keydown.enter)='isFirstStepValid() ? activeStep = 2 : ""'
                                       id='name'
                                       pInputText
                                       type='text' />
                                <app-form-field-error [control]='name'
                                                      translationPrefix='event.form.error.name' />
                            </div>
                            <div class='field'>
                                <label for='range'>{{ 'event.form.range' | translate }}</label>
                                <p-date-picker [formControl]='range'
                                               [showButtonBar]='true'
                                               [placeholder]='"event.example.range" | translate: {
                                                   begin: startDateExample() | date: ("datetime.format.date" | translate),
                                                   end: endDateExample() | date: ("datetime.format.date" | translate)
                                               }'
                                               [readonlyInput]='true'
                                               [showTime]='true'
                                               [touchUI]='isMobile()'
                                               (keydown.enter)='isFirstStepValid() ? activeStep = 2 : ""'
                                               inputId='range'
                                               selectionMode='range'
                                               fluid />
                            </div>
                        </div>
                        <div class='d-flex pt-4 justify-content-end'>
                            <p-button
                                    (click)='isFirstStepValid() ? activeStep = 2 : ""'
                                    [label]='"next" | translate'
                                    [rounded]='true'
                                    icon='pi pi-arrow-right'
                                    iconPos='right' />
                        </div>
                    </app-form>
                </p-card>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]='2'>
            <ng-template #content>
                <p-card [header]='"event.form.title.option" | translate'>
                    <app-form [form]='optionsForm' [loading]='(loading$ | async) ?? false'>
                        <div class='d-flex flex-column' *ngIf='eventOptions$ | async as eventOptions'>
                            <div *ngFor='let option of eventOptions; let i = index;'>
                                <div class='field'>
                                    <div class='switch-field'>
                                        <label [for]='option.value'>
                                            <i [class]='optionIcon(option.value)'></i>
                                            {{ option.ask }}
                                            <b> ({{ option.label }})</b>
                                        </label>
                                        <p-toggle-switch [formControl]='getOptionControl(option.value)'
                                                         id='ticketing' />
                                    </div>
                                    <app-form-field-error [control]='getOptionControl(option.value)'
                                                          translationPrefix='event.form.error.options' />
                                </div>
                                @if (i < eventOptions.length - 1) {
                                    <p-divider />
                                }
                            </div>
                            @if (optionsForm.hasError('preRequiredOptions')) {
                                <p-message severity='error'
                                           variant='simple'>{{
                                        'event.form.error.options.preRequiredOptions' | translate:
                                            optionsForm.getError('preRequiredOptions')
                                    }}
                                </p-message>
                            }
                        </div>
                        <div class='d-flex pt-4 justify-content-between'>
                            <p-button
                                    (click)='activeStep = 1'
                                    [label]='"previous" | translate'
                                    [outlined]='true'
                                    [rounded]='true'
                                    icon='pi pi-arrow-left' />
                            <p-button
                                    (click)='submit()'
                                    [label]='"create" | translate'
                                    [rounded]='true'
                                    icon='pi pi-plus'
                                    severity='success' />
                        </div>
                    </app-form>
                </p-card>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>
