<h2>{{ 'events.form.title.create' | translate }}</h2>
<p-stepper [(value)]='activeStep'>
    <p-step-list>
        <p-step [value]='1'></p-step>
        <p-step [value]='2'></p-step>
    </p-step-list>
    <p-step-panels>
        <p-step-panel [value]='1'>
            <ng-template #content>
                <p-card [header]='"events.form.subtitle.information" | translate'>
                    <app-form [form]='form' [loading]='facade.eventLoading()'>
                        <div class='d-flex flex-column'>
                            <div class='field'>
                                <label for='name' appRequired>{{ 'events.form.name' | translate }}</label>
                                <input [formControl]='name'
                                       [placeholder]='"events.form.placeholder.name" | translate'
                                       (keydown.enter)='FormUtil.isFormValid(form) ? activeStep = 2 : undefined'
                                       id='name'
                                       pInputText
                                       type='text' />
                                <app-form-field-error [errors]='name.errors'
                                                      [invalid]='FormUtil.invalid(name)'
                                                      translationPrefix='events.form.error.name' />
                            </div>
                            <div class='d-flex flex-wrap'>
                                <div class='begin-date-time field'>
                                    <label for='begin-date-time'>{{ 'events.form.begin-datetime' | translate }}</label>
                                    <app-date-time-field [formControl]='beginDateTime'
                                                         [invalid]='FormUtil.invalid(beginDateTime)'
                                                         inputId='begin-date-time'
                                                         [datePlaceholder]='"events.form.placeholder.date" | translate: {
                                                            date: startDateExample | dateFormat: "date"
                                                         }'
                                                         [timePlaceholder]='"events.form.placeholder.time" | translate: {
                                                            date: startDateExample | dateFormat: "time"
                                                         }' />
                                    <app-form-field-error [errors]='beginDateTime.errors'
                                                          [invalid]='FormUtil.invalid(beginDateTime)'
                                                          translationPrefix='events.form.error.begin-datetime' />
                                </div>
                                <div class='end-date-time field'>
                                    <label for='end-date-time'>{{ 'events.form.end-datetime' | translate }}</label>
                                    <app-date-time-field [formControl]='endDateTime'
                                                         [invalid]='FormUtil.invalid(endDateTime)'
                                                         inputId='end-date-time'
                                                         [datePlaceholder]='"events.form.placeholder.date" | translate: {
                                                            date: endDateExample | dateFormat: "date"
                                                         }'
                                                         [timePlaceholder]='"events.form.placeholder.time" | translate: {
                                                            date: endDateExample | dateFormat: "time"
                                                         }' />
                                    <app-form-field-error [errors]='endDateTime.errors'
                                                          [invalid]='FormUtil.invalid(endDateTime)'
                                                          translationPrefix='events.form.error.end-datetime' />
                                </div>
                            </div>
                        </div>
                        <app-form-field-error [errors]='form.errors'
                                              [invalid]='FormUtil.invalid(form) && beginDateTime.valid && endDateTime.valid'
                                              translationPrefix='events.form.error.date-range' />
                        <div class='d-flex pt-4 justify-content-between'>
                            <p-button
                                    (click)='navigateToRedirectUri(nextNavigation)'
                                    [label]='"global.actions.cancel" | translate'
                                    [outlined]='true'
                                    [rounded]='true' />
                            <p-button
                                    (click)='FormUtil.isFormValid(form) ? activeStep = 2 : undefined'
                                    [label]='"events.form.navigation.next-option" | translate'
                                    [rounded]='true'
                                    icon='pi pi-arrow-right'
                                    iconPos='right' />
                        </div>
                    </app-form>
                </p-card>
            </ng-template>
        </p-step-panel>
        <p-step-panel [value]='2'>
            <ng-template #content>
                <p-card [header]='"events.form.subtitle.option" | pluralTranslation: facade.eventOptionsMetadata() | translate'>
                    <app-form [form]='optionsForm' [loading]='facade.eventLoading()'>
                        @if (facade.eventOptionsMetadata()) {
                            <div class='d-flex flex-column'>
                                @for (option of facade.eventOptionsMetadata(); track option.value) {
                                    @let control = getOptionControl(option.value);
                                    <div class='field'>
                                        <div class='switch-field'>
                                            <label [for]='option.value'>
                                                <i [class]='option.value | optionIcon'></i>
                                                {{ option.ask }}
                                                <b> ({{ option.label }})</b>
                                            </label>
                                            <p-toggle-switch [formControl]='control'
                                                             [inputId]='option.value' />
                                        </div>
                                    </div>
                                    @if (!$last) {
                                        <p-divider />
                                    }
                                }
                                @if (optionsForm.hasError('preRequiredOptions')) {
                                    <p-message severity='error'
                                               variant='simple'>{{
                                            'events.form.error.options.preRequiredOptions' | translate:
                                                optionsForm.getError('preRequiredOptions')
                                        }}
                                    </p-message>
                                }
                            </div>
                        }
                        <div class='d-flex pt-4 justify-content-between'>
                            <p-button
                                    (click)='activeStep = 1'
                                    [label]='"events.form.navigation.previous-information" | translate'
                                    [outlined]='true'
                                    [rounded]='true'
                                    icon='pi pi-arrow-left' />
                            <p-button
                                    (click)='submit()'
                                    [label]='"global.actions.create" | translate'
                                    [rounded]='true'
                                    icon='pi pi-plus'
                                    severity='success' />
                        </div>
                    </app-form>
                </p-card>
            </ng-template>
        </p-step-panel>
    </p-step-panels>
</p-stepper>
