@if (form.untouched && (loading$ | async) ?? false) {
    <div class='d-flex justify-content-center'>
        <p-progressSpinner></p-progressSpinner>
    </div>
} @else {
    <h2>{{ 'event.form.title.edit' | translate: { name: (event$ | async)?.name } }}</h2>
    <p-card [formGroup]='form' [header]='"event.form.title.information" | translate'>
        <div class='field'>
            <label for='name' appRequired>{{ 'event.form.name' | translate }}</label>
            <input [formControl]='name' [placeholder]='"event.example.name" | translate' id='name' pInputText type='text' />
            <app-form-field-error [control]='name'
                                  [example]='"event.example.name" | translate'
                                  [label]='"event.form.name" | translate' />
        </div>
        <div class='field'>
            <label for='range'>{{ 'event.form.range' | translate }}</label>
            <p-date-picker [formControl]='range'
                           [showButtonBar]='true'
                           [placeholder]='"event.example.range" | translate: {
                                    begin: exampleBeginDate | date: ("datetime.format.date" | translate),
                                    end: exampleEndDate | date: ("datetime.format.date" | translate)
                                }'
                           [readonlyInput]='true'
                           [showTime]='true'
                           [touchUI]='isMobile()'
                           id='range'
                           selectionMode='range'
                           fluid />
            <app-form-field-error [control]='range'
                                  [example]='"event.example.range" | translate'
                                  [label]='"event.form.range" | translate' />
        </div>
    </p-card>
    <p-divider />
    <p-card [formGroup]='optionsForm' [header]='"event.form.title.option" | translate' *ngIf='eventOptions$ | async as eventOptions'>
        <div *ngFor='let option of eventOptions; let i = index;'>
            <div class='field'>
                <div class='switch-field'>
                    <label [for]='option.value'>
                        <i [class]='optionIcon(option.value)'></i>
                        {{ option.ask }}
                    </label>
                    <p-toggle-switch [formControl]='getOptionControl(option.value)'
                                     id='ticketing' />
                </div>
                <app-form-field-error [control]='getOptionControl(option.value)'
                                      [label]='"event.form.ticketing" | translate' />
            </div>
            @if (i < eventOptions.length - 1) {
                <p-divider />
            }
        </div>
    </p-card>
    <div class='mt-2 d-flex justify-content-center'>
        <p-button
                (click)='navigateToRedirectUri()'
                [label]='"cancel" | translate'
                [outlined]='true'
                [rounded]='true' />
        <p-button
                class='ms-2'
                (click)='submit()'
                [label]='"edit" | translate'
                [rounded]='true'
                icon='pi pi-pen-to-square'
                severity='success' />
    </div>
}
