h3 {
    margin-top: 0;
}

h4 {
    margin-top: 0;
}

.switch-field {
    display:        flex;
    align-items:    center;
    flex-direction: row;
}

.select-all-field {
    justify-content: right;
    gap:             1rem;
}

.option-field {
    justify-content: space-between;
}
