<div [class.flex-column]='layout() === "grid"' class='d-flex align-items-center'>
    @if (withIcon() && !registryFacade.tinyScreen()) {
        <p-skeleton shape='circle' height='48px' width='48px' />
    }
    <div [class.text-center]='layout() === "grid"'
         [class.mt-2]='layout() === "grid"'
         class='full-w ms-2 me-2'>
        <p-skeleton styleClass='mb-2' width='100%' borderRadius='1rem' />
        <p-skeleton styleClass='mb-2' width='75%' borderRadius='1rem' />
        <p-skeleton width='90%' borderRadius='1rem' />
    </div>
</div>
