<app-form [form]='form' [loading]='(loading$ | async) ?? false'>
    @if (showTitle) {
        @if (participant()) {
            <h2>{{
                    'participant.form.title.edit' | translate: {
                        firstName: participant()?.firstName,
                        lastName: participant()?.lastName
                    }
                }}
            </h2>
        } @else {
            <h2>{{ 'participant.form.title.create' | translate }}</h2>
        }
    }
    <p-card>
        <div class='field'>
            <label for='user'>{{ 'participant.form.user' | translate }}</label>
            <p-auto-complete inputId='user'
                             fluid
                             completeOnFocus
                             optionValue='value.id'
                             optionLabel='label'
                             [placeholder]='"participant.form.link-user" | translate'
                             [formControl]='user'
                             [forceSelection]='true'
                             [suggestions]='(usersSuggestion$ | async) ?? []'
                             (keydown.enter)='submit()'
                             (onSelect)='onUserSelection($event)'
                             (completeMethod)='handleUserSearch($event)'>
                <ng-template #empty>
                    <span>{{ 'participant.form.empty-user-search' | translate }}</span>
                </ng-template>
            </p-auto-complete>
            <app-form-field-error [control]='user'
                                  [label]='"participant.form.user" | translate' />
        </div>
        <p-divider align='center' />
        <div class='field'>
            <label for='first-name' appRequired>{{ 'participant.form.first-name' | translate }}</label>
            <input [formControl]='firstName'
                   [placeholder]='"participant.example.first-name" | translate'
                   (keydown.enter)='submit()'
                   id='first-name'
                   pInputText
                   type='text' />
            @if (previousFirstName() && previousFirstName() !== firstName.value) {
                <small class='secondary-color'>
                    {{ 'participant.form.previous-first-name' | translate: { firstName: previousFirstName() } }}
                </small>
            }
            <app-form-field-error [control]='firstName'
                                  [example]='"participant.example.first-name" | translate'
                                  [label]='"participant.form.first-name" | translate' />
        </div>
        <div class='field'>
            <label for='last-name' appRequired>{{ 'participant.form.last-name' | translate }}</label>
            <input [formControl]='lastName'
                   [placeholder]='"participant.example.last-name" | translate'
                   (keydown.enter)='submit()'
                   id='last-name'
                   pInputText
                   type='text' />
            @if (previousLastName() && previousLastName() !== lastName.value) {
                <small class='secondary-color'>
                    {{ 'participant.form.previous-last-name' | translate: { lastName: previousLastName() } }}
                </small>
            }
            <app-form-field-error [control]='lastName'
                                  [example]='"participant.example.last-name" | translate'
                                  [label]='"participant.form.last-name" | translate' />
        </div>
        <div class='field'>
            <label for='birthday' appRequired>{{ 'participant.form.birthday' | translate }}</label>
            <p-date-picker [formControl]='birthday'
                           [showButtonBar]='true'
                           [placeholder]='"participant.example.birthday" | translate'
                           [maxDate]='today'
                           [touchUI]='isMobile()'
                           (keydown.enter)='submit()'
                           id='birthday'
                           fluid />
            <app-form-field-error [control]='birthday'
                                  [example]='"participant.example.birthday" | translate'
                                  [label]='"participant.form.birthday" | translate' />
        </div>
        <div class='field'>
            <label for='presence'>{{ 'participant.form.presence' | translate }}</label>
            <p-date-picker [formControl]='presence'
                           [showButtonBar]='true'
                           [placeholder]='"participant.example.presence" | translate: {
                                    begin: exampleBeginDate | date: ("datetime.format.date" | translate),
                                    end: exampleEndDate | date: ("datetime.format.date" | translate)
                                }'
                           [readonlyInput]='true'
                           [showTime]='true'
                           [touchUI]='isMobile()'
                           (keydown.enter)='submit()'
                           id='presence'
                           selectionMode='range'
                           fluid />
            <app-form-field-error [control]='presence'
                                  [example]='"participant.example.presence" | translate'
                                  [label]='"participant.form.presence" | translate' />
        </div>
        @if (!defaultGroup) {
            <p-divider />
            <div class='field'>
                <label for='groups' appRequired>{{ 'participant.form.groups' | translate }}</label>
                <app-select-elements-field [formControl]='groups'
                                           [emptySearchMessage]='"participant.form.empty-user-search" | translate'
                                           [suggestions]='(groupsSuggestion$ | async) ?? []'
                                           [searchLabel]='"participant.form.group-search" | translate'
                                           [emptyPlaceholder]='"participant.form.no-group" | translate'
                                           inputId='groups'
                                           (handleSearch)='handleGroupSearch($event)' />
                <app-form-field-error [control]='groups'
                                      [label]='"participant.form.groups" | translate' />
            </div>
        }
    </p-card>
    <div class='d-flex mt-2 justify-content-center'>
        <p-button
                (click)='navigateToRedirectUri()'
                [label]='"cancel" | translate'
                [outlined]='true'
                [rounded]='true' />

        @if (participant()) {
            <p-button
                    class='ms-2'
                    (click)='submit()'
                    [label]='"edit" | translate'
                    [rounded]='true'
                    icon='pi pi-pen-to-square'
                    severity='success' />
        } @else {
            <p-button
                    class='ms-2'
                    (click)='submit()'
                    [label]='"create" | translate'
                    [rounded]='true'
                    icon='pi pi-plus'
                    severity='success' />
        }
    </div>
</app-form>
