<p-tabs [value]='currentTab()' (valueChange)='navigate($event)' scrollable>
    <p-tablist>
        <p-tab value='dashboard'>{{ 'project-home.dashboard.title' | translate }}</p-tab>
        @if (ProjectUtil.hasOption(registryFacade.selectedProject(), ProjectOptionEnum.ACTIVITY)) {
            <p-tab value='activities'>{{ 'project-home.activity-in-progress.title' | translate }}</p-tab>
        }
        <p-tab value='movements'>{{ 'project-home.movements-in-progress.title' | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value='dashboard'>
            <div class='ps-3 pe-3'>
                <app-dashboard />
            </div>
        </p-tabpanel>
        @if (ProjectUtil.hasOption(registryFacade.selectedProject(), ProjectOptionEnum.ACTIVITY)) {
            <p-tabpanel value='activities'>
                <div class='ps-3 pe-3'>
                    <app-current-activities />
                </div>
            </p-tabpanel>
        }
        <p-tabpanel value='movements'>
            <div class='ps-3 pe-3'>
                <app-current-movements />
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
