<p-tabs value='0'>
    <p-tablist>
        <p-tab value='0'>{{ 'project-home.dashboard.title' | translate }}</p-tab>
        @if (ProjectUtil.hasOption(registryFacade.selectedProject(), ProjectOptionEnum.ACTIVITY)) {
            <p-tab value='1'>{{ 'project-home.activity-in-progress.title' | translate }}</p-tab>
        }
        <p-tab value='2'>{{ 'project-home.movements-in-progress.title' | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value='0'>
            <div class='ps-3 pe-3'>
                <app-dashboard />
            </div>
        </p-tabpanel>
        @if (ProjectUtil.hasOption(registryFacade.selectedProject(), ProjectOptionEnum.ACTIVITY)) {
            <p-tabpanel value='1'>
                <div class='ps-3 pe-3'>
                    <app-current-activities />
                </div>
            </p-tabpanel>
        }
        <p-tabpanel value='2'>
            <div class='ps-3 pe-3'>
                <app-current-movements />
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
