<app-list (updateRequired)='loadPage($event)'
          [elementPage]='facade.activitiesPage()'
          [error]='facade.activitiesPageError()'
          [loading]='facade.activitiesPageLoading()'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='d-grid search-line g-2'>
            <div class='field'>
                <label for='text-search-field'>{{ 'activities.search-and-filter.text' | translate }}</label>
                <input id='text-search-field'
                       type='text'
                       fluid
                       pInputText
                       (keydown.enter)='loadPage(pageEvent)'
                       [formControl]='textSearched' />
            </div>
            <div class='field'>
                <label for='date-time-search-field'>{{ 'activities.search-and-filter.datetime' | translate }}</label>
                <p-date-picker inputId='date-time-search-field'
                               fluid
                               showButtonBar
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='dateTimeSearched' />
            </div>
        </div>
        <div class='d-grid search-line g-2'>
            <div class='field'>
                <label for='availability-search-field'>{{ 'activities.search-and-filter.availability' | translate }}</label>
                <p-select inputId='availability-search-field'
                          fluid
                          [options]='facade.availabilitiesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='availabilitySearched' />
            </div>
            <div class='field'>
                <label for='visibility-search-field'>{{ 'activities.search-and-filter.visibility' | translate }}</label>
                <p-select inputId='visibility-search-field'
                          fluid
                          [options]='facade.visibilitiesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='visibilitySearched' />
            </div>
        </div>
        <div class='d-flex justify-content-center'>
            <p-button (onClick)='loadPage(pageEvent)'
                      [label]='"global.actions.search-and-filter" | translate'
                      outlined
                      rounded
                      icon='pi pi-search'
                      [loading]='facade.activitiesPageLoading() || facade.activitiesPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='element' let-activity>
        <app-activity-element [activity]='activity' />
    </ng-template>
    <ng-template appTemplate='creation'>
        @if (CurrentUserUtil.hasProjectAuthority(registryFacade.currentUser(), facade.selectedProjectId(),
                                                 ProjectAuthority.REGISTRY_PROJECT_ACTIVITY_C)) {
            <p-button class='m-1'
                      severity='success'
                      outlined
                      rounded
                      [label]='registryFacade.tinyScreen() ? "" : "global.actions.create" | translate'
                      icon='pi pi-plus'
                      [routerLink]='ActivityRoutesEnum.CREATE' />
        }
    </ng-template>
</app-list>
