@import '../../../../responsive';

:host {
    --p-card-body-padding: 0;
}

.card-content-grid {
    padding: var(--basic-spacer)
}

.card-content-list {
    padding: var(--basic-spacer) 52px var(--basic-spacer) var(--basic-spacer)
}

.element-actions-container {
    position: relative;
}

.option-button {
    position: absolute;
    right:    var(--min-spacer);
    top:      var(--min-spacer);
}
