<p-card>
    <div #elementCard class='element-actions-container'>
        <div [class]='registryFacade.tinyScreen() ? "card-content-grid" : "card-content-list"'>
            @if (loading()) {
                <app-element-skeleton [withIcon]='!!icon' [layout]='registryFacade.tinyScreen() ? "grid" : "list"' />
            } @else {
                <div class='d-flex align-items-center' [class.flex-column]='registryFacade.tinyScreen()'>
                    @if (icon()) {
                        <div [class.me-3]='!registryFacade.tinyScreen()'>
                            <p-avatar [icon]='icon()' size='large' shape='circle' />
                        </div>
                    }
                    <div class='w-100'
                         [class.mt-2]='registryFacade.tinyScreen()'>
                        <ng-content />
                    </div>
                </div>
            }
        </div>

        @if ((actions().length > 0 || element().creation || element().lastEdition) && actionMenuVisible()) {
            <div class='option-button'>
                <p-popover #menu appendTo='body'>
                    @if (actions()!.length > 0) {
                        <p-menu [style]='{
                                        "border-radius": "0",
                                        "border-top": "none",
                                        "border-left": "none",
                                        "border-right": "none"
                                    }'
                                (click)='menu.toggle($event)'
                                [model]='actions()'>
                            <ng-template #item let-item>
                                <a pRipple class='d-flex align-items-center py-2 px-3 pointer'>
                                    <span [class]='item.icon'></span>&nbsp;
                                    <span class='ms-2'>{{ item.label | translate }}</span>
                                </a>
                            </ng-template>
                        </p-menu>
                    }
                    <div class='m-1 secondary-color'>
                        <small>{{ creationLabel() }}</small><br /><small>{{ lastEditionLabel() }}</small>
                    </div>
                </p-popover>
                <p-button
                        [ariaLabel]='"menu.options" | translate'
                        (onClick)='$event.stopPropagation(); menu.toggle($event)'
                        rounded
                        text
                        icon='pi pi-ellipsis-v' />
            </div>
        }
    </div>
</p-card>

@if (!registryFacade.tinyScreen()) {
    @if (actions().length > 0 && actionMenuVisible()) {
        <p-context-menu [target]='elementCard' [model]='actions()'>
            <ng-template #item let-item>
                <a pRipple class='d-flex align-items-center p-2 pointer'>
                    <span [class]='item.icon'></span>&nbsp;
                    <span class='ms-2'>{{ item.label | translate }}</span>
                </a>
            </ng-template>
        </p-context-menu>
    }
}
