.message {
    border-left:   0.3rem solid;
    border-radius: 0.3rem;
    padding:       var(--min-spacer);
}

.reversed {
    background: var(--p-contextmenu-background);
}

.secondary {
    border-color: darkgray;
}

.info {
    border-color: var(--p-blue-500);
}

.success {
    border-color: var(--p-green-500);
}

.warn {
    border-color: var(--p-yellow-500);
}

.danger, .error {
    border-color: var(--p-red-500);
}
