@if (message) {
    <div class='container'>
        <div class='row'>
            <div class='col-12 order-2 col-sm-6 order-sm-1 col-md-12 order-md-2 col-lg-6 order-lg-1'>
                <img [src]='isError ? "img/console_someone.webp" : "img/no_data.webp"'
                     style='width: 100%; max-width: 400px'
                     [alt]='(isError ? "img.console-someone" : "img.no-data") | translate' />
            </div>
            <div class='col-12 order-1 col-sm-6 order-sm-2 col-md-12 order-md-1 col-lg-6 order-lg-2 d-flex flex-column justify-content-center'>
                <div class='full-w'>
                    <p-message [severity]='message.severity'>
                        <div class='d-flex flex-column align-items-start'>
                            @if (message.summary) {
                                <div class='message-title'>
                                    {{ message.summary | translate }}
                                </div>
                            }
                            @if (message.detail) {
                                <div class='message-content mt-1'>
                                    {{ message.detail | translate: message.data }}
                                </div>
                            }
                        </div>
                    </p-message>
                </div>
                <div class='mt-2'>
                    <ng-content />
                </div>
            </div>
        </div>
    </div>
}
