@import '../../../../responsive';

.col-12 {
    padding: 0;
}

.last-refresh {
    font-weight: normal;
}

.layout {
    display: grid;
    gap:     calc(var(--min-spacer) / 2);
}

.grid {
    grid-template-columns: repeat(6, 1fr);

    @include greater-than(xxs) {
        * {
            grid-column: span 6;
        }
    }

    @include greater-than(xs) {
        * {
            grid-column: span 3;
        }
    }

    @include greater-than(md) {
        * {
            grid-column: span 6;
        }
    }

    @include greater-than(lg) {
        * {
            grid-column: span 3;
        }
    }

    @include greater-than(xl) {
        * {
            grid-column: span 2;
        }
    }
}

.list {
    grid-template-columns: repeat(1, 1fr);
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.error {
    color:      var(--p-red-500);
    text-align: center;
}
