:host {
    --icon-button-width: 3.25rem;
}

.field-container {
    min-width: calc(100% - (var(--icon-button-width) * 2));
    max-width: calc(100% - (var(--icon-button-width) * 2));

    .message-field {
        min-width: 100%;
        max-width: 100%;
    }
}

.other-field-container {
    margin-left: var(--icon-button-width);
}
