<p-card styleClass='mb-3'>
    @if (GenericUtil.isNull(facade.communication())) {
        @if (movementSelectorVisible()) {
            <div class='d-flex align-items-center'>
                <div class='field'>
                    <label for='movement'>{{ 'communications.form.movement.title' | translate }}</label>
                    <div class='other-field-container'>
                        <div class='field-container'>
                            <p-auto-complete inputId='movement'
                                             fluid
                                             completeOnFocus
                                             forceSelection
                                             optionValue='value.id'
                                             optionLabel='label'
                                             [placeholder]='"communications.form.placeholder.movement" | translate: { date: now | dateFormat: "datetime"}'
                                             [formControl]='movement'
                                             [suggestions]='facade.searchedMovementsMetadata()'
                                             (keydown.enter)='submit()'
                                             (onClear)='handleMovementSelection(undefined)'
                                             (onUnselect)='handleMovementSelection(undefined)'
                                             (onSelect)='handleMovementSelection($event.value)'
                                             (completeMethod)='handleMovementSearch($event)'>
                                <ng-template #empty>
                                    <span>{{ 'communications.form.movement.empty-search' | translate }}</span>
                                </ng-template>
                            </p-auto-complete>
                        </div>
                        <p-button icon='pi pi-times'
                                  size='small'
                                  severity='danger'
                                  rounded
                                  text
                                  (onClick)='removeMovementField()' />
                    </div>
                    <app-form-field-error [errors]='movement.errors'
                                          [invalid]='FormUtil.invalid(movement)'
                                          translationPrefix='communications.form.error.movement' />
                </div>
            </div>
        }
        @if (alertSelectorMode() === AlertModulableFieldEnum.SELECT) {
            <div class='d-flex align-items-center'>
                <div class='field other-field-container field-container'>
                    <label for='alert'>{{ 'communications.form.alert.title' | translate }}</label>
                    <p-auto-complete inputId='alert'
                                     fluid
                                     completeOnFocus
                                     forceSelection
                                     showClear
                                     optionValue='value.id'
                                     optionLabel='label'
                                     [placeholder]='"communications.form.placeholder.alert" | translate: { date: now | dateFormat: "datetime"}'
                                     [formControl]='alert'
                                     [suggestions]='facade.searchedAlertsMetadata()'
                                     (keydown.enter)='submit()'
                                     (onClear)='handleAlertSelection(undefined)'
                                     (onUnselect)='handleAlertSelection(undefined)'
                                     (onSelect)='handleAlertSelection($event.value)'
                                     (completeMethod)='handleAlertSearch($event)'>
                        <ng-template #empty>
                            <span>{{ 'communications.form.alert.empty-search' | translate }}</span>
                        </ng-template>
                    </p-auto-complete>
                    <app-form-field-error [errors]='alert.errors'
                                          [invalid]='FormUtil.invalid(alert)'
                                          translationPrefix='communications.form.error.alert' />
                </div>
                <p-button icon='pi pi-times'
                          size='small'
                          severity='danger'
                          rounded
                          text
                          (onClick)='removeAlertField()' />
            </div>
        }
        @if (alertSelectorMode() === AlertModulableFieldEnum.NEW) {
            <div class='d-flex align-items-center'>
                <div class='field other-field-container field-container'>
                    <label for='alert'>{{ 'alerts.form.title' | translate }}</label>
                    <input id='alert-title-field'
                           type='text'
                           fluid
                           pInputText
                           [placeholder]='"alerts.form.placeholder.title" | translate'
                           (keydown.enter)='submit()'
                           [formControl]='newAlertTitle' />
                    <app-form-field-error [errors]='newAlertTitle.errors'
                                          [invalid]='FormUtil.invalid(newAlertTitle)'
                                          translationPrefix='alerts.form.error.title' />
                </div>
                <p-button icon='pi pi-times'
                          size='small'
                          severity='danger'
                          rounded
                          text
                          (onClick)='removeAlertField()' />
            </div>
        }
        @if (movementSelectorVisible() || GenericUtil.nonNull(alertSelectorMode())) {
            <p-divider styleClass='other-field-container field-container' />
        }
    }
    <div class='d-flex align-items-top' [formGroup]='form'>
        @if (GenericUtil.nonNull(facade.communication())) {
            <p-button (onClick)='resetForm()' class='me-2' icon='pi pi-times' rounded text />
        } @else {
            <p-button (onClick)='menu.toggle($event)' class='me-2' icon='pi pi-plus' rounded text />
        }
        <div class='field-container'>
                <textarea pTextarea
                          fluid
                          class='message-field'
                          rows='1'
                          [placeholder]='"communications.form.message" | translate'
                          [formControl]='message'></textarea>
            <small class='secondary-color'>{{ 'communications.form.hint.message' | translate }}</small>
            <app-form-field-error [errors]='message.errors'
                                  [invalid]='FormUtil.invalid(message)'
                                  translationPrefix='communications.form.error.message' />
            <app-form-field-error [errors]='form.errors'
                                  [invalid]='FormUtil.invalid(form)'
                                  translationPrefix='communications.form.error.link' />
        </div>
        <p-button class='ms-2' outlined rounded severity='success'
                  [icon]='GenericUtil.nonNull(facade.communication()) ? "pi pi-check" : "pi pi-send"'
                  (onClick)='submit()' />
    </div>
</p-card>

<p-menu #menu [model]='actions()' appendTo='body' popup>
    <ng-template #item let-item>
        <a pRipple class='d-flex align-items-center py-2 px-3 pointer'>
            <span [class]='item.icon'></span>&nbsp;
            <span class='ms-2'>{{ item.label | translate }}</span>
        </a>
    </ng-template>
</p-menu>
