<app-form [form]='form'
          [loading]='facade.movementLoading()'
          [title]='(("movements.form.title" | formTitle: facade.movement()) + "." + (type.value ?? "none")) | translate: {
              datetime: facade.movement()?.dateTime | dateFormat: "datetime"
          }'>
    <p-card>
        <div class='field'>
            <label for='datetime' appRequired>{{ 'movements.form.datetime' | translate }}</label>
            <p-date-picker [formControl]='dateTime'
                           [showButtonBar]='true'
                           [placeholder]='"movements.form.placeholder.datetime" | translate: {
                               date: now | dateFormat: "date",
                               time: now | dateFormat: "time",
                           }'
                           [readonlyInput]='true'
                           [touchUI]='registryFacade.tinyScreen()'
                           [showTime]='true'
                           (keydown.enter)='submit()'
                           inputId='datetime'
                           fluid />
            <app-form-field-error [errors]='dateTime.errors'
                                  [invalid]='FormUtil.invalid(dateTime)'
                                  translationPrefix='movements.form.error.datetime' />
        </div>
        <div class='d-flex flex-wrap'>
            <div class='left-field field'>
                <label for='type' appRequired>{{ 'movements.form.type' | translate }}</label>
                <p-select
                        fluid
                        inputId='type'
                        [options]='facade.movementTypesMetadata()'
                        [placeholder]='"movements.form.placeholder.type" | translate'
                        [formControl]='type'
                        (keydown.enter)='submit()'
                        optionLabel='label'
                        optionValue='value' />
                <app-form-field-error [errors]='type.errors'
                                      [invalid]='FormUtil.invalid(type)'
                                      translationPrefix='movements.form.error.type' />
            </div>
            <div class='right-field field'>
                <label for='reason'>{{ 'movements.form.reason.name' | translate }}</label>
                <p-auto-complete inputId='reason'
                                 fluid
                                 completeOnFocus
                                 forceSelection
                                 showClear
                                 optionLabel='label'
                                 optionValue='value'
                                 [placeholder]='"movements.form.placeholder.reason" | translate'
                                 [formControl]='reason'
                                 [suggestions]='facade.searchedReasonAndActivityMetadata()'
                                 (keydown.enter)='submit()'
                                 (onClear)='selectedReason.set(undefined)'
                                 (onUnselect)='selectedReason.set(undefined)'
                                 (onSelect)='selectedReason.set($event.value)'
                                 (completeMethod)='handleReasonsAndActivitiesSearch($event.query)'>
                    <ng-template #empty>
                        <span>{{ 'movements.form.reason.empty-search' | translate }}</span>
                    </ng-template>
                </p-auto-complete>
                <app-form-field-error [errors]='reason.errors'
                                      [invalid]='FormUtil.invalid(reason)'
                                      translationPrefix='movements.form.error.reason' />
            </div>
        </div>
        <p-divider />
        <div class='field'>
            <span class='label' appRequired>{{ 'movements.form.content' | pluralTranslation: content.value | translate }}</span>
            <label for='content' class='secondary-color'>{{ 'movements.form.content.search' | translate }}</label>
            <app-movement-content-field [formControl]='content'
                                        [invalid]='FormUtil.invalid(content)'
                                        [suggestions]='facade.searchedParticipantAndGroupMetadata()'
                                        [selectionLabel]='"movements.form.content.selected" | pluralTranslation: content.value |
                                        translate'
                                        [emptyMessage]='"movements.form.content.empty" | translate'
                                        [fluid]='true'
                                        inputId='content'
                                        (handleSearch)='handleParticipantsAndGroupsSearch($event.query)' />
            <app-form-field-error [errors]='content.errors'
                                  [invalid]='FormUtil.invalid(content)'
                                  translationPrefix='movements.form.error.content' />
        </div>
        @if (hasVehicleOption() || vehiclesWithDrivers.controls?.length) {
            <p-divider />
            <div class='field'>
                <span class='label'
                      appRequired>{{ 'movements.form.vehicles' | pluralTranslation: vehiclesWithDrivers.length | translate }}</span>
                <label for='vehicles-drivers' class='secondary-color'>{{ 'movements.form.vehicles.search' | translate }}</label>
                <p-auto-complete class='no-autocomplete-item'
                                 multiple
                                 inputId='vehicles-drivers'
                                 [fluid]='true'
                                 [suggestions]='facade.searchedVehicleMetadata()'
                                 (onSelect)='addVehicle($event.value.value)'
                                 (completeMethod)='handleVehiclesSearch($event.query)'>
                    <ng-template #selecteditem />
                    <ng-template #empty>
                        <div class='secondary-color'>{{ 'movements.form.vehicles.empty-search' | translate }}</div>
                    </ng-template>
                </p-auto-complete>
                <div class='mt-3 secondary-color'>
                    {{
                        'movements.form.vehicles.selected' | pluralTranslation: vehiclesWithDrivers.value | translate
                    }}
                </div>
                @for (_ of vehiclesWithDrivers.controls; track $index) {
                    @let control = driver($index);
                    <div class='mt-2' [formGroup]='vehicleDriverFormGroup($index)'>
                        <div class='field'>
                            <p-inputgroup>
                                <p-inputgroup-addon>{{ VehicleUtil.toSelectItem(vehicle($index).value).label }}</p-inputgroup-addon>
                                <p-select [inputId]='"driver_" + $index' fluid
                                          [options]='drivers()'
                                          [formControl]='control'
                                          [placeholder]='"movements.form.driver.title" | translate'
                                          optionLabel='label'
                                          optionValue='value'>
                                    <ng-template #empty>
                                        <div class='secondary-color'>{{ 'movements.form.driver.empty' | translate }}</div>
                                    </ng-template>
                                </p-select>
                                <p-inputgroup-addon>
                                    <p-button icon='pi pi-times' (click)='removeVehicle($index)' severity='danger' />
                                </p-inputgroup-addon>
                            </p-inputgroup>
                            <app-form-field-error [errors]='control.errors'
                                                  [invalid]='FormUtil.invalid(control)'
                                                  translationPrefix='movements.form.error.driver' />
                        </div>
                    </div>
                } @empty {
                    <div class='list-box mt-2'>
                        <div class='item empty-message'>
                            <div class='ms-2 secondary-color'>{{ 'movements.form.vehicles.empty' | translate }}
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </p-card>
    <div class='d-flex mt-2 justify-content-center'>
        <p-button
                (click)='navigateToRedirectUri(AppRouteEnum.MOVEMENTS)'
                [label]='"global.actions.cancel" | translate'
                [outlined]='true'
                [rounded]='true' />
        <p-button
                class='ms-2'
                (click)='submit()'
                [label]='facade.movement() | formButton | translate'
                [rounded]='true'
                icon='pi pi-pen-to-square'
                severity='success' />
    </div>
</app-form>
