<app-form [form]='form' [loading]='(loading$ | async) ?? false'>
    @if (movement()) {
        <h2>
            {{
                'movement.form.title.edit.' + movement()!.type.value | translate: {
                    date: movement()?.dateTime | date: ('datetime.format.date' | translate),
                    time: movement()?.dateTime | date: ('datetime.format.time' | translate),
                }
            }}
        </h2>
    } @else {
        <h2>{{ 'movement.form.title.create' | translate }}</h2>
    }
    <p-card>
        <div class='field'>
            <label for='datetime' appRequired>{{ 'movement.form.datetime' | translate }}</label>
            <p-date-picker [formControl]='dateTime'
                           [showButtonBar]='true'
                           [placeholder]='"movement.example.datetime" | translate: {
                               date: now | date: ("datetime.format.date" | translate),
                               time: now | date: ("datetime.format.time" | translate),
                           }'
                           [readonlyInput]='true'
                           [touchUI]='isMobile()'
                           [showTime]='true'
                           (keydown.enter)='submit()'
                           inputId='datetime'
                           fluid />
            <app-form-field-error [control]='dateTime'
                                  translationPrefix='movement.form.error.date-time' />
        </div>
        <div class='field'>
            <label for='type' appRequired>{{ 'movement.form.type' | translate }}</label>
            <p-select
                    fluid
                    inputId='type'
                    [options]='(movementTypes$ | async) ?? []'
                    [placeholder]='"movement.example.type" | translate'
                    [formControl]='type'
                    (keydown.enter)='submit()'
                    optionLabel='label'
                    optionValue='value' />
            <app-form-field-error [control]='type'
                                  translationPrefix='movement.form.error.type' />
        </div>
        <p-divider />
        <div class='field'>
            <span class='label' appRequired>{{ 'movement.form.content' | translate }}</span>
            <div class='form-decorator p-2'>
                <div class='field'>
                    <label for='content' class='secondary-color'>{{ 'movement.form.content-search' | translate }}</label>
                    <app-movement-content-field [formControl]='content'
                                                [suggestions]='(contentSuggestions$ | async) ?? []'
                                                inputId='content'
                                                (handleSearch)='handleSearch($event.query)' />
                </div>
                <app-form-field-error [control]='content'
                                      translationPrefix='movement.form.error.participants' />
            </div>
        </div>
    </p-card>
    <div class='d-flex mt-2 justify-content-center'>
        <p-button
                (click)='navigateToRedirectUri()'
                [label]='"cancel" | translate'
                [outlined]='true'
                [rounded]='true' />

        @if (movement()) {
            <p-button
                    class='ms-2'
                    (click)='submit()'
                    [label]='"edit" | translate'
                    [rounded]='true'
                    icon='pi pi-pen-to-square'
                    severity='success' />
        } @else {
            <p-button
                    class='ms-2'
                    (click)='submit()'
                    [label]='"create" | translate'
                    [rounded]='true'
                    icon='pi pi-plus'
                    severity='success' />
        }
    </div>
</app-form>
