.no-autocomplete-item {
    ::ng-deep {
        .p-autocomplete-input-multiple {
            gap: 0;
        }
    }
}

.list-box {
    margin:        0;
    padding:       0;
    border-radius: 0.5rem;
    border:        1px solid var(--p-form-field-border-color);
    background:    var(--p-autocomplete-dropdown-hover-background);
}

.empty-message {
    padding: 0.5rem;
}

.item {
    list-style-type: none;
    margin:          0;
}
