<div class='navbar' [class.hidden]='!showNavbar()'>
    <p-menubar id='main-menu' [model]='menuItems()'>
        <ng-template #start>
            <div class='d-flex align-items-center'>
                @if (showContextMenu()) {
                    <p-button text rounded [routerLink]='AppRouteEnum.PROJECTS' icon='pi pi-arrow-left'
                              [label]='registryFacade.tinyScreen() ? "" : registryFacade.selectedProject()?.name'></p-button>
                } @else {
                    <a [tabIndex]='-1'
                       [routerLink]='AppRouteEnum.PROJECTS.toString()'
                       [attr.href]='AppRouteEnum.PROJECTS.toString()'>
                        <img
                                [alt]="'menu.home' | translate"
                                [src]='registryFacade.logoPath()!'
                                class='pointer'
                                height='60' />
                    </a>
                }
            </div>
        </ng-template>
        <ng-template #item let-item>
            <a class='menu-item card clickable-card pointer'
               [class.router-active-card]='StringUtil.isRouteActive(item.url)'
               [routerLink]='item.url'
               [attr.href]='item.url'>
                <i [class]='item.icon'></i>
                <span>{{ item.label | translate | truncate: maxMenuTextLength }}</span>
            </a>
        </ng-template>
        <ng-template #end>
            @if (registryFacade.currentUser()) {
                <p-button (onClick)='userMenu.toggle($event)' [text]='registryFacade.tinyScreen()'>
                    <p-avatar [textContent]='initials()' shape='circle' />
                    @if (!registryFacade.tinyScreen()) {
                        <div>
                            <b>{{ displayName() }}</b>
                            @if (role()) {
                                <br />
                                <span class='secondary-color'>{{ role() }}</span>
                            }
                        </div>
                        <div>
                            <i class='pi pi-angle-down'></i>
                        </div>
                    }
                </p-button>
            }
        </ng-template>
    </p-menubar>
    @if (showContextMenu()) {
        <p-menubar [model]='contextMenuItems()'>
            <ng-template #item let-item>
                <a class='context-menu-item card clickable-card pointer'
                   [class.router-active-card]='GenericUtil.nonNull(item.url) ? StringUtil.isRouteActive(item.url) : false'
                   [routerLink]='item.url'
                   [attr.href]='item.url'>
                    <i [class]='item.icon'></i>
                    <span>{{ item.label | translate | truncate: maxMenuTextLength }}</span>
                    @if (item.items && item.items.length > 0) {
                        <span class='ms-1'> <i class='pi pi-angle-down'></i></span>
                    }
                </a>
            </ng-template>
        </p-menubar>
    }
</div>

<div [style]='{ "height": showContextMenu() ? "140px" : "82px" }'></div>

<p-popover #userMenu appendTo='body'>
    <p-menu [model]='userMenuItems'
            [style]='{
                "border": "none",
            }'>
        <ng-template #item let-item>
            <a pRipple class='d-flex align-items-center py-2 px-3 pointer' [routerLink]='item.url'>
                <span [class]='item.icon'></span>&nbsp;
                <span class='ms-2'>{{ item.label | translate }}</span>
            </a>
        </ng-template>
    </p-menu>
    <div class='d-flex align-items-center justify-content-center mt-1 mb-2'>
        <p-button
                size='small'
                (onClick)='logout()'
                [label]="'global.actions.sign-out' | translate"
                rounded
                icon='pi pi-sign-out' />
    </div>
</p-popover>
