<app-element-card [element]='communication()'
                  [actions]='actions()'
                  [actionMenuVisible]='actionMenuVisible()'
                  (action)='showDialogIfNeeded($event)'
                  [icon]='ProjectOptionEnum.COMMUNICATION | optionIcon'>
    <div class='element-card'>
        <div class='info d-flex flex-column justify-content-center'>
            <div class='d-flex'>
                <app-severity-circle class='me-2' [severity]='communication().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER' />
                <b>{{ communication().dateTime | dateFormat: 'datetime' }}</b>
            </div>
        </div>
        <div class='content'>
            <div class='d-flex mt-1 align-content-center' [class.justify-content-center]='registryFacade.tinyScreen()'>
                <i [class]='ProjectOptionEnum.ACTIVITY | optionIcon'></i>
                <span class='ms-1'>{{
                        'communications.movement-activity' | translate: {
                            activity: communication().movement.reason?.label,
                            datetime: communication().dateTime | dateFormat: 'datetime'
                        }
                    }}</span>
            </div>
            @if (communication().message) {
                <div class='d-flex mt-2'>
                    <i class='pi pi-send'></i>
                    <span class='ms-1'>{{ communication().message }}</span>
                </div>
            }
        </div>
    </div>
</app-element-card>

<app-confirmation-dialog
        [loading]='facade.communicationLoading()'
        [element]='communication()'
        [action]='action()'
        (hide)='action.set(undefined)'
        (handleAction)='handleAction($event)' />
