.info {
    flex-basis: 100%;
}

.content {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .info {
        flex-basis: 40%;
    }

    .content {
        flex-basis: 60%;
    }
}

@media (min-width: 1140px) {
    .info {
        flex-basis: 30%;
    }

    .content {
        flex-basis: 70%;
    }
}

