.project-name {
    font-size:   16px;
    font-weight: 700;
}

.project-info,
.options-and-status,
.action-button {
    gap:        var(--min-spacer);
    flex-basis: 100%;
}

@media (min-width: 992px) {
    .project-info {
        flex-basis: 100%;
    }

    .options-and-status {
        flex-basis: 70%;
    }

    .action-button {
        flex-basis: 30%;
    }
}

@media (min-width: 1140px) {
    .project-info {
        flex-basis: 30%;
    }

    .options-and-status {
        flex-basis: 55%;
    }

    .action-button {
        flex-basis: 15%;
    }
}

::ng-deep {
    .max-list-box-height {
        height: 100%;
    }
}
