<app-list (updateRequired)='loadPage($event)'
          [elementPage]='registryFacade.userEventProfileInvitationsPage()'
          [error]='registryFacade.userEventProfileInvitationsPageError()'
          [loading]='registryFacade.userEventProfileInvitationsPageLoading()'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='row'>
            <div class='col-12 col-sm-6 col-md-12 col-lg-6 search-field'>
                <label for='invitation-text-search-field'>{{ 'preferences.search-and-filter.text' | translate }}</label>
                <input id='invitation-text-search-field'
                       type='text'
                       pInputText
                       (keydown.enter)='loadPage(pageEvent)'
                       [formControl]='textSearched' />
            </div>
            <div class='col-12 col-sm-6 col-md-12 col-lg-6 search-field'>
                <label for='invitation-date-time-search-field'>{{ 'preferences.search-and-filter.datetime' | translate }}</label>
                <p-date-picker [formControl]='dateTimeSearched'
                               [showButtonBar]='true'
                               [readonlyInput]='true'
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               inputId='invitation-date-time-search-field'
                               selectionMode='range'
                               fluid />
            </div>
        </div>
        <div class='d-flex flex-wrap justify-content-center pt-2'>
            <p-button (click)='loadPage(pageEvent)'
                      [label]='"global.actions.search-and-filter" | translate'
                      [outlined]='true'
                      [rounded]='true'
                      icon='pi pi-search'
                      [loading]='registryFacade.userEventProfileInvitationsPageLoading() || registryFacade.userEventProfileInvitationsPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='element' let-profile>
        <app-event-profile-element [profile]='profile' view='user' />
    </ng-template>
</app-list>
