<p-auto-complete multiple
                 group
                 class='no-autocomplete-item'
                 appendTo='body'
                 [inputId]='inputId()'
                 [fluid]='fluid()'
                 [suggestions]='suggestions()'
                 (onSelect)='handleElementSelection($event.value)'
                 (completeMethod)='handleSearch.emit($event)'>
    <ng-template #selecteditem />
    <ng-template #empty>
        <div class='secondary-color'>{{ emptyMessage() }}</div>
    </ng-template>
</p-auto-complete>
<div class='secondary-color mt-3'>
    {{ selectionLabel() }}
</div>
<ul class='list-box mt-2' [class.invalid]='invalid()'>
    @for (participant of orphanParticipants(); track participant.id) {
        <li class='item list-item full-w d-flex align-items-center justify-content-between' [attr.data-value]='participant.id'>
            <div class='ms-3'>{{ ParticipantUtil.toSelectItem(participant).label }}</div>
            <p-button icon='pi pi-times'
                      size='small'
                      severity='danger'
                      rounded
                      text
                      (onClick)='handleParticipantRemoving(participant.id)' />
        </li>
    } @empty {
        <li class='item empty-message'>
            <div class='ms-2 secondary-color'
                 [class.invalid]='invalid()'>{{ emptyMessage() }}
            </div>
        </li>
    }
</ul>
@for (groupName of Object.keys(groups()); track groupName) {
    <div class='full-w d-flex align-items-center justify-content-between'>
        <div>
            {{ 'movements.form.content.registered.group' | translate: { name: groupName } }}
        </div>
        <p-button icon='pi pi-times'
                  size='small'
                  severity='danger'
                  rounded
                  text
                  (onClick)='handleGroupRemoving(groupName)' />
    </div>
    <ul class='list-box'>
        @for (member of groups()[groupName]; track member.id) {
            <li class='item list-item full-w d-flex align-items-center justify-content-between' [attr.data-value]='member.id'>
                <div class='ms-3'>{{ ParticipantUtil.toSelectItem(member).label }}</div>
                <p-button icon='pi pi-times'
                          size='small'
                          severity='danger'
                          rounded
                          text
                          (onClick)='handleParticipantRemoving(member.id)' />
            </li>
        }
    </ul>
}
