<app-list (updateRequired)='loadPage($event)'
          [elementPage]='facade.projectsPage()'
          [error]='facade.projectsPageError()'
          [loading]='facade.projectsPageLoading()'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='field'>
            <label for='text-search-field'>{{ 'projects.search-and-filter.text' | translate }}</label>
            <input id='text-search-field'
                   type='text'
                   fluid
                   pInputText
                   (keydown.enter)='loadPage(pageEvent)'
                   [formControl]='textSearched' />
        </div>
        <div class='d-grid search-line g-2'>
            <div class='field'>
                <label for='date-time-search-field'>{{ 'projects.search-and-filter.datetime' | translate }}</label>
                <p-date-picker inputId='date-time-search-field'
                               fluid
                               showButtonBar
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='dateTimeSearched' />
            </div>
            <div class='field'>
                <label for='visibility-search-field'>{{ 'projects.search-and-filter.visibility' | translate }}</label>
                <p-select inputId='visibility-search-field'
                          fluid
                          [options]='facade.visibilitiesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='visibilitySearched' />
            </div>
        </div>
        <div class='d-flex justify-content-around'>
            @if (CurrentUserUtil.hasUserAuthority(registryFacade.currentUser(), UserAuthority.REGISTRY_PROJECT_R)) {
                <div class='d-flex align-items-center'>
                    <label for='with-profile-search-field'
                           class='me-2'>{{ 'projects.search-and-filter.with-profile' | translate }}</label>
                    <p-toggle-switch inputId='with-profile-search-field'
                                     (onChange)='loadPage(pageEvent)'
                                     [formControl]='withProfile' />
                </div>
            }
            <p-button (onClick)='loadPage(pageEvent)'
                      [label]='"global.actions.search-and-filter" | translate'
                      outlined
                      rounded
                      icon='pi pi-search'
                      [loading]='facade.projectsPageLoading() || facade.projectsPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='creation'>
        @if (CurrentUserUtil.hasUserAuthority(registryFacade.currentUser(), UserAuthority.REGISTRY_PROJECT_C)) {
            <p-button class='m-1'
                      severity='success'
                      outlined
                      rounded
                      [label]='registryFacade.tinyScreen() ? "" : "global.actions.create" | translate'
                      icon='pi pi-plus'
                      [routerLink]='ProjectRoutesEnum.CREATE' />
        }
    </ng-template>
    <ng-template appTemplate='element' let-project>
        <app-project-element [project]='project' />
    </ng-template>
</app-list>
