@if (form.untouched && facade.eventLoading()) {
    <div class='d-flex justify-content-center'>
        <p-progressSpinner></p-progressSpinner>
    </div>
} @else {
    <h2>{{ 'events.form.title' | formTitle: facade.event() | translate : { name: facade.event()?.name } }}</h2>
    <p-stepper [(value)]='activeTab' [value]='1' [linear]='true'>
        <p-step-item [value]='1'>
            <p-step>{{ 'events.form.subtitle.information' | translate }}</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback='activateCallback'>
                    <div class='p-2'>
                        <div class='field'>
                            <label for='name' appRequired>{{ 'events.form.name' | translate }}</label>
                            <input [formControl]='name'
                                   [placeholder]='"events.form.placeholder.name" | translate'
                                   id='name'
                                   pInputText
                                   type='text' />
                            <app-form-field-error [errors]='name.errors'
                                                  [invalid]='FormUtil.invalid(name)'
                                                  translationPrefix='events.form.error.name' />
                        </div>
                        <div class='d-flex flex-wrap'>
                            <div class='left-field field'>
                                <label for='begin-date-time'>{{ 'events.form.begin-datetime' | translate }}</label>
                                <app-date-time-field [formControl]='beginDateTime'
                                                     [invalid]='FormUtil.invalid(beginDateTime)'
                                                     inputId='begin-date-time'
                                                     [datePlaceholder]='"events.form.placeholder.date" | translate: {
                                                            date: startDateExample | dateFormat: "date"
                                                         }'
                                                     [timePlaceholder]='"events.form.placeholder.time" | translate: {
                                                            date: startDateExample | dateFormat: "time"
                                                         }' />
                                <app-form-field-error [errors]='beginDateTime.errors'
                                                      [invalid]='FormUtil.invalid(beginDateTime)'
                                                      translationPrefix='events.form.error.begin-datetime' />
                            </div>
                            <div class='right-field field'>
                                <label for='end-date-time'>{{ 'events.form.end-datetime' | translate }}</label>
                                <app-date-time-field [formControl]='endDateTime'
                                                     [invalid]='FormUtil.invalid(endDateTime)'
                                                     inputId='end-date-time'
                                                     [datePlaceholder]='"events.form.placeholder.date" | translate: {
                                                            date: endDateExample | dateFormat: "date"
                                                         }'
                                                     [timePlaceholder]='"events.form.placeholder.time" | translate: {
                                                            date: endDateExample | dateFormat: "time"
                                                         }' />
                                <app-form-field-error [errors]='endDateTime.errors'
                                                      [invalid]='FormUtil.invalid(endDateTime)'
                                                      translationPrefix='events.form.error.end-datetime' />
                            </div>
                        </div>
                        <app-form-field-error [errors]='form.errors'
                                              [invalid]='FormUtil.invalid(form) && beginDateTime.valid && endDateTime.valid'
                                              translationPrefix='events.form.error.date-range' />
                        <div class='d-flex pt-4 justify-content-between'>
                            <p-button
                                    (onClick)='navigateToRedirectUri(nextNavigation)'
                                    [label]='"global.actions.cancel" | translate'
                                    text
                                    rounded />
                            <p-button
                                    (onClick)='FormUtil.isFormValid(form) ? activateCallback(2) : undefined'
                                    [label]='registryFacade.tinyScreen() ? "" : "global.actions.next" | translate'
                                    rounded
                                    outlined
                                    icon='pi pi-arrow-down'
                                    iconPos='right' />
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]='2'>
            <p-step>
                {{ 'events.form.subtitle.option' | pluralTranslation: facade.eventOptionsMetadata() | translate }}
            </p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback='activateCallback'>
                    <div class='p-2'>
                        <div class='switch-field select-all-field'>
                            <label for='select-all'>{{ 'events.options.select-all' | translate }}</label>
                            <p-checkbox binary
                                        (onChange)='selectAll($event)'
                                        [(ngModel)]='allSelected'
                                        [indeterminate]='allSelected === undefined'
                                        inputId='select-all' />
                        </div>
                        <p-divider />
                        <div [formGroup]='optionsForm'>
                            @for (option of facade.eventOptionsMetadata(); track option.value) {
                                @let control = getOptionControl(option.value);
                                <div class='field'>
                                    <div class='switch-field option-field'>
                                        <label [for]='option.value'>
                                            <i [class]='option.value | optionIcon'></i>
                                            {{ option.ask }}
                                            <b> ({{ option.label }})</b>
                                        </label>
                                        <p-checkbox [formControl]='control'
                                                    binary
                                                    [inputId]='option.value' />
                                    </div>
                                    <app-form-field-error [errors]='control.errors'
                                                          [invalid]='FormUtil.invalid(control)'
                                                          translationPrefix='events.form.error.options' />
                                </div>
                                @if (!$last) {
                                    <p-divider />
                                }
                            }
                        </div>
                        @if (optionsForm.hasError('preRequiredOptions')) {
                            <p-message severity='error'
                                       variant='simple'>{{
                                    'events.form.error.options.preRequiredOptions' | translate:
                                        optionsForm.getError('preRequiredOptions')
                                }}
                            </p-message>
                        }
                        <div class='d-flex pt-4 justify-content-between'>
                            <p-button
                                    (onClick)='activateCallback(1)'
                                    [label]='registryFacade.tinyScreen() ? "" :"global.actions.previous" | translate'
                                    icon='pi pi-arrow-up'
                                    text
                                    rounded />
                            <p-button
                                    class='ms-2'
                                    (onClick)='submit()'
                                    [label]='registryFacade.tinyScreen() ? "" : facade.event() | formButton | translate'
                                    rounded
                                    outlined
                                    [icon]='facade.event() | formIcon'
                                    severity='success' />
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>
    </p-stepper>
}
