h3 {
    margin-top: 0;
}

h4 {
    margin-top: 0;
}

.switch-field {
    display:        flex;
    align-items:    center;
    flex-direction: row;
}

.select-all-field {
    justify-content: right;
    gap:             var(--basic-spacer);;
}

.option-field {
    justify-content: space-between;
}

::ng-deep {
    .p-stepitem:last-of-type .p-steppanel {
        padding-inline-start: 0;
    }
}
