<nz-card nzType="inner" [nzTitle]="header" [nzBodyStyle]="{ padding: '0' }">
	<div class="grid">
		<a class="tile" routerLink="/users">
			<svg lucideUsers></svg>
			{{ 'home.shortcuts.users' | transloco }}
		</a>
		<a class="tile" routerLink="/my-account">
			<svg lucideSettings></svg>
			{{ 'home.shortcuts.myAccount' | transloco }}
		</a>
		<a class="tile" routerLink="/my-accesses">
			<svg lucideShieldCheck></svg>
			{{ 'home.shortcuts.myAccesses' | transloco }}
		</a>
		@if (helpCenterUrl(); as url) {
			<a class="tile" [href]="url" target="_blank" rel="noopener noreferrer">
				<svg lucideCircleHelp></svg>
				{{ 'home.shortcuts.helpCenter' | transloco }}
			</a>
		}
	</div>
</nz-card>

<ng-template #header>
	<h2>
		<svg lucideGauge></svg>
		{{ 'home.shortcuts.title' | transloco }}
	</h2>
</ng-template>
