@import '../../../responsive';

.current-user {
    margin: var(--basic-spacer) 0;

    .name-container {
        align-items:    center;
        display:        flex;
        flex-direction: row;
        flex-wrap:      wrap;
        gap:            var(--basic-spacer);
    }

    @include less-than(sm) {
        .name-container {
            flex-direction: column;
        }
    }

    .name {
        font-size:   2em;
        font-weight: bold;
    }

    .email {
        color:           var(--text-color);
        text-decoration: none;
    }
}
