@if (registryFacade.currentUser()) {
    <app-element-card [element]='registryFacade.currentUser()!'
                      [actions]='actions'
                      (action)='handleAction($event)'
                      icon='pi pi-user'>
        <div class='current-user'>
            <div class='name-container'>
                <span
                        class='name'>{{ (registryFacade.currentUser()!.firstName | titlecase) + ' ' + (registryFacade.currentUser()!.lastName | uppercase) }}</span>
                @if (registryFacade.currentUser()!.role) {
                    <div>
                        <p-tag [value]='registryFacade.currentUser()!.role!.label'
                               severity='info'>
                            <ng-template #icon>
                                <i class='pi pi-sparkles'></i>
                            </ng-template>
                        </p-tag>
                    </div>
                }
            </div>
            <div class='ms-1 me-1'>
                <a class='email'
                   href='mailto:{{ registryFacade.currentUser()!.email }}'><i>{{ registryFacade.currentUser()!.email }}</i></a>
            </div>
        </div>
    </app-element-card>
}
<p-tabs [value]='activeIndex' [scrollable]='true' (valueChange)='tabNavigation($event)' class='mt-2'
        [class.mt-5]='!registryFacade.tinyScreen()'>
    <p-tablist>
        <p-tab [value]='AppRouteEnum.PREFERENCES_PROFILES'>
            {{
                'preferences.profiles-tab.profile' | pluralTranslation:
                    (registryFacade.userEventProfilesPage()?.content?.length ?? 0) |
                    translate
            }}
        </p-tab>
        <p-tab [value]='AppRouteEnum.PREFERENCES_INVITATIONS'>
            {{
                'preferences.profiles-tab.invitation' | pluralTranslation:
                    (registryFacade.userEventProfileInvitationsPage()?.content?.length ?? 0)
                    | translate
            }}
        </p-tab>
    </p-tablist>
</p-tabs>
<router-outlet />
