<app-form [form]='form' [loading]='loading()' [error]='error()'>
    <h2>{{ 'project-profiles.form.title.create' | transloco : { name: sessionFacade.selectedProject()?.name } }}</h2>
    <p-card>
        <div>
            <div class='field'>
                <label for='role' appRequired>{{ 'project-profiles.form.role' | transloco }}</label>
                <p-select
                        inputId='role'
                        fluid
                        [loading]='!facade.projectProfileAssignableRolesMetadata()'
                        [options]='facade.projectProfileAssignableRolesMetadata()'
                        [formField]='form.role'
                        [placeholder]='"project-profiles.form.placeholder.role" | transloco: {
                            role: facade.projectProfileAssignableRolesMetadata().length > 0
                                ? facade.projectProfileAssignableRolesMetadata()[0].label
                                : ""
                        }'
                        (keydown.enter)='submit()'
                        optionLabel='label'
                        optionValue='value' />
                <app-field-error [field]='form.role' translationPrefix='project-profiles.form.error.role' />
            </div>
            <div class='flex flex-wrap'>
                <div class='left-field field'>
                    <label for='begin-date-time'>{{ 'project-profiles.form.begin-datetime' | transloco }}</label>
                    <app-date-time-field [formField]='form.beginDateTime'
                                         [invalid]='fieldInvalid(form.beginDateTime)'
                                         inputId='begin-date-time'
                                         [datePlaceholder]='"project-profiles.form.placeholder.date" | transloco: {
                                                            date: startDateExample | dateFormat: "date"
                                                         }'
                                         [timePlaceholder]='"project-profiles.form.placeholder.time" | transloco: {
                                                            date: startDateExample | dateFormat: "time"
                                                         }' />
                    <small class='secondary-color'>{{ 'project-profiles.form.hint.begin-date-time' | transloco }}</small>
                    <app-field-error [field]='form.beginDateTime' translationPrefix='project-profiles.form.error.begin-datetime' />
                </div>
                <div class='right-field field'>
                    <label for='end-date-time'>{{ 'project-profiles.form.end-datetime' | transloco }}</label>
                    <app-date-time-field [formField]='form.endDateTime'
                                         [invalid]='fieldInvalid(form.endDateTime)'
                                         inputId='end-date-time'
                                         [datePlaceholder]='"project-profiles.form.placeholder.date" | transloco: {
                                                            date: startDateExample | dateFormat: "date"
                                                         }'
                                         [timePlaceholder]='"project-profiles.form.placeholder.time" | transloco: {
                                                            date: startDateExample | dateFormat: "time"
                                                         }' />
                    <small class='secondary-color'>{{ 'project-profiles.form.hint.end-date-time' | transloco }}</small>
                    <app-field-error [field]='form.endDateTime' translationPrefix='project-profiles.form.error.end-datetime' />
                </div>
            </div>
            @if (form.beginDateTime().valid() && form.endDateTime().valid()) {
                <app-field-error [field]='form' translationPrefix='project-profiles.form.error.date-range' />
            }
            <p-divider />
            <div class='field'>
                <span class='label'
                      appRequired>{{ 'project-profiles.form.users' | pluralTranslation: model().users | transloco }}</span>
                <label for='users' class='secondary-color'>{{ 'project-profiles.form.users.search' | transloco }}</label>
                <app-select-elements-field [formField]='form.users'
                                           [fluid]='true'
                                           [multiple]='true'
                                           [invalid]='fieldInvalid(form.users)'
                                           [selectionLabel]='"project-profiles.form.users.selected" | pluralTranslation:
                                           model().users.length | transloco'
                                           [emptyMessage]='"project-profiles.form.users.empty" | transloco'
                                           [emptySelectionMessage]='"project-profiles.form.users.empty-search" | transloco'
                                           [suggestions]='facade.searchedUsersMetadata()'
                                           [selectItemBuilder]='UserHelper.toSelectItem'
                                           inputId='users'
                                           (handleSearch)='handleSearch($event.query)' />
                <app-field-error [field]='form.users' translationPrefix='project-profiles.form.error.users' />
            </div>
        </div>
    </p-card>
    <div class='flex pt-6 justify-center items-center'>
        <p-button
                (onClick)='navigateToRedirectUri()'
                [label]='"global.actions.cancel" | transloco'
                text
                rounded />
        <p-button
                class='ms-2'
                (onClick)='submit()'
                [label]='"project-profiles.actions.invite-user" | pluralTranslation: model().users.length | transloco'
                rounded
                outlined
                icon='pi pi-user-plus'
                [disabled]='saving()'
                severity='success' />
    </div>
</app-form>
