<app-element-card [element]='element'
                  [actions]='actions'
                  (action)='handleAction($event)'
                  [layout]='layout'
                  icon='pi pi-calendar'>
    <div [class.flex-lg-row]='layout === "list"' [class.flex-column]='layout === "grid"'
         class='d-flex flex-wrap justify-content-between align-items-center'>
        <div class='info d-flex flex-column justify-content-center p-1' [class.align-items-center]='layout === "grid"'>
            <div>
                <span [class.strikethrough]='element.end | isPast' class='event-name'>
                    {{ element.name }}
                </span>
                @if (element.end | isPast) {
                    <i> ({{ 'finished' | translate }})</i>
                }
            </div>
            @if (element.begin) {
                <div class='d-flex mt-1 align-items-center'>
                    <i class='pi pi-play-circle'></i>
                    <span class='ms-2'>
                        {{
                            'datetime.datetime' | translate: {
                                date: element.begin | date: ('datetime.format.date' | translate),
                                time: element.begin | date: ('datetime.format.time' | translate),
                            }
                        }}
                    </span>
                </div>
            }
            @if (element.end) {
                <div class='d-flex align-items-center'>
                    <i class='pi pi-stop-circle'></i>
                    <span class='ms-2'>
                    {{
                            'datetime.datetime' | translate: {
                                date: element.end | date: ('datetime.format.date' | translate),
                                time: element.end | date: ('datetime.format.time' | translate),
                            }
                        }}
                    </span>
                </div>
            }
        </div>
        <div class='options d-flex flex-wrap p-1' [class.justify-content-center]='layout === "grid"'>
            <p-chip *ngFor='let option of element.options; let i = index'
                    [class.ms-1]='i > 0'
                    [icon]='option.value | optionIcon'
                    [label]='option.label' />
        </div>
    </div>
</app-element-card>
