<app-element-card [element]='user()'
                  [actions]='actions()'
                  [actionMenuVisible]='actionMenuVisible()'
                  icon='pi pi-user'>
    <div class='element-card'>
        <div class='user-info basis-full xl:basis-[30%]'>
            <div class='user-name flex'
                 [class.justify-center]='uiFacade.tinyScreen()'>
                <span class='cursor-pointer hover:underline'
                      tabindex='1'
                      (click)='copied()'
                      (keydown.enter)='copied()'
                      [cdkCopyToClipboard]='user().email'>
                    {{ (user().firstName | titlecase) + ' ' + (user().lastName | uppercase) }}
                </span>
            </div>
        </div>
        @if (GenericHelper.nonNull(user().birthday)) {
            <div class='birthday flex content-center basis-full sm:basis-1/2 xl:basis-[25%]' [class.justify-center]='uiFacade.tinyScreen()'>
                <i class='pi pi-gift'></i>
                <span class='ms-2'>{{ user().birthday | dateFormat: 'date' }}</span>
            </div>
        }
        @if (GenericHelper.nonNull(user().role)) {
            <div class='role flex basis-full sm:basis-1/2 xl:basis-[30%]' [class.justify-center]='uiFacade.tinyScreen()'>
                <app-severity-tag [value]='user().role!.label!' />
            </div>
        }
        @if (GenericHelper.nonNull(user().visible)) {
            <div class='status flex basis-full xl:basis-[15%]' [class.justify-center]='uiFacade.tinyScreen()'>
                <app-severity-tag
                        [severity]='user().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER'
                        [value]='user() | visibilityName: "users" | transloco' />
            </div>
        }
    </div>
</app-element-card>
