@import '../../../../theme.less';

:host {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
	background: tint(@primary-color, 92%);
	color: @primary-color;
}

svg {
	width: 45%;
	height: 45%;
}
