@import '../../../../responsive';

:host {
    .non-visible {
        --p-card-background: var(--surface-c);
    }
}

.element-actions-container {
    position: relative;
}

.option-button {
    position: absolute;
    right:    var(--min-spacer);
    top:      var(--min-spacer);
}
