<app-list (updateRequired)='loadPage($event)'
          [elementPage]='facade.movementsPage()'
          [error]='facade.movementsPageError()'
          [loading]='facade.movementsPageLoading()'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='d-grid search-line'>
            <div class='field'>
                <label for='start-date-time-search-field'>{{ 'movements.search-and-filter.start-datetime' | translate }}</label>
                <p-date-picker inputId='start-date-time-search-field'
                               fluid
                               showButtonBar
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='startDateTimeSearched' />
            </div>
            <div class='field'>
                <label for='end-date-time-search-field'>{{ 'movements.search-and-filter.end-datetime' | translate }}</label>
                <p-date-picker inputId='end-date-time-search-field'
                               fluid
                               showButtonBar
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='endDateTimeSearched' />
            </div>
        </div>
        <div class='d-grid search-line'>
            <div class='field'>
                <label for='type-search-field'>{{ 'movements.search-and-filter.type' | translate }}</label>
                <p-select inputId='type-search-field'
                          fluid
                          [loading]='!facade.movementTypesMetadata()'
                          [options]='facade.movementTypesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='typeSearched' />
            </div>
            <div class='field'>
                <label for='visibility-search-field'>{{ 'movements.search-and-filter.visibility' | translate }}</label>
                <p-select inputId='visibility-search-field'
                          fluid
                          [options]='facade.visibilitiesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='visibilitySearched' />
            </div>
        </div>
        <div class='d-flex justify-content-center'>
            <p-button (onClick)='loadPage(pageEvent)'
                      [label]='"global.actions.search-and-filter" | translate'
                      outlined
                      rounded
                      icon='pi pi-search'
                      [loading]='facade.movementsPageLoading() || facade.movementsPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='element' let-movement>
        <app-movement-element [movement]='movement' />
    </ng-template>
    <ng-template appTemplate='creation'>
        @if (CurrentUserUtil.hasProjectAuthority(registryFacade.currentUser(), facade.selectedProjectId(), ProjectAuthority.REGISTRY_PROJECT_MOVEMENT_C)) {
            <p-button class='m-1'
                      severity='success'
                      outlined
                      rounded
                      [label]='registryFacade.tinyScreen() ? "" : "global.actions.create" | translate'
                      icon='pi pi-plus'
                      [routerLink]='MovementRoutesEnum.CREATE' />
        }
    </ng-template>
</app-list>
