@import '../../../../../../responsive';

.activity-name {
    font-size:   16px;
    font-weight: 700;
}

.activity-info, {
    flex-basis: 100%;
}

.duration,
.participants,
.status {
    flex-basis: 50%;
}

@media (min-width: 768px) {
    .activity-info, {
        flex-basis: 100%;
    }

    .duration,
    .participants,
    .status {
        flex-basis: 50%;
    }
}

@media (min-width: 1140px) {
    .activity-info {
        flex-basis: 30%;
    }

    .duration,
    .participants {
        flex-basis: 20%;
    }

    .status {
        flex-basis: 30%;
    }
}

.description {
    width:            100%;
    background-color: var(--p-contextmenu-background);
    border-radius:    0.5rem;
    text-align:       justify;
}
