<app-element-card [element]='activity()'
                  [actions]='actions()'
                  [actionMenuVisible]='actionMenuVisible()'
                  (action)='showDialogIfNeeded($event)'
                  icon='pi pi-hammer'>
    <div class='element-card'>
        <div class='activity-info d-flex flex-column justify-content-center'>
            <div class='activity-name d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                <app-severity-circle class='me-2' [severity]='activity().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER' />
                {{ activity().name }}
            </div>
            @if (activity().startAvailability) {
                <div class='d-flex mt-1 align-items-center' [class.justify-content-center]='registryFacade.tinyScreen()'>
                    <i class='pi pi-play-circle'></i>
                    <span class='ms-1'>{{ activity().startAvailability | customDateFormat }}</span>
                </div>
            }
            @if (activity().endAvailability) {
                <div class='d-flex align-items-center'
                     [class.justify-content-center]='registryFacade.tinyScreen()'
                     [class.mt-1]='!activity().startAvailability'>
                    <i class='pi pi-stop-circle'></i>
                    <span class='ms-1'>{{ activity().endAvailability | customDateFormat }}</span>
                </div>
            }
        </div>
        <div class='participants d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <p-tag icon='pi pi-hourglass' [value]='activity().duration?.label' />
        </div>
        <div class='duration d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <p-tag icon='pi pi-users'
                   [value]='activity().allowedParticipants ? activity().allowedParticipants!.lower + "-" +
                   activity().allowedParticipants!.upper : "activities.participant.zero" | translate' />
        </div>
        <div class='status d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            @if (intervalStatus()) {
                <app-severity-tag [severity]='intervalStatus()?.status === IntervalStatusEnum.IN_PROGRESS ? SeverityEnum.SUCCESS : intervalStatus()?.status ===
                IntervalStatusEnum.FINISHED ? SeverityEnum.WARNING : SeverityEnum.INFO'
                                  [value]='intervalStatus() | intervalFormat:"activities.status" | translate: { interval:
                                  buildInterval(intervalStatus()!.interval!) }' />
            }
        </div>
    </div>
    @if (activity().description) {
        <div class='description mt-3'>
            <b>{{ 'activities.description' | translate }}</b>{{ activity().description }}
        </div>
    }
</app-element-card>

<app-confirmation-dialog
        [loading]='facade.activityLoading()'
        [element]='activity()'
        [action]='action()'
        (hide)='action.set(undefined)'
        (handleAction)='handleAction($event)' />
