<app-form [form]='form'
          [loading]='facade.projectProfileLoading()'
          [title]='"project-profiles.form.title.edit" | translate: {
                firstName: facade.projectProfile()?.user?.firstName,
                lastName: facade.projectProfile()?.user?.lastName,
          }'>
    @if (facade.projectProfile()) {
        <div class='mb-2'>
            <app-user-element [user]='facade.projectProfile()!.user!' [actionMenuVisible]='false' />
        </div>
    }
    <p-card>
        <form [formGroup]='form'>
            <div class='field'>
                <label for='roles' appRequired>{{ 'project-profiles.form.role' | translate }}</label>
                <p-select
                        inputId='roles'
                        fluid
                        [options]='facade.projectProfileAssignableRolesMetadata()'
                        [formControl]='role'
                        (keydown.enter)='submit()'
                        optionLabel='label'
                        optionValue='value' />
                <app-form-field-error [errors]='role.errors'
                                      [invalid]='FormUtil.invalid(role)'
                                      translationPrefix='profile.form.error.role' />
            </div>
            <div class='d-flex flex-wrap'>
                <div class='left-field field'>
                    <label for='begin-date-time'>{{ 'project-profiles.form.begin-datetime' | translate }}</label>
                    <app-date-time-field [formControl]='beginDateTime'
                                         [invalid]='FormUtil.invalid(beginDateTime)'
                                         inputId='begin-date-time'
                                         [datePlaceholder]='"project-profiles.form.placeholder.date" | translate: {
                                                            date: startDateExample | dateFormat: "date"
                                                         }'
                                         [timePlaceholder]='"project-profiles.form.placeholder.time" | translate: {
                                                            date: startDateExample | dateFormat: "time"
                                                         }' />
                    <small class='secondary-color'>{{ 'project-profiles.form.hint.begin-date-time' | translate }}</small>
                    <app-form-field-error [errors]='beginDateTime.errors'
                                          [invalid]='FormUtil.invalid(beginDateTime)'
                                          translationPrefix='project-profiles.form.error.begin-datetime' />
                </div>
                <div class='right-field field'>
                    <label for='end-date-time'>{{ 'project-profiles.form.end-datetime' | translate }}</label>
                    <app-date-time-field [formControl]='endDateTime'
                                         [invalid]='FormUtil.invalid(endDateTime)'
                                         inputId='end-date-time'
                                         [datePlaceholder]='"project-profiles.form.placeholder.date" | translate: {
                                                            date: startDateExample | dateFormat: "date"
                                                         }'
                                         [timePlaceholder]='"project-profiles.form.placeholder.time" | translate: {
                                                            date: startDateExample | dateFormat: "time"
                                                         }' />
                    <small class='secondary-color'>{{ 'project-profiles.form.hint.end-date-time' | translate }}</small>
                    <app-form-field-error [errors]='endDateTime.errors'
                                          [invalid]='FormUtil.invalid(endDateTime)'
                                          translationPrefix='project-profiles.form.error.end-datetime' />
                </div>
            </div>
            <app-form-field-error [errors]='form.errors'
                                  [invalid]='FormUtil.invalid(form) && beginDateTime.valid && endDateTime.valid'
                                  translationPrefix='project-profiles.form.error.date-range' />
        </form>
    </p-card>
    <div class='mt-2 d-flex justify-content-center'>
        <p-button
                (onClick)='navigateToRedirectUri()'
                [label]='"global.actions.cancel" | translate'
                text
                rounded />
        <p-button
                class='ms-2'
                (onClick)='submit()'
                [label]='"global.actions.edit" | translate'
                rounded
                outlined
                icon='pi pi-pen-to-square'
                severity='success' />
    </div>
</app-form>
