<app-element-card [element]='element'
                  [actions]='actions'
                  [showActionMenu]='showActionMenu'
                  (action)='handleAction($event)'
                  [layout]='layout'
                  [icon]='element.type === MovementTypeEnum.OUT ? "pi pi-arrow-up" : "pi pi-arrow-down"'>
    <div [class.flex-lg-row]='layout === "list"'
         class='d-flex flex-column justify-content-between align-items-center'>
        <div class='type d-flex'>
            <p-tag [severity]='element.type === MovementTypeEnum.OUT ? "secondary" : "info"'
                   [value]='("movement.type." + element.type) | translate' />
        </div>
        <div class='datetime d-flex'>
            {{
                'datetime.datetime' | translate: {
                    date: element.dateTime | date: ('datetime.format.date' | translate),
                    time: element.dateTime | date: ('datetime.format.time' | translate),
                }
            }}
        </div>
        <div class='content d-flex'>
            <div class='pointer movement-content'
                 tabindex='1'
                 (click)='layerOpened = true'
                 (keydown.enter)='layerOpened = true'>
                @switch (true) {
                    @case (firstNotPurged && others() === 0) {
                        {{ (firstNotPurged!.firstName | titlecase) + " " + (firstNotPurged!.lastName | uppercase) }}
                    }
                    @case (firstNotPurged && others() > 0) {
                        {{
                            ('movement.person-and-others.normal.' + (others() === 1 ? 'singular' : 'plural')) | translate: {
                                person: (firstNotPurged!.firstName | titlecase) + " " + (firstNotPurged!.lastName | uppercase),
                                others: others()
                            }
                        }}
                    }
                    @default {
                        {{
                            ('movement.person-and-others.purged.' + (others() <= 1 ? 'singular' : 'plural')) | translate: {
                                others: others()
                            }
                        }}
                    }
                }
            </div>
        </div>
    </div>
</app-element-card>

<app-layer [(visible)]='layerOpened'
           [header]='"movement.content.title" | translate'>
    <p-tabs [(value)]='activeTab'>
        <p-tablist>
            <p-tab [value]='1'>{{ 'movement.content.all' | translate }}</p-tab>
            @if (adults().length > 0) {
                <p-tab [value]='2'>{{
                        ('movement.content.adult.' + (adults().length > 1 ? 'plural' : 'singular')) | translate: {
                            adults: adults().length
                        }
                    }}
                </p-tab>
            }
            @if (children().length > 0) {
                <p-tab [value]='3'>{{
                        ('movement.content.child.' + (children().length > 1 ? 'plural' : 'singular')) | translate: {
                            children: children().length
                        }
                    }}
                </p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]='1'>
                <p-listbox
                        [options]='element.content'
                        [readonly]='true'
                        optionLabel='name'>
                    <ng-template #item let-participant>
                        <app-movement-participant-element [element]='participant' />
                    </ng-template>
                </p-listbox>
            </p-tabpanel>
            @if (adults().length > 0) {
                <p-tabpanel [value]='2'>
                    <p-listbox
                            [options]='adults()'
                            [readonly]='true'
                            optionLabel='name'>
                        <ng-template #item let-adult>
                            <app-movement-participant-element [element]='adult' />
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
            @if (children().length > 0) {
                <p-tabpanel [value]='3'>
                    <p-listbox
                            [options]='children()'
                            [readonly]='true'
                            optionLabel='name'>
                        <ng-template #item let-child>
                            <app-movement-participant-element [element]='child' />
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
        </p-tabpanels>
    </p-tabs>
    <div class='d-flex justify-content-center align-content-center'>
        <p-button (click)='layerOpened = false' [rounded]='true' [outlined]='true' severity='secondary'
                  [label]='"close" | translate' />
    </div>
</app-layer>
