<app-element-card [element]='element'
                  [actions]='actions'
                  [showActionMenu]='showActionMenu'
                  (action)='handleAction($event)'
                  [layout]='layout'
                  [icon]='element.type.value === "OUT" ? "pi pi-arrow-up" : "pi pi-arrow-down"'>
    <div [class.flex-lg-row]='layout === "list"' [class.flex-column]='layout === "grid"'
         class='d-flex flex-wrap justify-content-between align-items-center'>
        <div class='type d-flex p-1'>
            <p-tag [severity]='element.type.value === "OUT" ? "secondary" : "info"'
                   [value]='element.type.label' />
        </div>
        <div class='datetime d-flex p-1'>
            {{
                'datetime.datetime' | translate: {
                    date: element.dateTime | date: ('datetime.format.date' | translate),
                    time: element.dateTime | date: ('datetime.format.time' | translate),
                }
            }}
        </div>
        <div class='content d-flex p-1'>
            <div class='pointer movement-content'
                 tabindex='1'
                 (click)='layerOpened = true'
                 (keydown.enter)='layerOpened = true'>
                @switch (true) {
                    @case (firstNotPurged && total() === 0) {
                        {{ (firstNotPurged!.firstName | titlecase) + " " + (firstNotPurged!.lastName | uppercase) }}
                    }
                    @case (firstNotPurged && total() > 0) {
                        {{
                            ('movement.person-and-others.normal.' + (total() === 1 ? 'singular' : 'plural')) | translate: {
                                person: (firstNotPurged!.firstName | titlecase) + " " + (firstNotPurged!.lastName | uppercase),
                                others: total()
                            }
                        }}
                    }
                    @default {
                        {{
                            ('movement.person-and-others.purged.' + (total() <= 1 ? 'singular' : 'plural')) | translate: {
                                others: total()
                            }
                        }}
                    }
                }
            </div>
        </div>
    </div>
</app-element-card>

<app-layer [(visible)]='layerOpened'
           [header]='"movement.content.title" | translate'>
    <p-tabs [(value)]='activeTab' [scrollable]='true'>
        <p-tablist>
            <p-tab [value]='1'>
                <p-tag [value]='element.content.length.toString()' class='me-1' />
                {{ 'movement.content.all' | translate }}
            </p-tab>
            @if (adults().length > 0) {
                <p-tab [value]='2'>
                    <p-tag [value]='adults().length.toString()' severity='info' class='me-1' />
                    {{ ('movement.content.adult.' + (adults().length > 1 ? 'plural' : 'singular')) | translate }}
                </p-tab>
            }
            @if (children().length > 0) {
                <p-tab [value]='3'>
                    <p-tag [value]='children().length.toString()' severity='info' class='me-1' />
                    {{ ('movement.content.child.' + (children().length > 1 ? 'plural' : 'singular')) | translate }}
                </p-tab>
            }
            @for (pool of pools() | keyvalue; track pool.key; let i = $index) {
                <p-tab [value]='3 + i'>
                    <p-tag [value]='pool.value.length.toString()' severity='info' class='me-1' />
                    {{ pool.key }}
                </p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]='1'>
                <p-listbox
                        [options]='element.content'
                        [readonly]='true'
                        optionLabel='name'>
                    <ng-template #item let-content>
                        <div class='d-flex align-items-center'>
                            <p-avatar icon='pi pi-user' class='me-2' shape='circle' />
                            <div>{{ (content.participant.firstName | titlecase) + ' ' + (content.participant.lastName | uppercase) }}</div>
                        </div>
                    </ng-template>
                </p-listbox>
            </p-tabpanel>
            @if (adults().length > 0) {
                <p-tabpanel [value]='2'>
                    <p-listbox
                            [options]='adults()'
                            [readonly]='true'
                            optionLabel='name'>
                        <ng-template #item let-adult>
                            <div class='d-flex align-items-center'>
                                <p-avatar icon='pi pi-user' class='me-2' shape='circle' />
                                <div>{{ (adult.participant.firstName | titlecase) + ' ' + (adult.participant.lastName | uppercase) }}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
            @if (children().length > 0) {
                <p-tabpanel [value]='3'>
                    <p-listbox
                            [options]='children()'
                            [readonly]='true'
                            optionLabel='name'>
                        <ng-template #item let-child>
                            <div class='d-flex align-items-center'>
                                <p-avatar icon='pi pi-user' class='me-2' shape='circle' />
                                <div>{{ (child.participant.firstName | titlecase) + ' ' + (child.participant.lastName | uppercase) }}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
            @for (pool of pools() | keyvalue; track pool.key; let i = $index) {
                <p-tabpanel [value]='3 + i'>
                    <p-listbox
                            [options]='pool.value'
                            [readonly]='true'
                            optionLabel='name'>
                        <ng-template #item let-child>
                            <div class='d-flex align-items-center'>
                                <p-avatar icon='pi pi-user' class='me-2' shape='circle' />
                                <div>{{ (child.participant.firstName | titlecase) + ' ' + (child.participant.lastName | uppercase) }}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
        </p-tabpanels>
    </p-tabs>
    <div class='d-flex justify-content-center align-content-center'>
        <p-button (click)='layerOpened = false' [rounded]='true' [outlined]='true' severity='secondary'
                  [label]='"close" | translate' />
    </div>
</app-layer>
