:host {
    --icon-button-width: 3.25rem;
}

.field-container {
    min-width: calc(100% - (var(--icon-button-width) * 2));
    max-width: calc(100% - (var(--icon-button-width) * 2));
}

.other-field-container {
    min-width:   calc(100% - var(--icon-button-width));
    max-width:   calc(100% - var(--icon-button-width));
    margin-left: var(--icon-button-width);
}

.message-field {
    min-width: 100%;
    max-width: 100%;
}
