.circle {
    width:         0.75rem;
    height:        0.75rem;
    border-radius: 50%;
    display:       inline-block;
}

.secondary {
    background-color: darkgray;
}

.info {
    background-color: var(--p-blue-500);
}

.success {
    background-color: var(--p-green-500);
}

.warn {
    background-color: var(--p-yellow-500);
}

.danger {
    background-color: var(--p-red-500);
}
