<div class='mb-2'>
    @if (facade.vehicleLoading()) {
        <p-card>
            <app-element-skeleton [withIcon]='true' [layout]='registryFacade.tinyScreen() ? "grid" : "list"' />
        </p-card>
    } @else {
        <app-vehicle-element [vehicle]='facade.vehicle()!'
                             [actionMenuVisible]='false' />
    }
</div>

<app-list (updateRequired)='loadPage($event)'
          [elementPage]='facade.vehicleMovementsPage()'
          [error]='facade.vehicleMovementsPageError()'
          [loading]='facade.vehicleMovementsPageLoading()'
          emptyMessagePrefix='movements.notifications.EMPTY'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='d-grid search-line'>
            <div class='field'>
                <label for='start-date-time-search-field'>{{ 'movements.search-and-filter.start-datetime' | translate }}</label>
                <p-date-picker inputId='start-date-time-search-field'
                               fluid
                               showButtonBar
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='startDateTimeSearched' />
            </div>
            <div class='field'>
                <label for='end-date-time-search-field'>{{ 'movements.search-and-filter.end-datetime' | translate }}</label>
                <p-date-picker inputId='end-date-time-search-field'
                               fluid
                               showButtonBar
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='endDateTimeSearched' />
            </div>
        </div>
        <div class='d-grid search-line'>
            <div class='field'>
                <label for='type-search-field'>{{ 'movements.search-and-filter.type' | translate }}</label>
                <p-select inputId='type-search-field'
                          fluid
                          [loading]='!movementFacade.movementTypesMetadata()'
                          [options]='movementFacade.movementTypesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='typeSearched' />
            </div>
            <div class='field'>
                <label for='visibility-search-field'>{{ 'movements.search-and-filter.visibility' | translate }}</label>
                <p-select inputId='visibility-search-field'
                          fluid
                          [options]='facade.visibilitiesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='visibilitySearched' />
            </div>
        </div>
        <div class='d-flex justify-content-center'>
            <p-button (onClick)='loadPage(pageEvent)'
                      [label]='"global.actions.search-and-filter" | translate'
                      outlined
                      rounded
                      icon='pi pi-search'
                      [loading]='facade.vehicleMovementsPageLoading() || facade.vehicleMovementsPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='element' let-movement>
        <app-movement-element [movement]='movement' [vehicleId]='facade.vehicle()?.id' />
    </ng-template>
</app-list>
