<p-dialog
        [breakpoints]='breakpoint'
        [header]='header() | translate'
        [(visible)]='showDialog'
        [formGroup]='form'
        [modal]='true'>
    <div class='mb-3'>{{ message() | translate: { element: element() } }}</div>
    @if (propertyValue()) {
        <div class='field'>
            <label for='confirmation-name'>
                {{
                    'global.form.confirmation' | translate: {
                        name: propertyValue()
                    }
                }}
            </label>
            <input [formControl]='confirmationName'
                   [placeholder]='"global.form.confirmation" | translate: { name: propertyValue() }'
                   (keydown.enter)='submit()'
                   id='confirmation-name'
                   pInputText
                   type='text' />
            <app-form-field-error [errors]='confirmationName.errors'
                                  [invalid]='FormUtil.invalid(confirmationName)'
                                  [translationArgs]='{ toConfirm: propertyValue() }'
                                  translationPrefix='global.form.error.confirmation' />
        </div>
    }
    @if (hintMessage()) {
        <small class='secondary-color'>{{ hintMessage()! | translate }}</small>
    }
    <ng-template #footer>
        <p-button
                [label]='"global.actions.cancel" | translate'
                text
                rounded
                [disabled]='loading()'
                [severity]='rejectSeverity()'
                (onClick)='closeDialog()' />
        <p-button
                [label]='"global.actions.confirm" | translate'
                rounded
                outlined
                [loading]='loading()'
                [severity]='acceptSeverity()'
                (onClick)='submit()' />
    </ng-template>
</p-dialog>
