<app-list (updateRequired)='loadPage($event)'
          [elementPage]='facade.alertsPage()'
          [error]='facade.alertsPageError()'
          [loading]='facade.alertsPageLoading()'
          emptyMessagePrefix='alerts.notifications.EMPTY'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='field'>
            <label for='text-search-field'>{{ 'alerts.search-and-filter.text' | translate }}</label>
            <input id='text-search-field'
                   type='text'
                   fluid
                   pInputText
                   (keydown.enter)='loadPage(pageEvent)'
                   [formControl]='textSearched' />
        </div>
        <div class='d-grid search-line'>
            <div class='field'>
                <label for='status-search-field'>{{ 'alerts.search-and-filter.status' | translate }}</label>
                <p-select inputId='status-search-field'
                          fluid
                          [options]='facade.alertStatusMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='statusSearched' />
            </div>
            <div class='field'>
                <label for='visibility-search-field'>{{ 'alerts.search-and-filter.visibility' | translate }}</label>
                <p-select inputId='visibility-search-field'
                          fluid
                          [options]='facade.visibilitiesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          (onChange)='loadPage(pageEvent)'
                          [formControl]='visibilitySearched' />
            </div>
        </div>
        <div class='d-grid search-line'>
            <div class='field'>
                <label for='start-date-time-search-field'>{{ 'alerts.search-and-filter.start-datetime' | translate }}</label>
                <p-date-picker inputId='start-date-time-search-field'
                               fluid
                               showButtonBar
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='startDateTimeSearched' />
            </div>
            <div class='field'>
                <label for='end-date-time-search-field'>{{ 'alerts.search-and-filter.end-datetime' | translate }}</label>
                <p-date-picker inputId='end-date-time-search-field'
                               fluid
                               showButtonBar
                               [showTime]='true'
                               [touchUI]='registryFacade.tinyScreen()'
                               (onBlur)='loadPage(pageEvent)'
                               [formControl]='endDateTimeSearched' />
            </div>
        </div>
        <div class='d-flex justify-content-center'>
            <p-button (onClick)='loadPage(pageEvent)'
                      [label]='"global.actions.search-and-filter" | translate'
                      outlined
                      rounded
                      icon='pi pi-search'
                      [loading]='facade.alertsPageLoading() || facade.alertsPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='element' let-alert>
        <app-alert-element [alert]='alert' />
    </ng-template>
</app-list>
