<app-list (updateRequired)='loadPage($event)'
          [elementPage]='sessionFacade.userProjectProfileInvitationsPage()'
          [error]='sessionFacade.userProjectProfileInvitationsPageError()'
          [loading]='sessionFacade.userProjectProfileInvitationsPageLoading()'
          emptyMessagePrefix='project-profiles.notifications.EMPTY'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='row'>
            <div class='col-12 col-sm-6 col-md-12 col-lg-6 search-field'>
                <label for='invitation-text-search-field'>{{ 'preferences.search-and-filter.text' | transloco }}</label>
                <input id='invitation-text-search-field'
                       type='text'
                       pInputText
                       (keydown.enter)='loadPage(pageEvent)'
                       [formControl]='textSearched' />
            </div>
            <div class='col-12 col-sm-6 col-md-12 col-lg-6 search-field'>
                <label for='invitation-date-time-search-field'>{{ 'preferences.search-and-filter.datetime' | transloco }}</label>
                <p-date-picker [formControl]='dateTimeSearched'
                               showButtonBar
                               [readonlyInput]='true'
                               [showTime]='true'
                               [touchUI]='uiFacade.tinyScreen()'
                               inputId='invitation-date-time-search-field'
                               selectionMode='range'
                               fluid />
            </div>
        </div>
        <div class='flex flex-wrap justify-center pt-2'>
            <p-button (onClick)='loadPage(pageEvent)'
                      [label]='"global.actions.search-and-filter" | transloco'
                      outlined
                      rounded
                      icon='pi pi-search'
                      [loading]='sessionFacade.userProjectProfileInvitationsPageLoading() || sessionFacade.userProjectProfileInvitationsPageSilentLoading()' />
        </div>
    </ng-template>
    <ng-template appTemplate='element' let-profile>
        <app-project-profile-element [profile]='profile' view='user' />
    </ng-template>
    @if (!hasFilters()) {
        <ng-template appTemplate='empty'>
            <div class='p-6'>
                <div class='flex flex-col justify-center items-center'>
                    <h2>{{ 'project-profiles.notifications.EMPTY-INVITATION.message' | transloco }}</h2>
                    <p>{{ 'project-profiles.empty-invitation' | transloco }}</p>
                    <div class='flex justify-around'>
                        <p-button class='m-1'
                                  severity='success'
                                  outlined
                                  rounded
                                  [label]='"project-profiles.actions.create-project" | transloco'
                                  icon='pi pi-plus'
                                  [routerLink]='"/" + RegistryRouteEnum.PROJECTS_CREATION' />
                        <p-button class='m-1'
                                  severity='info'
                                  outlined
                                  rounded
                                  [label]='"project-profiles.actions.profiles" | transloco'
                                  icon='pi pi-unlock'
                                  [routerLink]='"/" + RegistryRouteEnum.USERS_PROFILES' />
                    </div>
                </div>
            </div>
        </ng-template>
    }
</app-list>
