<app-form [form]='form' [loading]='(loading$ | async) ?? false'>
    <h2>{{ 'profile.form.title.create' | translate : { name: (contextEvent$ | async)?.name } }}</h2>
    <p-card>
        <form [formGroup]='form'>
            <div class='field'>
                <label for='roles' appRequired>{{ 'profile.form.role' | translate }}</label>
                <p-select
                        id='roles'
                        styleClass='full-w'
                        [options]='(assignableRoles$ | async) ?? []'
                        [formControl]='role'
                        optionLabel='label'
                        optionValue='value' />
                <app-form-field-error [control]='role'
                                      [label]='"profile.form.role" | translate' />
            </div>
            <div class='field'>
                <label for='profiles-range'>{{ 'profile.form.date-range' | translate }}</label>
                <p-date-picker [formControl]='range'
                               [showButtonBar]='true'
                               [readonlyInput]='true'
                               [showTime]='true'
                               [touchUI]='isMobile'
                               id='profiles-range'
                               inputId='profiles-range'
                               selectionMode='range'
                               styleClass='full-w' />
                <app-form-field-error [control]='range'
                                      [label]='"profile.form.date-range" | translate' />
            </div>
            <div class='field'>
                <label for='users' appRequired>{{ 'profile.form.users' | translate }}</label>
                <app-select-users-field id='users' [multiple]='true' [formControl]='users' />
                <app-form-field-error [control]='users'
                                      [label]='"profile.form.users" | translate' />
            </div>
        </form>
        <div class='d-flex pt-4 justify-content-center align-items-center'>
            <p-button
                    (click)='navigateToRedirectUri()'
                    [label]='"cancel" | translate'
                    [outlined]='true'
                    [rounded]='true' />
            <p-button
                    class='ms-2'
                    (click)='submit()'
                    [label]='("profile.form.create." + (users.value?.length > 1 ? "plural" : "singular")) | translate'
                    [rounded]='true'
                    icon='pi pi-user-plus'
                    severity='success' />
        </div>
    </p-card>
</app-form>
