<app-form [form]='form' [loading]='(loading$ | async) ?? false'>
    <h2>{{ 'profile.form.title.create' | translate : { name: (contextEvent$ | async)?.name } }}</h2>
    <p-card>
        <form [formGroup]='form'>
            <div class='field'>
                <label for='roles' appRequired>{{ 'profile.form.role' | translate }}</label>
                <p-select
                        id='roles'
                        fluid
                        [options]='(assignableRoles$ | async) ?? []'
                        [formControl]='role'
                        [placeholder]='"profile.example.role" | translate: { role: ((assignableRoles$ | async) ?? []) ?
                        (assignableRoles$ | async)?.[0]?.label : "" }'
                        (keydown.enter)='submit()'
                        optionLabel='label'
                        optionValue='value' />
                <app-form-field-error [control]='role'
                                      [label]='"profile.form.role" | translate' />
            </div>
            <div class='field'>
                <label for='profiles-range'>{{ 'profile.form.date-range' | translate }}</label>
                <p-date-picker [formControl]='range'
                               [showButtonBar]='true'
                               [readonlyInput]='true'
                               [showTime]='true'
                               [touchUI]='isMobile()'
                               [placeholder]='"profile.example.presence" | translate: {
                                   begin: exampleBeginDate | date: ("datetime.format.date" | translate),
                                   end: exampleEndDate | date: ("datetime.format.date" | translate)
                               }'
                               (keydown.enter)='submit()'
                               id='profiles-range'
                               inputId='profiles-range'
                               selectionMode='range'
                               fluid />
                <app-form-field-error [control]='range'
                                      [label]='"profile.form.date-range" | translate' />
            </div>
            <p-divider />
            <div class='field'>
                <label for='users' appRequired>{{ 'profile.form.users' | translate }}</label>
                <app-select-elements-field [formControl]='users'
                                           [suggestions]='(usersSuggestion$ | async) ?? []'
                                           [searchLabel]='"profile.form.user-search" | translate'
                                           [emptyPlaceholder]='"profile.form.no-user" | translate'
                                           inputId='users'
                                           (handleSearch)='handleSearch($event.query)' />
                <app-form-field-error [control]='users'
                                      [label]='"profile.form.users" | translate' />
            </div>
        </form>
        <div class='d-flex pt-4 justify-content-center align-items-center'>
            <p-button
                    (click)='navigateToRedirectUri()'
                    [label]='"cancel" | translate'
                    [outlined]='true'
                    [rounded]='true' />
            <p-button
                    class='ms-2'
                    (click)='submit()'
                    [label]='("profile.form.create." + (users.value?.length > 1 ? "plural" : "singular")) | translate'
                    [rounded]='true'
                    icon='pi pi-user-plus'
                    severity='success' />
        </div>
    </p-card>
</app-form>
