<app-form [form]='form'
          [loading]='facade.participantLoading()'
          [showTitle]='showTitle()'
          [title]='"participants.form.title" | formTitle: facade.participant() | translate : {
              firstName: facade.participant()?.firstName,
              lastName: facade.participant()?.lastName
          }'>
    <p-card>
        @if (!defaultGroup()) {
            <div class='field'>
                <label for='user'>{{ 'participants.form.user.title' | translate }}</label>
                <p-auto-complete inputId='user'
                                 fluid
                                 completeOnFocus
                                 forceSelection
                                 showClear
                                 optionValue='value.id'
                                 optionLabel='label'
                                 [placeholder]='"participants.form.placeholder.user" | translate'
                                 [formControl]='user'
                                 [suggestions]='facade.searchedUsersMetadata()'
                                 (keydown.enter)='submit()'
                                 (onClear)='handleUserSelection(undefined)'
                                 (onUnselect)='handleUserSelection(undefined)'
                                 (onSelect)='handleUserSelection($event.value)'
                                 (completeMethod)='handleUserSearch($event)'>
                    <ng-template #empty>
                        <span>{{ 'participants.form.user.empty-search' | translate }}</span>
                    </ng-template>
                </p-auto-complete>
            </div>
            <p-divider align='center' />
        }
        <div class='d-flex flex-wrap'>
            <div class='left-field field'>
                <label for='first-name' appRequired>{{ 'participants.form.firstname' | translate }}</label>
                <input [formControl]='firstName'
                       [placeholder]='"participants.form.placeholder.firstname" | translate'
                       (keydown.enter)='submit()'
                       id='first-name'
                       pInputText
                       type='text' />
                @if (previousFirstName() && previousFirstName() !== firstName.value) {
                    <small class='secondary-color'>
                        {{ 'participants.form.previous-first-name' | translate: { firstName: previousFirstName() } }}
                    </small>
                }
                <app-form-field-error [errors]='firstName.errors'
                                      [invalid]='FormUtil.invalid(firstName)'
                                      translationPrefix='participants.form.error.firstname' />
            </div>
            <div class='right-field field'>
                <label for='last-name' appRequired>{{ 'participants.form.lastname' | translate }}</label>
                <input [formControl]='lastName'
                       [placeholder]='"participants.form.placeholder.lastname" | translate'
                       (keydown.enter)='submit()'
                       id='last-name'
                       pInputText
                       type='text' />
                @if (previousLastName() && previousLastName() !== lastName.value) {
                    <small class='secondary-color'>
                        {{ 'participants.form.previous-last-name' | translate: { lastName: previousLastName() } }}
                    </small>
                }
                <app-form-field-error [errors]='lastName.errors'
                                      [invalid]='FormUtil.invalid(lastName)'
                                      translationPrefix='participants.form.error.lastname' />
            </div>
        </div>
        <div class='field'>
            <label for='birthday' appRequired>{{ 'participants.form.birthday' | translate }}</label>
            <p-date-picker [formControl]='birthday'
                           showButtonBar
                           showIcon
                           [showOnFocus]='false'
                           [placeholder]='"participants.form.placeholder.birthday" | translate'
                           [touchUI]='registryFacade.tinyScreen()'
                           (keydown.enter)='submit()'
                           id='birthday'
                           fluid />
            <app-form-field-error [errors]='birthday.errors'
                                  [invalid]='FormUtil.invalid(birthday)'
                                  translationPrefix='participants.form.error.birthday' />
        </div>
        @if (!defaultGroup()) {
            <div class='d-flex flex-wrap'>
                <div class='left-field field'>
                    <label for='begin-date-time'>{{ 'participants.form.begin-datetime' | translate }}</label>
                    <app-date-time-field [formControl]='beginDateTime'
                                         [invalid]='FormUtil.invalid(beginDateTime)'
                                         inputId='begin-date-time'
                                         [datePlaceholder]='"participants.form.placeholder.date" | translate: {
                                                            date: startDateExample | dateFormat: "date"
                                                         }'
                                         [timePlaceholder]='"participants.form.placeholder.time" | translate: {
                                                            date: startDateExample | dateFormat: "time"
                                                         }' />
                    <small class='secondary-color'>{{ 'participants.form.hint.begin-date-time' | translate }}</small>
                    <app-form-field-error [errors]='beginDateTime.errors'
                                          [invalid]='FormUtil.invalid(beginDateTime)'
                                          translationPrefix='participants.form.error.begin-datetime' />
                </div>
                <div class='right-field field'>
                    <label for='end-date-time'>{{ 'participants.form.end-datetime' | translate }}</label>
                    <app-date-time-field [formControl]='endDateTime'
                                         [invalid]='FormUtil.invalid(endDateTime)'
                                         inputId='end-date-time'
                                         [datePlaceholder]='"participants.form.placeholder.date" | translate: {
                                                            date: endDateExample | dateFormat: "date"
                                                         }'
                                         [timePlaceholder]='"participants.form.placeholder.time" | translate: {
                                                            date: endDateExample | dateFormat: "time"
                                                         }' />
                    <small class='secondary-color'>{{ 'participants.form.hint.end-date-time' | translate }}</small>
                    <app-form-field-error [errors]='endDateTime.errors'
                                          [invalid]='FormUtil.invalid(endDateTime)'
                                          translationPrefix='participants.form.error.end-datetime' />
                </div>
            </div>
            <app-form-field-error [errors]='form.errors'
                                  [invalid]='FormUtil.invalid(form) && beginDateTime.valid && endDateTime.valid'
                                  translationPrefix='participants.form.error.date-range' />
            <p-divider />
            <div class='field'>
                <span class='label'>{{ 'participants.form.groups' | pluralTranslation: (groups.value?.length ?? 0)  | translate }}</span>
                <label for='members' class='secondary-color'>{{ 'participants.form.groups.search' | translate }}</label>
                <app-select-elements-field [formControl]='groups'
                                           [fluid]='true'
                                           [multiple]='true'
                                           [selectItemBuilder]='GroupUtil.toSelectItem'
                                           [selectionLabel]='"participants.form.groups.selected" | pluralTranslation:
                                           (groups.value?.length ?? 0) | translate'
                                           [emptyMessage]='"participants.form.groups.empty-search" | translate'
                                           [emptySelectionMessage]='"participants.form.groups.empty" | translate'
                                           [suggestions]='facade.searchedGroupsMetadata()'
                                           inputId='groups'
                                           (handleSearch)='handleGroupSearch($event)' />
            </div>
        }
    </p-card>
    <div class='d-flex mt-2 justify-content-center'>
        <p-button
                (onClick)='navigateToRedirectUri()'
                [label]='"global.actions.cancel" | translate'
                text
                rounded />
        <p-button
                class='ms-2'
                (onClick)='submit()'
                [label]='facade.participant() | formButton | translate'
                rounded
                outlined
                [icon]='facade.participant() | formIcon'
                severity='success' />
    </div>
</app-form>
