.no-autocomplete-item {
    ::ng-deep {
        .p-autocomplete-input-multiple {
            gap: 0;
        }
    }
}

.form-decorator {
    border-radius: 0.5rem;
    border:        1px solid var(--p-form-field-border-color);
}

.list-box {
    margin:        0;
    padding:       0;
    border-radius: 0.5rem;
    border:        1px solid var(--p-form-field-border-color);
    background:    var(--p-autocomplete-dropdown-hover-background);
}

.invalid {
    border-color: var(--p-select-invalid-border-color);
    color:        var(--p-select-invalid-placeholder-color);
}

.empty-message {
    padding: 0.5rem;
}

.item {
    list-style-type: none;
    margin:          0;
}

.list-item:hover {
    background: var(--p-autocomplete-dropdown-active-background);
}

ul li:first-child {
    border-top-left-radius:  0.5rem;
    border-top-right-radius: 0.5rem;
}

ul li:last-child {
    border-bottom-left-radius:  0.5rem;
    border-bottom-right-radius: 0.5rem;
}

@keyframes highlight {
    0% { background-color: var(--p-button-warn-hover-background); }
    100% { background-color: transparent; }
}

.highlight {
    animation: highlight 1s ease-in-out;
}
