<app-element-card [element]='alert()'
                  [actions]='actions()'
                  [actionMenuVisible]='actionMenuVisible()'
                  [icon]='statusIcon()'>
    <div class='element-card' [class.flex-col]='carouselView()'>
        <div class='flex' [class.title]='!carouselView()'
             [class.justify-center]='registryFacade.tinyScreen()'>
            <app-severity-circle class='me-2'
                                 [severity]='alert().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER'/>
            {{ alert().title | titlecase }}
        </div>
        <div class='flex'
             [class.datetime]='!carouselView()'
             [class.justify-center]='registryFacade.tinyScreen()'>
            {{ alert().dateTime | dateFormat: 'datetime' }}
        </div>
        @if (!carouselView() && addButtonVisible()) {
            <div class='flex communications' [class.justify-center]='registryFacade.tinyScreen()'>
                <p-button size='small'
                          rounded
                          outlined
                          [severity]='isInProgress() ? "info" : "secondary"' [label]='(isInProgress() ?"alerts.actions.add-communication"
                       : "alerts.actions.communications") | transloco'
                          [icon]='ProjectOptionEnum.COMMUNICATION | optionIcon'
                          (onClick)='communicationsLayerOpened = true'/>
            </div>
        }
        <div class='flex' [class.status]='!carouselView()'
             [class.justify-center]='registryFacade.tinyScreen()'>
            <app-severity-tag [value]='statusLabel()' [severity]='statusSeverity()'/>
        </div>
    </div>
    @if (carouselView() && addButtonVisible()) {
        <div class='mt-4 flex items-center justify-center'>
            <p-button size='small'
                      rounded
                      outlined
                      [severity]='isInProgress() ? "info" : "secondary"' [label]='(isInProgress() ?"alerts.actions.add-communication"
                       : "alerts.actions.communications") | transloco'
                      [icon]='ProjectOptionEnum.COMMUNICATION | optionIcon'
                      (onClick)='communicationsLayerOpened = true'/>
        </div>
    }
</app-element-card>

<p-dialog #dialog
          modal
          maximizable
          appendTo='body'
          (onShow)='registryFacade.tinyScreen() ? dialog.maximized.set(true) : null'
          [breakpoints]='breakpoint'
          [(visible)]='communicationsLayerOpened'>
    <ng-template #header>
        <div class='w-full flex items-center justify-between'>
            <div>
                <div class='layer-title mb-2'>{{ alert().title }}</div>
                <app-severity-tag [value]='statusLabel()' [severity]='statusSeverity()'/>
            </div>
            <p-button
                    [ariaLabel]='"global.menu.options" | transloco'
                    (onClick)='$event.stopPropagation(); menu.toggle($event)'
                    rounded
                    text
                    icon='pi pi-ellipsis-v'/>
        </div>
    </ng-template>
    @if (communicationsLayerOpened) {
        <app-alert-communications-list [alert]='alert()'/>
    }
</p-dialog>


<p-popover #menu appendTo='body'>
    @if (actions()!.length > 0) {
        <p-menu [style]='{
                    "border-radius": "0",
                    "border-top": "none",
                    "border-left": "none",
                    "border-right": "none"
                }'
                (click)='menu.toggle($event)'
                [model]='actions()'>
            <ng-template #item let-item>
                <a pRipple class='flex items-center py-2 px-4 cursor-pointer'>
                    <span [class]='item.icon'></span>&nbsp;
                    <span class='ms-2'>{{ item.label | transloco }}</span>
                </a>
            </ng-template>
        </p-menu>
    }
</p-popover>
