.in-progress-since {
    font-weight: bolder;
    font-size:   1rem;
}

.title,
.datetime,
.communications,
.status {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .title,
    .datetime,
    .communications,
    .status {
        flex-basis: 50%;
    }
}

@media (min-width: 1140px) {
    .title {
        flex-basis: 30%;
    }

    .datetime {
        flex-basis: 20%;
    }

    .communications {
        flex-basis: 20%;
    }

    .status {
        flex-basis: 30%;
    }
}
