<main class='main'>
    <p-blockUI [blocked]='loading() || GenericUtil.nonNull(error())'>
        @if (loading()) {
            <p-progressSpinner></p-progressSpinner>
        } @else {
            <div class='m-auto'>
                <app-message [message]='error()'>
                    <p-button
                            (click)='logout()'
                            [label]="'menu.attempt-to-sign-out' | translate"
                            [rounded]='true'
                            icon='pi pi-sign-out'
                            severity='danger' />
                </app-message>
            </div>
        }
    </p-blockUI>
    @if (GenericUtil.isNull(error())) {
        <p-confirmDialog [breakpoints]='breakPoint' />
        <p-toast [breakpoints]="{ '576px': { width: '95%', right: '2.5%', left: '2.5%' } }">
            <ng-template #message let-message>
                <div class='d-flex flex-column align-items-start full-w'>
                    @if (message.summary) {
                        <div class='toast-title'>
                            {{ message.summary | translate }}
                        </div>
                    }
                    @if (message.detail) {
                        <div class='toast-content'>
                            {{ message.detail | translate: message.data }}
                        </div>
                    }
                </div>
            </ng-template>
        </p-toast>
        <app-side-bar>
            <router-outlet />
        </app-side-bar>
    }
</main>
