<p-inputgroup [id]='inputId()' [class.invalid]='invalid()'>
    <p-inputgroup-addon>{{ minLabel() }}</p-inputgroup-addon>
    <p-input-number inputId='min' [(ngModel)]='minValue' (onInput)='onInputMin($event.value)' [placeholder]='minPlaceholder()' />
    <p-inputgroup-addon>{{ maxLabel() }}</p-inputgroup-addon>
    <p-input-number inputId='max' [(ngModel)]='maxValue' (onInput)='onInputMax($event.value)' [placeholder]='maxPlaceholder()' />
    <p-inputgroup-addon>
        <p-button icon='pi pi-times' severity='secondary' (click)='onInputChange(undefined, undefined); minValue = undefined;
        maxValue = undefined' />
    </p-inputgroup-addon>
</p-inputgroup>
