<app-element-card [element]='group()'
                  [actionMenuVisible]='actionMenuVisible()'
                  [actions]='actions()'
                  (action)='showDialogIfNeeded($event)'
                  icon='pi pi-users'>
    <div class='element-card'>
        <div class='group-info'>
            <div class='group-name d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                <app-severity-circle class='me-2' [severity]='group().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER' />
                {{ (group().name | titlecase) }}
            </div>
            @if (group().startAvailability) {
                <div class='d-flex mt-1 align-content-center' [class.justify-content-center]='registryFacade.tinyScreen()'>
                    <i class='pi pi-play-circle'></i>
                    <span class='ms-1'> {{ group().startAvailability | customDateFormat }}</span>
                </div>
            }
            @if (group().endAvailability) {
                <div class='d-flex align-content-center'
                     [class.justify-content-center]='registryFacade.tinyScreen()'
                     [class.mt-1]='!group().startAvailability'>
                    <i class='pi pi-stop-circle'></i>
                    <span class='ms-1'> {{ group().endAvailability | customDateFormat }}</span>
                </div>
            }
        </div>
        <div class='members d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            {{ 'groups.member' | pluralTranslation: group().membersCount | translate: { count: group().membersCount } }}
            (
            <app-severity-circle [severity]='SeverityEnum.SUCCESS' />
             {{ group().insideMembersCount }}, 
            <app-severity-circle [severity]='SeverityEnum.WARNING' />
             {{ group().outsideMembersCount }})
        </div>
        <div class='status d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            @if (intervalStatus()) {
                <app-severity-tag [severity]='intervalStatus()?.status === IntervalStatusEnum.IN_PROGRESS ? SeverityEnum.SUCCESS : intervalStatus()?.status ===
                IntervalStatusEnum.FINISHED ? SeverityEnum.WARNING : SeverityEnum.INFO'
                                  [value]='intervalStatus() | intervalFormat:"groups.status" | translate: { interval:
                                  buildInterval(intervalStatus()!.interval!) }' />
            }
        </div>
    </div>
</app-element-card>

<app-confirmation-dialog
        [loading]='facade.groupLoading()'
        [element]='group()'
        [action]='action()'
        (hide)='action.set(undefined)'
        (handleAction)='handleAction($event)' />
