@if (informationForm.untouched && loading()) {
    <div class='flex justify-center'>
        <p-progress-spinner></p-progress-spinner>
    </div>
} @else {
    <app-form-error [error]='error()' />
    <h2>
        {{
            (("movements.form.title" | formTitle: movement()) + "." + (type.value ?? "none")) | transloco: {
                datetime: movement()?.dateTime | dateFormat: "datetime"
            }
        }}
    </h2>
    <p-stepper [(value)]='activeTab' [value]='1' [linear]='true'>
        <p-step-item [value]='1'>
            <p-step>{{ 'movements.form.title.information' | transloco }}</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback='activateCallback' [formGroup]='informationForm'>
                    <div class='p-2'>
                        <div class='flex flex-wrap'>
                            <div class='left-field field'>
                                <label for='datetime' appRequired>{{ 'movements.form.datetime' | transloco }}</label>
                                <p-date-picker [formControl]='dateTime'
                                               showButtonBar
                                               readonlyInput
                                               appendTo='body'
                                               [placeholder]='"movements.form.placeholder.datetime" | transloco: {
                                                   date: now | dateFormat: "date",
                                                   time: now | dateFormat: "time",
                                               }'
                                               [touchUI]='uiFacade.tinyScreen()'
                                               [showTime]='true'
                                               (keydown.enter)='submit()'
                                               inputId='datetime'
                                               fluid/>
                                <app-form-field-error [errors]='dateTime.errors'
                                                      [invalid]='FormHelper.invalid(dateTime)'
                                                      translationPrefix='movements.form.error.datetime'/>
                            </div>
                            <div class='right-field field'>
                                <label for='type' appRequired>{{ 'movements.form.type' | transloco }}</label>
                                <p-select
                                        fluid
                                        inputId='type'
                                        appendTo='body'
                                        [options]='facade.movementTypesMetadata()'
                                        [placeholder]='"movements.form.placeholder.type" | transloco'
                                        [formControl]='type'
                                        (onChange)='handleTypeChange($event.value)'
                                        (keydown.enter)='submit()'
                                        optionLabel='label'
                                        optionValue='value'/>
                                <app-form-field-error [errors]='type.errors'
                                                      [invalid]='FormHelper.invalid(type)'
                                                      translationPrefix='movements.form.error.type'/>
                            </div>
                        </div>
                        <div class='field'>
                            <span class='label' appRequired>{{ 'movements.form.content-kind' | transloco }}</span>
                            <div class='radio-button-group'>
                                @for (type of facade.participantTypesMetadata(); track type.value) {
                                    <div class='radio-button'>
                                        <p-radio-button [inputId]='"contentType_" + type.value'
                                                        [value]='type.value'
                                                        (onClick)='handleContentTypeChange(type.value)'
                                                        formControlName='contentType'/>
                                        <div>
                                            <label [for]='"contentType_" + type.value'
                                                   class='ml-2'>{{ type.label }}</label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class='flex pt-6 justify-between'>
                            <p-button
                                    (onClick)='navigateToRedirectUri()'
                                    [label]='"global.actions.cancel" | transloco'
                                    text
                                    rounded/>
                            <p-button
                                    (onClick)='FormHelper.isFormValid(informationForm) ? activateCallback(2) : undefined'
                                    [label]='uiFacade.tinyScreen() ? "" : "global.actions.next" | transloco'
                                    rounded
                                    icon='pi pi-arrow-down'
                                    iconPos='right'/>
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]='2'>
            <p-step>{{ 'movements.form.title.content' | transloco }}</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback='activateCallback'>
                    <div class='p-2'>
                        @if (reasonRequired()) {
                            <div class='field'>
                                <label for='reason' appRequired>{{ 'movements.form.reason.name' | transloco }}</label>
                                <p-auto-complete inputId='reason'
                                                 fluid
                                                 completeOnFocus
                                                 forceSelection
                                                 showClear
                                                 appendTo='body'
                                                 optionLabel='label'
                                                 optionValue='value'
                                                 [placeholder]='"movements.form.placeholder.reason" | transloco'
                                                 [formControl]='reason'
                                                 [suggestions]='facade.searchedReasonAndActivityMetadata()'
                                                 (keydown.enter)='submit()'
                                                 (onClear)='selectedReason.set(undefined)'
                                                 (onUnselect)='selectedReason.set(undefined)'
                                                 (onSelect)='selectedReason.set($event.value)'
                                                 (completeMethod)='handleReasonsAndActivitiesSearch($event.query)'>
                                    <ng-template #empty>
                                        <span>{{ 'movements.form.reason.empty-search' | transloco }}</span>
                                    </ng-template>
                                </p-auto-complete>
                                <app-form-field-error [errors]='reason.errors'
                                                      [invalid]='FormHelper.invalid(reason)'
                                                      translationPrefix='movements.form.error.reason'/>
                            </div>
                            <p-divider/>
                        } @if (isContentSelection()) {
                        <div class='field'>
                            <span class='label'
                                  appRequired>{{ 'movements.form.content.registered' | pluralTranslation: participantContent.value | transloco }}</span>
                            <label for='content'
                                   class='secondary-color'>{{ 'movements.form.content.registered.search' | transloco }}</label>
                            <app-movement-content-field [formControl]='participantContent'
                                                        [invalid]='FormHelper.invalid(participantContent)'
                                                        [suggestions]='facade.searchedParticipantAndGroupMetadata()'
                                                        [interpretedMovementType]='interpretedMovementType()'
                                                        [selectionLabel]='"movements.form.content.registered.selected" | pluralTranslation: participantContent.value | transloco'
                                                        [emptyMessage]='"movements.form.content.registered.empty" | transloco'
                                                        [fluid]='true'
                                                        inputId='content'
                                                        (handleSearch)='handleParticipantsAndGroupsSearch($event.query)'/>
                            <app-form-field-error [errors]='participantContent.errors'
                                                  [invalid]='FormHelper.invalid(participantContent)'
                                                  translationPrefix='movements.form.error.participantContent'/>
                        </div>
                    } @else {
                        <div class='field'>
                                <span class='label'>{{
                                        'movements.form.content.guest' | pluralTranslation: guestContent.length |
                                            transloco
                                    }}</span>
                            @for (_ of guestContent.controls; track $index) {
                                <div class='flex flex-row items-center'>
                                    <p-button size='small' [disabled]='participantId($index).value'
                                              (onClick)='removeGuest($index)'
                                              icon='pi pi-times' text rounded
                                              severity='danger'></p-button>
                                    <div class='participant-form'>
                                        <div class='flex flex-wrap'>
                                            <div class='left-field field'>
                                                <label [for]='"first-name_" + $index'
                                                       appRequired>{{ 'participants.form.firstname' | transloco }}</label>
                                                <input [formControl]='firstName($index)'
                                                       [placeholder]='"participants.form.placeholder.firstname" | transloco'
                                                       (keydown.enter)='submit()'
                                                       [id]='"first-name_" + $index'
                                                       pSize='small'
                                                       pInputText
                                                       type='text'/>
                                                <app-form-field-error [errors]='firstName($index).errors'
                                                                      [invalid]='FormHelper.invalid(firstName($index))'
                                                                      translationPrefix='participants.form.error.firstname'/>
                                            </div>
                                            <div class='right-field field'>
                                                <label [for]='"last-name_" + $index' appRequired>{{
                                                        'participants.form.lastname' |
                                                            transloco
                                                    }}</label>
                                                <input [formControl]='lastName($index)'
                                                       [placeholder]='"participants.form.placeholder.lastname" | transloco'
                                                       (keydown.enter)='submit()'
                                                       [id]='"last-name_" + $index'
                                                       pSize='small'
                                                       pInputText
                                                       type='text'/>
                                                <app-form-field-error [errors]='lastName($index).errors'
                                                                      [invalid]='FormHelper.invalid(lastName($index))'
                                                                      translationPrefix='participants.form.error.lastname'/>
                                            </div>
                                        </div>
                                        <div class='field'>
                                            <label [for]='"birthday_" + $index'
                                                   appRequired>{{ 'participants.form.birthday' | transloco }}</label>
                                            <p-date-picker [formControl]='birthday($index)'
                                                           showButtonBar
                                                           showIcon
                                                           size='small'
                                                           appendTo='body'
                                                           [showOnFocus]='false'
                                                           [placeholder]='"participants.form.placeholder.birthday" | transloco'
                                                           [touchUI]='uiFacade.tinyScreen()'
                                                           (keydown.enter)='submit()'
                                                           [id]='"birthday_" + $index'
                                                           fluid/>
                                            <app-form-field-error [errors]='birthday($index).errors'
                                                                  [invalid]='FormHelper.invalid(birthday($index))'
                                                                  translationPrefix='participants.form.error.birthday'/>
                                        </div>
                                    </div>
                                </div>
                                @if (!$last) {
                                    <p-divider/>
                                }
                            }
                        </div>
                        <div class='flex justify-center'>
                            <p-button (onClick)='addGuest()'
                                      icon='pi pi-plus'
                                      rounded
                                      size='small'
                                      [label]='"movements.form.content.guest.add" | transloco'
                                      severity='secondary'/>
                        </div>
                        <app-form-field-error [errors]='guestContent.errors'
                                              [invalid]='FormHelper.invalid(guestContent)'
                                              translationPrefix='movements.form.error.guestContent'/>
                    }
                        <div class='flex pt-6 justify-between'>
                            <p-button
                                    (onClick)='activateCallback(1)'
                                    [label]='"global.actions.previous" | transloco'
                                    icon='pi pi-arrow-up'
                                    text
                                    rounded/>
                            @if (isEligibleToVehicle() && contentType.value === ParticipantTypeEnum.REGISTERED) {
                                <p-button
                                        (onClick)='FormHelper.isFormValid(contentForm) ? activateCallback(3) : undefined'
                                        [label]='uiFacade.tinyScreen() ? "" : "global.actions.next" | transloco'
                                        rounded
                                        outlined
                                        icon='pi pi-arrow-down'
                                        iconPos='right'/>
                            } @else {
                            <p-button
                                    (onClick)='submit()'
                                    [label]='uiFacade.tinyScreen() ? "" : movement() | formButton | transloco'
                                    rounded
                                    outlined
                                    [icon]='movement() | formIcon'
                                    [disabled]='saving()'
                                    severity='success'/>
                        }
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        @if (isEligibleToVehicle() && contentType.value === ParticipantTypeEnum.REGISTERED) {
            <p-step-item [value]='3'>
                <p-step>{{ 'movements.form.title.vehicle' | transloco }}</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback='activateCallback'>
                        <div class='p-2'>
                            <div class='field'>
                                <span class='label'>{{ 'movements.form.vehicles' | pluralTranslation: vehiclesWithDrivers.length | transloco }}</span>
                                <label for='vehicles-drivers'
                                       class='secondary-color'>{{ 'movements.form.vehicles.search' | transloco }}</label>
                                <p-auto-complete class='no-autocomplete-item'
                                                 multiple
                                                 inputId='vehicles-drivers'
                                                 [fluid]='true'
                                                 [suggestions]='facade.searchedVehicleMetadata()'
                                                 (onSelect)='addVehicle($event.value.value)'
                                                 (completeMethod)='handleVehiclesSearch($event.query)'>
                                    <ng-template #selecteditem/>
                                    <ng-template #empty>
                                        <div class='secondary-color'>{{ 'movements.form.vehicles.empty-search' | transloco }}</div>
                                    </ng-template>
                                </p-auto-complete>
                                <div class='mt-4 secondary-color'>
                                    {{
                                        'movements.form.vehicles.selected' | pluralTranslation: vehiclesWithDrivers.value | transloco
                                    }}
                                </div>
                                @for (_ of vehiclesWithDrivers.controls; track $index) {
                                    @let control = driver($index);
                                    <div class='mt-2' [formGroup]='vehicleDriverFormGroup($index)'>
                                        <div class='field'>
                                            <p-inputgroup>
                                                <p-inputgroup-addon>
                                                    {{ VehicleHelper.toSelectItem(vehicle($index).value).label }}
                                                    @if (interpretedMovementType().includes(vehicle($index).value?.status.value)) {
                                                        <div class='warning-tips'>
                                                            <i class='pi pi-exclamation-triangle'></i>
                                                            @if (!uiFacade.tinyScreen()) {
                                                                <span class='ms-2'>{{
                                                                        ('movements.form.warning.vehicle.' +
                                                                            vehicle($index).value.status.value) |
                                                                            transloco
                                                                    }}</span>
                                                            }
                                                        </div>
                                                    }
                                                </p-inputgroup-addon>
                                                <p-select [inputId]='"driver_" + $index' fluid
                                                          [options]='drivers()'
                                                          [formControl]='control'
                                                          [placeholder]='"movements.form.driver.title" | transloco'
                                                          appendTo='body'
                                                          optionLabel='label'
                                                          optionValue='value'>
                                                    <ng-template #empty>
                                                        <div class='secondary-color'>{{ 'movements.form.driver.empty' | transloco }}</div>
                                                    </ng-template>
                                                </p-select>
                                                <p-inputgroup-addon>
                                                    <p-button icon='pi pi-times'
                                                              (onClick)='removeVehicle($index)'
                                                              text
                                                              severity='danger'/>
                                                </p-inputgroup-addon>
                                            </p-inputgroup>
                                            <app-form-field-error [errors]='control.errors'
                                                                  [invalid]='FormHelper.invalid(control)'
                                                                  translationPrefix='movements.form.error.driver'/>
                                        </div>
                                    </div>
                                } @empty {
                                <div class='list-box mt-2'>
                                    <div class='item empty-message'>
                                        <div class='ms-2 secondary-color'>{{ 'movements.form.vehicles.empty' | transloco }}
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                            <div class='flex pt-6 justify-between'>
                                <p-button
                                        (onClick)='activateCallback(2)'
                                        [label]='"global.actions.previous" | transloco'
                                        icon='pi pi-arrow-up'
                                        text
                                        rounded/>
                                <p-button
                                        class='ms-2'
                                        (onClick)='FormHelper.isFormValid(vehicleForm) ? submit() : undefined'
                                        [label]='uiFacade.tinyScreen() ? "" : movement() | formButton | transloco'
                                        rounded
                                        outlined
                                        [icon]='movement() | formIcon'
                                        [disabled]='saving()'
                                        severity='success'/>
                            </div>
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>
        }
    </p-stepper>
}
