::ng-deep {
    .max-list-box-height {
        height: 100%;
    }
}

.max-panel-height {
    height: 100%;
}

.type,
.datetime,
.content,
.reverse-action,
.message,
.communication-actions {
    flex-basis: 100%;
}

@media (min-width: 480px) {
    .type {
        flex-basis: 60%;
    }

    .datetime {
        flex-basis: 40%;
    }

    .content {
        flex-basis: 60%;
    }

    .reverse-action {
        flex-basis: 40%;
    }
}

@media (min-width: 768px) {
    .type,
    .datetime,
    .content,
    .reverse-action,
    .last-communications,
    .new-communication {
        flex-basis: 50%;
    }
}

@media (min-width: 1140px) {
    .type {
        flex-basis: 30%;
    }

    .datetime {
        flex-basis: 20%;
    }

    .content {
        flex-basis: 35%;
    }

    .reverse-action {
        flex-basis: 15%;
    }

    .message {
        flex-basis: 70%;
    }

    .communication-actions {
        flex-basis: 30%;

        .last-communications,
        .new-communication {
            flex-basis: 100%;
        }
    }
}

:host {
    --p-timeline-vertical-event-content-padding: 0;
}

::ng-deep .p-timeline-left .p-timeline-event-opposite {
    flex: 0;
}

.last-communication-interval {
    font-weight: bolder;
    font-size:   1rem;
}

.circle {
    width:         2rem;
    height:        2rem;
    border-radius: 50%;
    display:       inline-block;
}

.secondary {
    background-color: darkgray;
}

.info {
    background-color: var(--p-blue-500);
}

.success {
    background-color: var(--p-green-500);
}

.warn {
    background-color: var(--p-yellow-500);
}

.danger {
    background-color: var(--p-red-500);
}
