<app-element-card [element]='movement()'
                  [actions]='actions()'
                  [actionMenuVisible]='actionMenuVisible()'
                  (action)='showDialogIfNeeded($event)'
                  [icon]='movement().type.value === MovementTypeEnum.OUT ? "pi pi-arrow-up" : "pi pi-arrow-down"'>
    <div class='element-card'>
        <div class='type d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <app-severity-tag [severity]='movement().type.value === MovementTypeEnum.OUT ? SeverityEnum.WARNING : SeverityEnum.SUCCESS'
                              [value]='movement().type.label!' />
        </div>
        <div class='datetime d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <app-severity-circle class='me-2' [severity]='movement().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER' />
            <b>{{ movement().dateTime | dateFormat: 'datetime' }}</b>
        </div>
        <div class='content d-flex flex-column' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <div class='pointer hover-underline'
                 tabindex='1'
                 (click)='layerOpened = true'
                 (keydown.enter)='layerOpened = true'>
                @switch (true) {
                    @case (total() <= 0) {
                        <p-skeleton width='10rem' borderRadius='1rem' />
                    }
                    @case (!!driver()) {
                        <p-tag [icon]='ProjectOptionEnum.VEHICLE | optionIcon' [value]="(driver()?.participant?.firstName | titlecase) + ' ' +
                                            (driver()?.participant?.lastName | uppercase)" />
                    }
                    @case (total() === 1) {
                        {{ (movement().content[0].participant!.firstName | titlecase) + " " + (movement().content[0].participant!.lastName | uppercase) }}
                    }
                    @default {
                        {{
                            'movements.content' | pluralTranslation: total() |
                                translate: {
                                name: (movement().content[0].participant!.firstName | titlecase) + " " + (movement().content[0].participant!.lastName | uppercase),
                                others: total()
                            }
                        }}
                    }
                }
            </div>
            @if (movement().reason) {
                <div>{{ 'movements.reason' | translate: { reason: movement().reason!.label } }}</div>
            }
        </div>
    </div>
</app-element-card>

<app-layer [(visible)]='layerOpened'
           [header]='"movements.content-layer-title" | pluralTranslation: movement().content | translate'>
    <p-tabs [(value)]='activeTab' scrollable class='max-panel-height'>
        <p-tablist>
            <p-tab [value]='1'>
                <p-tag [value]='movement().content.length.toString()' class='me-1' />
                {{ 'global.people.all' | translate }}
            </p-tab>
            @if (adults().length > 0) {
                <p-tab [value]='2'>
                    <p-tag [value]='adults().length.toString()' severity='info' class='me-1' />
                    {{ 'global.people.major' | pluralTranslation: adults() | translate }}
                </p-tab>
            }
            @if (children().length > 0) {
                <p-tab [value]='3'>
                    <p-tag [value]='children().length.toString()' severity='info' class='me-1' />
                    {{ 'global.people.minor' | pluralTranslation: children() | translate }}
                </p-tab>
            }
            @for (pool of pools() | keyvalue; track pool.key; let i = $index) {
                <p-tab [value]='4 + i'>
                    <p-tag [value]='pool.value.length.toString()' severity='info' class='me-1' />
                    {{ pool.key }}
                </p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]='1'>
                <p-listbox
                        styleClass='max-list-box-height'
                        scrollHeight='100%'
                        [options]='movement().content'
                        readonly
                        optionLabel='name'>
                    <ng-template #item let-content>
                        <p-avatar [icon]='content.vehicle ? (ProjectOptionEnum.VEHICLE | optionIcon) : "pi pi-user"'
                                  class='me-2'
                                  shape='circle' />
                        <div>
                            <div class='d-flex align-items-center'>
                                <div>
                                    {{ (content.participant.firstName | titlecase) + ' ' + (content.participant.lastName | uppercase) }}
                                </div>
                            </div>
                            @if (content.vehicle) {
                                <div class='mt-2'>
                                    <p-tag [value]='VehicleUtil.toSelectItem(content.vehicle).label' />
                                </div>
                            }
                        </div>
                    </ng-template>
                </p-listbox>
            </p-tabpanel>
            @if (adults().length > 0) {
                <p-tabpanel [value]='2'>
                    <p-listbox
                            styleClass='max-list-box-height'
                            scrollHeight='100%'
                            [options]='adults()'
                            readonly
                            optionLabel='name'>
                        <ng-template #item let-adult>
                            <p-avatar [icon]='adult.vehicle ? (ProjectOptionEnum.VEHICLE | optionIcon) : "pi pi-user"'
                                      class='me-2'
                                      shape='circle' />
                            <div>
                                <div class='d-flex align-items-center'>
                                    <div>
                                        {{ (adult.participant.firstName | titlecase) + ' ' + (adult.participant.lastName | uppercase) }}
                                    </div>
                                </div>
                                @if (adult.vehicle) {
                                    <div class='mt-2'>
                                        <p-tag [value]='VehicleUtil.toSelectItem(adult.vehicle).label' />
                                    </div>
                                }
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
            @if (children().length > 0) {
                <p-tabpanel [value]='3'>
                    <p-listbox
                            styleClass='max-list-box-height'
                            scrollHeight='100%'
                            [options]='children()'
                            readonly
                            optionLabel='name'>
                        <ng-template #item let-child>
                            <p-avatar [icon]='child.vehicle ? (ProjectOptionEnum.VEHICLE | optionIcon) : "pi pi-user"'
                                      class='me-2'
                                      shape='circle' />
                            <div class='d-flex align-items-center'>
                                {{ (child.participant.firstName | titlecase) + ' ' + (child.participant.lastName | uppercase) }}
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
            @for (pool of pools() | keyvalue; track pool.key; let i = $index) {
                <p-tabpanel [value]='4 + i'>
                    <p-listbox
                            styleClass='max-list-box-height'
                            scrollHeight='100%'
                            [options]='pool.value'
                            readonly
                            optionLabel='name'>
                        <ng-template #item let-content>
                            <p-avatar [icon]='content.vehicle ? (ProjectOptionEnum.VEHICLE | optionIcon) : "pi pi-user"'
                                      class='me-2'
                                      shape='circle' />
                            <div>
                                <div class='d-flex align-items-center'>
                                    <div>
                                        {{ (content.participant.firstName | titlecase) + ' ' + (content.participant.lastName | uppercase) }}
                                    </div>
                                </div>
                                @if (content.vehicle) {
                                    <div class='mt-2'>
                                        <p-tag [value]='VehicleUtil.toSelectItem(content.vehicle).label' />
                                    </div>
                                }
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
        </p-tabpanels>
    </p-tabs>
</app-layer>

<app-confirmation-dialog
        [loading]='facade.movementLoading()'
        [element]='movement()'
        [action]='action()'
        (hide)='action.set(undefined)'
        (handleAction)='handleAction($event)' />
