<app-element-card [element]='movement()'
                  [actions]='actions()'
                  [actionMenuVisible]='actionMenuVisible()'
                  [icon]='movement().type.value === MovementTypeEnum.OUT ? "pi pi-arrow-up" : "pi pi-arrow-down"'>
    <div class='element-card'>
        <div class='type d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <app-severity-tag [severity]='movement().type.value === MovementTypeEnum.OUT ? SeverityEnum.WARNING : SeverityEnum.SUCCESS'
                              [value]='typeAndReason()' />
        </div>
        <div class='datetime d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <app-severity-circle class='me-2' [severity]='movement().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER' />
            <b>{{ movement().dateTime | dateFormat: 'datetime' }}</b>
        </div>
        <div class='content d-flex'
             [class.justify-content-center]='registryFacade.tinyScreen()'>
            <div class='d-flex align-items-center'>
                @switch (true) {
                    @case (total() <= 0) {
                        <p-skeleton width='10rem' borderRadius='1rem' />
                    }
                    @case (!!driver()) {
                        <p-button [icon]='ProjectOptionEnum.VEHICLE | optionIcon'
                                  (onClick)='participantsLayerOpened = true'
                                  (keydown.enter)='participantsLayerOpened = true'
                                  text
                                  rounded
                                  [label]='driverName()! | truncate: 30' />
                    }
                    @default {
                        <p-button text
                                  rounded
                                  (onClick)='participantsLayerOpened = true'
                                  (keydown.enter)='participantsLayerOpened = true'
                                  [label]='"movements.content" | pluralTranslation: total() |
                                    translate: {
                                    name: (movement().content[0].participant!.firstName | titlecase) + " " + (movement().content[0].participant!.lastName | uppercase) | truncate: 30,
                                    total: total()
                                  }' />
                    }
                }
            </div>
        </div>
        @if (reversibleAuthorized()) {
            <div class='d-flex reverse-action' [class.justify-content-center]='registryFacade.tinyScreen()'>
                @if (total() <= 0) {
                    <p-skeleton width='10rem' borderRadius='1rem' />
                } @else {
                    <p-button [icon]='reversedIcon()'
                              [label]='("movements.actions.reverse." + movement().type.value) | translate'
                              styleClass='mt-2'
                              severity='info'
                              size='small'
                              outlined
                              rounded
                              (onClick)='confirmMovementReversion(movement().content)' />
                }
            </div>
        }
    </div>
    @if (communication()) {
        <div class='mt-3 d-flex align-items-center' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <p-button (onClick)='communicationsLayerOpened = true'
                      [icon]='ProjectOptionEnum.COMMUNICATION | optionIcon'
                      [label]='"movements.communication.see-communication" | translate'
                      rounded
                      outlined
                      size='small'
                      severity='info' />
        </div>
    }
</app-element-card>

<app-layer [(visible)]='participantsLayerOpened'
           [title]='"movements.content-layer-title" | pluralTranslation: movement().content | translate'>
    <p-tabs [(value)]='participantLayerActiveTab' scrollable class='max-panel-height'>
        <p-tablist>
            <p-tab [value]='1'>
                <p-tag [value]='movement().content.length.toString()' class='me-1' />
                {{ 'global.people.all' | translate }}
            </p-tab>
            @if (adults().length > 0) {
                <p-tab [value]='2'>
                    <p-tag [value]='adults().length.toString()' severity='info' class='me-1' />
                    {{ 'global.people.major' | pluralTranslation: adults() | translate }}
                </p-tab>
            }
            @if (children().length > 0) {
                <p-tab [value]='3'>
                    <p-tag [value]='children().length.toString()' severity='info' class='me-1' />
                    {{ 'global.people.minor' | pluralTranslation: children() | translate }}
                </p-tab>
            }
            @for (pool of pools() | keyvalue; track pool.key; let i = $index) {
                <p-tab [value]='4 + i'>
                    <p-tag [value]='pool.value.length.toString()' severity='info' class='me-1' />
                    {{ pool.key }}
                </p-tab>
            }
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]='1'>
                <p-listbox
                        styleClass='max-list-box-height'
                        scrollHeight='100%'
                        [readonly]='!reversibleAuthorized()'
                        [options]='movement().content'
                        (onClick)='onClickParticipant($event)'
                        optionLabel='name'>
                    <ng-template #item let-content>
                        <div class='d-flex align-items-center justify-content-between w-100'>
                            <div class='d-flex align-items-center'>
                                <p-avatar [icon]='content.vehicle ? (ProjectOptionEnum.VEHICLE | optionIcon) : "pi pi-user"'
                                          class='me-2'
                                          shape='circle' />
                                <div>
                                    <div class='d-flex align-items-center'>
                                        <div>
                                            {{ (content.participant.firstName | titlecase) + ' ' + (content.participant.lastName | uppercase) }}
                                        </div>
                                    </div>
                                    @if (content.vehicle) {
                                        <div class='mt-2'>
                                            <p-tag [value]='VehicleUtil.toSelectItem(content.vehicle).label' />
                                        </div>
                                    }
                                </div>
                            </div>
                            @if (reversibleAuthorized()) {
                                <div>
                                    <p-button [icon]='reversedIcon()'
                                              [label]='("movements.actions.reverse." + movement().type.value) | translate'
                                              styleClass='mt-2'
                                              severity='info'
                                              size='small'
                                              outlined
                                              rounded />
                                </div>
                            }
                        </div>
                    </ng-template>
                </p-listbox>
            </p-tabpanel>
            @if (adults().length > 0) {
                <p-tabpanel [value]='2'>
                    <p-listbox
                            styleClass='max-list-box-height'
                            scrollHeight='100%'
                            [options]='adults()'
                            readonly
                            optionLabel='name'>
                        <ng-template #item let-adult>
                            <p-avatar [icon]='adult.vehicle ? (ProjectOptionEnum.VEHICLE | optionIcon) : "pi pi-user"'
                                      class='me-2'
                                      shape='circle' />
                            <div>
                                <div class='d-flex align-items-center'>
                                    <div>
                                        {{ (adult.participant.firstName | titlecase) + ' ' + (adult.participant.lastName | uppercase) }}
                                    </div>
                                </div>
                                @if (adult.vehicle) {
                                    <div class='mt-2'>
                                        <p-tag [value]='VehicleUtil.toSelectItem(adult.vehicle).label' />
                                    </div>
                                }
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
            @if (children().length > 0) {
                <p-tabpanel [value]='3'>
                    <p-listbox
                            styleClass='max-list-box-height'
                            scrollHeight='100%'
                            [options]='children()'
                            readonly
                            optionLabel='name'>
                        <ng-template #item let-child>
                            <p-avatar [icon]='child.vehicle ? (ProjectOptionEnum.VEHICLE | optionIcon) : "pi pi-user"'
                                      class='me-2'
                                      shape='circle' />
                            <div class='d-flex align-items-center'>
                                {{ (child.participant.firstName | titlecase) + ' ' + (child.participant.lastName | uppercase) }}
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
            @for (pool of pools() | keyvalue; track pool.key; let i = $index) {
                <p-tabpanel [value]='4 + i'>
                    <p-listbox
                            styleClass='max-list-box-height'
                            scrollHeight='100%'
                            [options]='pool.value'
                            readonly
                            optionLabel='name'>
                        <ng-template #item let-content>
                            <p-avatar [icon]='content.vehicle ? (ProjectOptionEnum.VEHICLE | optionIcon) : "pi pi-user"'
                                      class='me-2'
                                      shape='circle' />
                            <div>
                                <div class='d-flex align-items-center'>
                                    <div>
                                        {{ (content.participant.firstName | titlecase) + ' ' + (content.participant.lastName | uppercase) }}
                                    </div>
                                </div>
                                @if (content.vehicle) {
                                    <div class='mt-2'>
                                        <p-tag [value]='VehicleUtil.toSelectItem(content.vehicle).label' />
                                    </div>
                                }
                            </div>
                        </ng-template>
                    </p-listbox>
                </p-tabpanel>
            }
        </p-tabpanels>
    </p-tabs>
</app-layer>

<p-dialog #dialog
          modal
          maximizable
          appendTo='body'
          (onShow)='registryFacade.tinyScreen() ? dialog.maximized = true : null'
          [breakpoints]='breakpoint'
          [(visible)]='communicationsLayerOpened'>
    <ng-template #header>
        <div class='w-100 d-flex align-items-center justify-content-between'>
            <div class='d-flex flex-column'>
                <div class='layer-title'>
                    {{
                        'movements.communication.layer.title' | translate: { movement: movement().reason?.label }
                    }}
                </div>
                @if (GenericUtil.nonNull(movement().reason)) {
                    <small class='mt-2 secondary-color'>
                        {{
                            'movements.communication.layer.subtitle' | translate: {
                                movement:
                                movement().reason?.label
                            }
                        }}
                    </small>
                }
            </div>
            <p-button
                    [ariaLabel]='"menu.options" | translate'
                    (onClick)='$event.stopPropagation(); menu.toggle($event)'
                    rounded
                    text
                    icon='pi pi-ellipsis-v' />
        </div>
    </ng-template>
    @if (communicationsLayerOpened) {
        <app-movement-communications-list [movement]='movement()' />
    }
</p-dialog>

<p-popover #menu appendTo='body'>
    @if (actions()!.length > 0) {
        <p-menu [style]='{
                    "border-radius": "0",
                    "border-top": "none",
                    "border-left": "none",
                    "border-right": "none"
                }'
                (click)='menu.toggle($event)'
                [model]='actions()'>
            <ng-template #item let-item>
                <a pRipple class='d-flex align-items-center py-2 px-3 pointer'>
                    <span [class]='item.icon'></span>&nbsp;
                    <span class='ms-2'>{{ item.label | translate }}</span>
                </a>
            </ng-template>
        </p-menu>
    }
</p-popover>
