::ng-deep {
    .max-list-box-height {
        height: 100%;
    }
}

.max-panel-height {
    height: 100%;
}

.type,
.datetime {
    flex-basis: 50%;
}

.content {
    flex-basis: 100%;
}

@media (min-width: 1140px) {
    .type {
        flex-basis: 20%;
    }

    .datetime {
        flex-basis: 25%;
    }

    .content {
        flex-basis: 55%;
    }
}
