<div class='d-flex'>
    <div class='date'>
        <p-date-picker [touchUI]='registryFacade.tinyScreen()'
                       [class.invalid]='invalid()'
                       [placeholder]='datePlaceholder()'
                       [inputId]='inputId() + "_date"'
                       [showOnFocus]='false'
                       [(ngModel)]='date'
                       (onInput)='onDateChange()'
                       (onSelect)='onDateChange()'
                       inputmode='numeric'
                       type='text'
                       appendTo='body'
                       fluid
                       showIcon />
    </div>
    <div class='time'>
        <p-date-picker [touchUI]='registryFacade.tinyScreen()'
                       [class.invalid]='invalid()'
                       [placeholder]='timePlaceholder()'
                       [inputId]='inputId() + "_time"'
                       [showOnFocus]='false'
                       [(ngModel)]='time'
                       (onInput)='onTimeChange()'
                       (onSelect)='onTimeChange()'
                       inputmode='numeric'
                       type='text'
                       icon='pi pi-clock'
                       appendTo='body'
                       fluid
                       showIcon
                       timeOnly />
    </div>
</div>
