<app-form [form]='form'
          [loading]='facade.userLoading()'
          [title]='"users.form.title" | translate: { firstName: facade.user()?.firstName, lastName: facade.user()?.lastName }'>
    <p-card>
        <div class='field'>
            <label for='role' appRequired>{{ 'users.form.role' | translate }}</label>
            <p-select
                    inputId='role'
                    fluid
                    [options]='facade.assignableRolesMetadata()'
                    [formControl]='role'
                    (keydown.enter)='submit()'
                    optionLabel='label'
                    optionValue='value' />
        </div>
    </p-card>
    <div class='d-flex mt-2 justify-content-center'>
        <p-button
                (onClick)='navigateToRedirectUri(AppRouteEnum.USERS)'
                [label]='"global.actions.cancel" | translate'
                text
                rounded />
        <p-button
                class='ms-2'
                (onClick)='submit()'
                [label]='"global.actions.edit" | translate'
                rounded
                outlined
                icon='pi pi-pen-to-square'
                severity='success' />
    </div>
</app-form>
