<p-card>
    <div class='ps-4 pe-4 pt-2 pb-2'>
        <div class='d-flex align-items-center' [class.flex-column]='registryFacade.tinyScreen()'>
            <div [class.me-3]='!registryFacade.tinyScreen()'>
                <p-avatar icon='pi pi-user' size='large' shape='circle' />
            </div>
            <h1>{{ (registryFacade.currentUser()?.firstName | titlecase) + ' ' + (registryFacade.currentUser()?.lastName | uppercase) }}</h1>
        </div>
        <div class='d-grid search-line mt-2 mb-2'>
            <div>
                <b>{{ 'settings.birthday' | translate }}</b>
                {{
                    GenericUtil.nonNull(registryFacade.currentUser()?.birthday)
                    ? (registryFacade.currentUser()!.birthday | dateFormat: 'date')
                    : ('global.not-set' | translate)
                }}
            </div>
            <div>
                <b>{{ 'settings.role' | translate }} </b>
                <app-severity-tag [value]='registryFacade.currentUser()?.role?.label' />
            </div>
        </div>
    </div>
</p-card>
<p-card styleClass='mt-4'>
    <div class='ps-4 pe-4 pt-2 pb-2'>
        <h3>{{ 'settings.configuration.title' | translate }}</h3>
        <div class='d-grid search-line mt-2 mb-2'>
            <div class='field'>
                <label for='app-language'><b>{{ 'settings.configuration.form.language' | translate }}</b></label>
                <p-select [options]='registryFacade.languagesMetadata()'
                          optionLabel='label'
                          optionValue='value'
                          inputId='app-language'
                          fluid
                          (onChange)='registryFacade.updateCurrentUserLanguage($event.value)'
                          [formControl]='languageControl' />
            </div>
            <div class='field'>
                <label for='app-theme'><b>{{ 'settings.configuration.form.theme' | translate }}</b></label>
                <p-select-button [options]='registryFacade.themesMetadata()' id='app-theme' [formControl]='themeControl'
                                 optionValue='value' (onChange)='registryFacade.updateCurrentUserTheme($event.value)'>
                    <ng-template #item let-item>
                        <i [class]='item.icon'></i>
                    </ng-template>
                </p-select-button>
            </div>
        </div>
    </div>
</p-card>
<p-card styleClass='mt-4'>
    <div class='ps-4 pe-4 pt-2 pb-2'>
        <h3>{{ 'settings.danger' | translate }}</h3>
        <div class='field'>
            <p-button id='impersonate'
                      size='small'
                      severity='danger'
                      icon='pi pi-eraser'
                      outlined
                      rounded
                      (onClick)='confirmImpersonate()'
                      [label]='"settings.actions.impersonate" | translate' />
        </div>
    </div>
</p-card>
