<p-auto-complete [multiple]='multiple()'
                 class='no-autocomplete-item'
                 completeOnFocus
                 [disabled]='disabled()'
                 [inputId]='inputId()'
                 [fluid]='fluid()'
                 [suggestions]='suggestions()'
                 (onSelect)='handleElementSelection($event)'
                 (completeMethod)='handleSearch.emit($event)'>
    <ng-template #selecteditem />
    @if (emptyMessage()) {
        <ng-template #empty>
            <span>{{ emptyMessage() }}</span>
        </ng-template>
    }
</p-auto-complete>
<div class='secondary-color mt-3'>
    {{ selectionLabel() }}
</div>
<ul class='list-box mt-2 d-flex flex-column justify-content-center'
    [class.invalid]='invalid()'>
    @for (element of (multiple() ? multipleValue() : GenericUtil.nonNull(simpleValue()) ? [ simpleValue() ] : []); track element!.id) {
        <li class='item list-item full-w d-flex align-items-center justify-content-between' [attr.data-value]='element!.id'>
            <div class='ms-3'>{{ selectItemBuilder()(element!).label }}</div>
            <p-button icon='pi pi-times'
                      size='small'
                      [rounded]='true'
                      [text]='true'
                      (click)='handleElementRemoving(element!.id)' />
        </li>
    } @empty {
        <li class='item empty-message'>
            <div class='ms-2 secondary-color'>{{ emptyMessage() }}</div>
        </li>
    }
</ul>
