<app-element-card [element]='vehicle()'
                  [actions]='actions()'
                  [actionMenuVisible]='actionMenuVisible()'
                  (action)='showDialogIfNeeded($event)'
                  [icon]='ProjectOptionEnum.VEHICLE | optionIcon'>
    <div class='element-card'>
        <div class='vehicle-info d-flex flex-column justify-content-center'>
            <div class='vehicle-license-plate d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                <app-severity-circle class='me-2' [severity]='vehicle().visible ? SeverityEnum.SUCCESS : SeverityEnum.DANGER' />
                {{ vehicle().licensePlate }}
            </div>
            @if (vehicle().startAvailability) {
                <div class='d-flex mt-1 align-items-center' [class.justify-content-center]='registryFacade.tinyScreen()'>
                    <i class='pi pi-play-circle'></i>
                    <span class='ms-1'>{{ vehicle().startAvailability | customDateFormat }}</span>
                </div>
            }
            @if (vehicle().endAvailability) {
                <div class='d-flex align-items-center'
                     [class.justify-content-center]='registryFacade.tinyScreen()'
                     [class.mt-1]='!vehicle().startAvailability'>
                    <i class='pi pi-stop-circle'></i>
                    <span class='ms-1'>{{ vehicle().endAvailability | customDateFormat }}</span>
                </div>
            }
        </div>
        <div class='vehicle-detail d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            {{ vehicle().brand }} {{ vehicle().model }}
        </div>
        <div class='availability d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
            <app-severity-tag [severity]='vehicleStatusSeverity()' [value]='vehicle().status.label' />
        </div>
    </div>
</app-element-card>

<app-confirmation-dialog
        [loading]='facade.vehicleLoading()'
        [element]='vehicle()'
        [action]='action()'
        (hide)='action.set(undefined)'
        (handleAction)='handleAction($event)' />
