<app-list (updateRequired)='loadPage($event)'
          [elementPage$]='elementPage$!'
          [error$]='error$'
          [loading$]='loading$'>
    <ng-template appTemplate='search' [formGroup]='form' let-pageEvent>
        <div class='field'>
            <label for='search'>{{ 'filter-sort.search' | translate }}</label>
            <input id='search'
                   type='text'
                   pInputText
                   (keydown.enter)='loadPage(pageEvent)'
                   [formControl]='searched' />
        </div>
        <div class='d-flex flex-wrap justify-content-center gap-3'>
            <p-toggleButton
                    [formControl]='onlyVisible'
                    (keydown.enter)='loadPage(pageEvent)'
                    [onLabel]='"filter-sort.only-visible.false" | translate'
                    [offLabel]='"filter-sort.only-visible.true" | translate'
                    onIcon='pi pi-eye-slash'
                    offIcon='pi pi-eye'
                    [ariaLabel]='"filter-sort.only-visible.title" | translate' />
            <p-toggleButton
                    [formControl]='order'
                    (keydown.enter)='loadPage(pageEvent)'
                    [onLabel]='"filter-sort.order.DESC" | translate'
                    [offLabel]='"filter-sort.order.ASC" | translate'
                    onIcon='pi pi-sort-alpha-down-alt'
                    offIcon='pi pi-sort-alpha-down'
                    [ariaLabel]='"filter-sort.order.title" | translate' />
            <p-button (click)='loadPage(pageEvent)'
                      [label]='"filter-sort.apply" | translate'
                      [outlined]='true'
                      [rounded]='true'
                      icon='pi pi-search'
                      [loading]='(loading$ | async) || (silentLoading$ | async)' />
        </div>
    </ng-template>
    <ng-template appTemplate='element' let-user let-layout='layout'>
        <app-user-element [element]='user' [layout]='layout' />
    </ng-template>
    <ng-template appTemplate='empty'>
        <app-message [message]='message' />
    </ng-template>
</app-list>
