.participant-name {
    font-size:   16px;
    font-weight: 700;
}

::ng-deep {
    .max-list-box-height {
        height: 100%;
    }
}

.participant-info,
.groups,
.status {
    flex-basis: 100%;
}

@media (min-width: 1400px) {
    .participant-info {
        flex-basis: 30%;
    }

    .groups,
    .status {
        flex-basis: 35%;
    }
}
