<p-dialog
        (close)='closeLayer.emit($event)'
        modal
        dismissableMask
        [draggable]='false'
        [resizable]='false'
        [(visible)]='visible'
        [position]='registryFacade.tinyScreen() ? "bottom" : "right"'
        [style]='dialogStyle'>
    <ng-template #header>
        @if (getTemplate('header')) {
            <ng-container [ngTemplateOutlet]='getTemplate("header")' />
        } @else {
            <div class='layer-title'>{{ title() }}</div>
        }
    </ng-template>
    <ng-content />
    <ng-template #footer>
        <ng-container [ngTemplateOutlet]='getTemplate("footer")' />
    </ng-template>
</p-dialog>
