<div>
    <app-communication-form [initialMovement]='movement()' [redirect]='false' />
</div>

<div>
    @for (communication of facade.movementCommunicationsPage()?.content; track communication.id; ) {
        <app-dialog-element [communication]='communication'
                            [alertVisible]='true'
                            [previousAuthorId]='getPreviousAuthorId($index)'
                            [nextAuthorId]='getNextAuthorId($index, $last)' />
    }
</div>

@if ((facade.movementCommunicationsPage()?.content?.length ?? -1) < (facade.movementCommunicationsPage()?.totalElements ?? 0)) {
    <div class='d-flex justify-content-center'>
        <p class='secondary-color'>{{ 'communications.limited-feature' | translate }}</p>
    </div>
}
