<p-confirmDialog [breakpoints]='breakpoint' />
@if (registryFacade.currentUser()) {
    <app-element-card [element]='profile()'
                      [actionMenuVisible]='actionMenuVisible()'
                      [actions]='actions()'
                      (action)='showDialogIfNeeded($event)'
                      [icon]='registryFacade.currentUser()!.preferences.selectedProfile?.id === profile().id ? "pi pi-verified" : "pi pi-user"'>
        <div class='element-card'>
            <div class='profile-info d-flex flex-column justify-content-center'>
                <div class='profile-name d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                    @if (view() === 'user') {
                        {{ profile().event.name }}
                    } @else {
                        {{ (profile().user.firstName | titlecase) + ' ' + (profile().user.lastName | uppercase) }}
                    }
                </div>
                @if (profile().startAccess) {
                    <div class='d-flex mt-1 align-content-center' [class.justify-content-center]='registryFacade.tinyScreen()'>
                        <i class='pi pi-play-circle'></i>
                        <span class='ms-1'>{{ profile().startAccess | customDateFormat }}</span>
                    </div>
                }
                @if (profile().endAccess) {
                    <div class='d-flex align-content-center'
                         [class.justify-content-center]='registryFacade.tinyScreen()'
                         [class.mt-1]='!profile().startAccess'>
                        <i class='pi pi-stop-circle'></i>
                        <span class='ms-1'>{{ profile().endAccess | customDateFormat }}</span>
                    </div>
                }
            </div>
            <div class='role d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                <app-severity-tag [value]='profile().role.label!' />
            </div>
            @if (profile().status.value !== 'INVITED' || profile().user.id !== registryFacade.currentUser()!.id) {
                <div class='status d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                    @if (intervalStatus()) {
                        <app-severity-tag [severity]='intervalStatus()?.status === "IN_PROGRESS" ? "success" : intervalStatus()?.status ===
                "FINISHED" ? "warn" : "info"'
                                          [value]='intervalStatus() | intervalFormat: "event-profiles.status" |
                            translate: { interval: buildInterval(intervalStatus()!.interval!) }' />
                    }
                </div>
                <div class='invitation-status d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                    <app-severity-tag [severity]='severityFromStatus(profile().status.value)' [value]='profile().status.label!' />
                </div>
            } @else {
                <div class='invitation-form d-flex' [class.justify-content-center]='registryFacade.tinyScreen()'>
                    <div class='d-flex flex-column'>
                        <div>{{ 'profile.action.manage-acceptance' | translate }}</div>
                        <div class='d-flex justify-content-center'>
                            <p-button
                                    [label]='"profile.action.reject" | translate'
                                    [rounded]='true'
                                    severity='danger'
                                    (click)='confirmManageAcceptance("REJECTED")' />
                            <p-button
                                    class='ms-2'
                                    [label]='"profile.action.accept" | translate'
                                    [rounded]='true'
                                    severity='success'
                                    (click)='confirmManageAcceptance("ACCEPTED")' />
                        </div>
                    </div>
                </div>
            }
        </div>
    </app-element-card>

    <app-confirmation-dialog
            [loading]='facade.eventProfileLoading()'
            [element]='profile()'
            [action]='action()'
            (handleAction)='handleAction($event)' />
}
