<app-form [form]='form' [loading]='(loading$ | async) ?? false'>
    @if (group()) {
        <h2>
            {{
                'group.form.title.edit' | translate: { name: group()?.name }
            }}
        </h2>
    } @else {
        <h2>{{ 'group.form.title.create' | translate }}</h2>
    }
    <p-card>
        <div class='field'>
            <label for='name' appRequired>{{ 'group.form.name' | translate }}</label>
            <input [formControl]='name'
                   [placeholder]='"group.example.name" | translate'
                   (keydown.enter)='submit()'
                   id='name'
                   pInputText
                   type='text' />
            <app-form-field-error [control]='name'
                                  translationPrefix='group.form.error.role' />
        </div>
        <div class='field'>
            <label for='presence'>{{ 'participant.form.presence' | translate }}</label>
            <p-date-picker [formControl]='presence'
                           [showButtonBar]='true'
                           [placeholder]='"participant.example.presence" | translate: {
                                    begin: exampleBeginDate | date: ("datetime.format.date" | translate),
                                    end: exampleEndDate | date: ("datetime.format.date" | translate)
                                }'
                           [readonlyInput]='true'
                           [showTime]='true'
                           [touchUI]='isMobile()'
                           (keydown.enter)='submit()'
                           id='presence'
                           selectionMode='range'
                           fluid />
            <small class='secondary-color'>{{ 'info.message.default-range' | translate }}</small>
            <app-form-field-error [control]='presence'
                                  translationPrefix='group.form.error.presence' />
        </div>
        <p-divider />
        <div class='field'>
            <label for='participants' appRequired>{{ 'group.form.participants' | translate }}</label>
            <app-select-elements-field [formControl]='participants'
                                       [emptySearchMessage]='"group.form.empty-participant-search" | translate'
                                       [suggestions]='(participantsSuggestion$ | async) ?? []'
                                       [searchLabel]='"group.form.participant-search" | translate'
                                       [emptyPlaceholder]='"group.form.no-participant" | translate'
                                       inputId='participants'
                                       (handleSearch)='handleSearch($event.query)' />
            <app-form-field-error [control]='name'
                                  translationPrefix='group.form.error.participants' />
        </div>
    </p-card>
    <div class='d-flex mt-2 justify-content-center'>
        <p-button
                (click)='navigateToRedirectUri()'
                [label]='"cancel" | translate'
                [outlined]='true'
                [rounded]='true' />

        @if (group()) {
            <p-button
                    class='ms-2'
                    (click)='submit()'
                    [label]='"edit" | translate'
                    [rounded]='true'
                    icon='pi pi-pen-to-square'
                    severity='success' />
        } @else {
            <p-button
                    class='ms-2'
                    (click)='submit()'
                    [label]='"create" | translate'
                    [rounded]='true'
                    icon='pi pi-plus'
                    severity='success' />
        }
    </div>
</app-form>
