@if (informationForm.untouched && facade.movementLoading()) {
    <div class='d-flex justify-content-center'>
        <p-progressSpinner></p-progressSpinner>
    </div>
} @else {
    <h2>
        {{
            (("movements.form.title" | formTitle: facade.movement()) + "." + (type.value ?? "none")) | translate: {
                datetime: facade.movement()?.dateTime | dateFormat: "datetime"
            }
        }}
    </h2>
    <p-stepper [(value)]='activeTab' [value]='1' [linear]='true'>
        <p-step-item [value]='1'>
            <p-step>{{ 'movements.form.title.information' | translate }}</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback='activateCallback' [formGroup]='informationForm'>
                    <div class='p-2'>
                        <div class='d-flex flex-wrap'>
                            <div class='left-field field'>
                                <label for='datetime' appRequired>{{ 'movements.form.datetime' | translate }}</label>
                                <p-date-picker [formControl]='dateTime'
                                               showButtonBar
                                               readonlyInput
                                               appendTo='body'
                                               [placeholder]='"movements.form.placeholder.datetime" | translate: {
                                                   date: now | dateFormat: "date",
                                                   time: now | dateFormat: "time",
                                               }'
                                               [touchUI]='registryFacade.tinyScreen()'
                                               [showTime]='true'
                                               (keydown.enter)='submit()'
                                               inputId='datetime'
                                               fluid />
                                <app-form-field-error [errors]='dateTime.errors'
                                                      [invalid]='FormUtil.invalid(dateTime)'
                                                      translationPrefix='movements.form.error.datetime' />
                            </div>
                            <div class='right-field field'>
                                <label for='type' appRequired>{{ 'movements.form.type' | translate }}</label>
                                <p-select
                                        fluid
                                        inputId='type'
                                        appendTo='body'
                                        [options]='facade.movementTypesMetadata()'
                                        [placeholder]='"movements.form.placeholder.type" | translate'
                                        [formControl]='type'
                                        (onChange)='handleTypeChange($event.value)'
                                        (keydown.enter)='submit()'
                                        optionLabel='label'
                                        optionValue='value' />
                                <app-form-field-error [errors]='type.errors'
                                                      [invalid]='FormUtil.invalid(type)'
                                                      translationPrefix='movements.form.error.type' />
                            </div>
                        </div>
                        <div class='field'>
                            <span class='label' appRequired>{{ 'movements.form.content-kind' | translate }}</span>
                            <div class='radio-button-group'>
                                @for (type of facade.participantTypesMetadata(); track type.value) {
                                    <div class='radio-button'>
                                        <p-radio-button [inputId]='"contentType_" + type.value'
                                                        [value]='type.value'
                                                        (onClick)='handleContentTypeChange(type.value)'
                                                        formControlName='contentType' />
                                        <div>
                                            <label [for]='"contentType_" + type.value' class='ml-2'>{{ type.label }}</label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class='d-flex pt-4 justify-content-between'>
                            <p-button
                                    (onClick)='navigateToRedirectUri()'
                                    [label]='"global.actions.cancel" | translate'
                                    text
                                    rounded />
                            <p-button
                                    (onClick)='FormUtil.isFormValid(informationForm) ? activateCallback(2) : undefined'
                                    [label]='registryFacade.tinyScreen() ? "" : "global.actions.next" | translate'
                                    rounded
                                    icon='pi pi-arrow-down'
                                    iconPos='right' />
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        <p-step-item [value]='2'>
            <p-step>{{ 'movements.form.title.content' | translate }}</p-step>
            <p-step-panel>
                <ng-template #content let-activateCallback='activateCallback'>
                    <div class='p-2'>
                        @if (reasonRequired()) {
                            <div class='field'>
                                <label for='reason' appRequired>{{ 'movements.form.reason.name' | translate }}</label>
                                <p-auto-complete inputId='reason'
                                                 fluid
                                                 completeOnFocus
                                                 forceSelection
                                                 showClear
                                                 appendTo='body'
                                                 optionLabel='label'
                                                 optionValue='value'
                                                 [placeholder]='"movements.form.placeholder.reason" | translate'
                                                 [formControl]='reason'
                                                 [suggestions]='facade.searchedReasonAndActivityMetadata()'
                                                 (keydown.enter)='submit()'
                                                 (onClear)='selectedReason.set(undefined)'
                                                 (onUnselect)='selectedReason.set(undefined)'
                                                 (onSelect)='selectedReason.set($event.value)'
                                                 (completeMethod)='handleReasonsAndActivitiesSearch($event.query)'>
                                    <ng-template #empty>
                                        <span>{{ 'movements.form.reason.empty-search' | translate }}</span>
                                    </ng-template>
                                </p-auto-complete>
                                <app-form-field-error [errors]='reason.errors'
                                                      [invalid]='FormUtil.invalid(reason)'
                                                      translationPrefix='movements.form.error.reason' />
                            </div>
                            <p-divider />
                        }
                        @if (isContentSelection()) {
                            <div class='field'>
                            <span class='label'
                                  appRequired>{{ 'movements.form.content.registered' | pluralTranslation: participantContent.value | translate }}</span>
                                <label for='content'
                                       class='secondary-color'>{{ 'movements.form.content.registered.search' | translate }}</label>
                                <app-movement-content-field [formControl]='participantContent'
                                                            [invalid]='FormUtil.invalid(participantContent)'
                                                            [suggestions]='facade.searchedParticipantAndGroupMetadata()'
                                                            [selectionLabel]='"movements.form.content.registered.selected" | pluralTranslation: participantContent.value | translate'
                                                            [emptyMessage]='"movements.form.content.registered.empty" | translate'
                                                            [fluid]='true'
                                                            inputId='content'
                                                            (handleSearch)='handleParticipantsAndGroupsSearch($event.query)' />
                                <app-form-field-error [errors]='participantContent.errors'
                                                      [invalid]='FormUtil.invalid(participantContent)'
                                                      translationPrefix='movements.form.error.participantContent' />
                            </div>
                        } @else {
                            <div class='field'>
                                <span class='label'>{{
                                        'movements.form.content.guest' | pluralTranslation: guestContent.length |
                                            translate
                                    }}</span>
                                @for (_ of guestContent.controls; track $index) {
                                    <div class='d-flex flex-row align-items-center'>
                                        <p-button size='small' [disabled]='participantId($index).value'
                                                  (onClick)='removeGuest($index)'
                                                  icon='pi pi-times' text rounded
                                                  severity='danger'></p-button>
                                        <div class='participant-form'>
                                            <div class='d-flex flex-wrap'>
                                                <div class='left-field field'>
                                                    <label [for]='"first-name_" + $index'
                                                           appRequired>{{ 'participants.form.firstname' | translate }}</label>
                                                    <input [formControl]='firstName($index)'
                                                           [placeholder]='"participants.form.placeholder.firstname" | translate'
                                                           (keydown.enter)='submit()'
                                                           [id]='"first-name_" + $index'
                                                           pSize='small'
                                                           pInputText
                                                           type='text' />
                                                    <app-form-field-error [errors]='firstName($index).errors'
                                                                          [invalid]='FormUtil.invalid(firstName($index))'
                                                                          translationPrefix='participants.form.error.firstname' />
                                                </div>
                                                <div class='right-field field'>
                                                    <label [for]='"last-name_" + $index' appRequired>{{
                                                            'participants.form.lastname' |
                                                                translate
                                                        }}</label>
                                                    <input [formControl]='lastName($index)'
                                                           [placeholder]='"participants.form.placeholder.lastname" | translate'
                                                           (keydown.enter)='submit()'
                                                           [id]='"last-name_" + $index'
                                                           pSize='small'
                                                           pInputText
                                                           type='text' />
                                                    <app-form-field-error [errors]='lastName($index).errors'
                                                                          [invalid]='FormUtil.invalid(lastName($index))'
                                                                          translationPrefix='participants.form.error.lastname' />
                                                </div>
                                            </div>
                                            <div class='field'>
                                                <label [for]='"birthday_" + $index'
                                                       appRequired>{{ 'participants.form.birthday' | translate }}</label>
                                                <p-date-picker [formControl]='birthday($index)'
                                                               showButtonBar
                                                               showIcon
                                                               size='small'
                                                               appendTo='body'
                                                               [showOnFocus]='false'
                                                               [placeholder]='"participants.form.placeholder.birthday" | translate'
                                                               [touchUI]='registryFacade.tinyScreen()'
                                                               (keydown.enter)='submit()'
                                                               [id]='"birthday_" + $index'
                                                               fluid />
                                                <app-form-field-error [errors]='birthday($index).errors'
                                                                      [invalid]='FormUtil.invalid(birthday($index))'
                                                                      translationPrefix='participants.form.error.birthday' />
                                            </div>
                                        </div>
                                    </div>
                                    @if (!$last) {
                                        <p-divider />
                                    }
                                }
                            </div>
                            <div class='d-flex justify-content-center'>
                                <p-button (onClick)='addGuest()'
                                          icon='pi pi-plus'
                                          rounded
                                          size='small'
                                          [label]='"movements.form.content.guest.add" | translate'
                                          severity='secondary' />
                            </div>
                            <app-form-field-error [errors]='guestContent.errors'
                                                  [invalid]='FormUtil.invalid(guestContent)'
                                                  translationPrefix='movements.form.error.guestContent' />
                        }
                        <div class='d-flex pt-4 justify-content-between'>
                            <p-button
                                    (onClick)='activateCallback(1)'
                                    [label]='"global.actions.previous" | translate'
                                    icon='pi pi-arrow-up'
                                    text
                                    rounded />
                            @if (isEligibleToVehicle() && contentType.value === ParticipantTypeEnum.REGISTERED) {
                                <p-button
                                        (onClick)='FormUtil.isFormValid(contentForm) ? activateCallback(3) : undefined'
                                        [label]='registryFacade.tinyScreen() ? "" : "global.actions.next" | translate'
                                        rounded
                                        outlined
                                        icon='pi pi-arrow-down'
                                        iconPos='right' />
                            } @else {
                                <p-button
                                        (onClick)='submit()'
                                        [label]='registryFacade.tinyScreen() ? "" : facade.movement() | formButton | translate'
                                        rounded
                                        outlined
                                        [icon]='facade.movement() | formIcon'
                                        severity='success' />
                            }
                        </div>
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-item>

        @if (isEligibleToVehicle() && contentType.value === ParticipantTypeEnum.REGISTERED) {
            <p-step-item [value]='3'>
                <p-step>{{ 'movements.form.title.vehicle' | translate }}</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback='activateCallback'>
                        <div class='p-2'>
                            <div class='field'>
                                <span class='label'>{{ 'movements.form.vehicles' | pluralTranslation: vehiclesWithDrivers.length | translate }}</span>
                                <label for='vehicles-drivers'
                                       class='secondary-color'>{{ 'movements.form.vehicles.search' | translate }}</label>
                                <p-auto-complete class='no-autocomplete-item'
                                                 multiple
                                                 inputId='vehicles-drivers'
                                                 [fluid]='true'
                                                 [suggestions]='facade.searchedVehicleMetadata()'
                                                 (onSelect)='addVehicle($event.value.value)'
                                                 (completeMethod)='handleVehiclesSearch($event.query)'>
                                    <ng-template #selecteditem />
                                    <ng-template #empty>
                                        <div class='secondary-color'>{{ 'movements.form.vehicles.empty-search' | translate }}</div>
                                    </ng-template>
                                </p-auto-complete>
                                <div class='mt-3 secondary-color'>
                                    {{
                                        'movements.form.vehicles.selected' | pluralTranslation: vehiclesWithDrivers.value | translate
                                    }}
                                </div>
                                @for (_ of vehiclesWithDrivers.controls; track $index) {
                                    @let control = driver($index);
                                    <div class='mt-2' [formGroup]='vehicleDriverFormGroup($index)'>
                                        <div class='field'>
                                            <p-inputgroup>
                                                <p-inputgroup-addon>{{ VehicleUtil.toSelectItem(vehicle($index).value).label }}</p-inputgroup-addon>
                                                <p-select [inputId]='"driver_" + $index' fluid
                                                          [options]='drivers()'
                                                          [formControl]='control'
                                                          [placeholder]='"movements.form.driver.title" | translate'
                                                          appendTo='body'
                                                          optionLabel='label'
                                                          optionValue='value'>
                                                    <ng-template #empty>
                                                        <div class='secondary-color'>{{ 'movements.form.driver.empty' | translate }}</div>
                                                    </ng-template>
                                                </p-select>
                                                <p-inputgroup-addon>
                                                    <p-button icon='pi pi-times'
                                                              (onClick)='removeVehicle($index)'
                                                              text
                                                              severity='danger' />
                                                </p-inputgroup-addon>
                                            </p-inputgroup>
                                            <app-form-field-error [errors]='control.errors'
                                                                  [invalid]='FormUtil.invalid(control)'
                                                                  translationPrefix='movements.form.error.driver' />
                                        </div>
                                    </div>
                                } @empty {
                                    <div class='list-box mt-2'>
                                        <div class='item empty-message'>
                                            <div class='ms-2 secondary-color'>{{ 'movements.form.vehicles.empty' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class='d-flex pt-4 justify-content-between'>
                                <p-button
                                        (onClick)='activateCallback(2)'
                                        [label]='"global.actions.previous" | translate'
                                        icon='pi pi-arrow-up'
                                        text
                                        rounded />
                                <p-button
                                        class='ms-2'
                                        (onClick)='FormUtil.isFormValid(vehicleForm) ? submit() : undefined'
                                        [label]='registryFacade.tinyScreen() ? "" : facade.movement() | formButton | translate'
                                        rounded
                                        outlined
                                        [icon]='facade.movement() | formIcon'
                                        severity='success' />
                            </div>
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>
        }
    </p-stepper>
}
