.no-autocomplete-item {
    ::ng-deep {
        .p-autocomplete-input-multiple {
            gap: 0;
        }
    }
}

.radio-button-group {
    display:   flex;
    flex-wrap: wrap;
    gap:       var(--basic-spacer);

    .radio-button {
        display:     flex;
        align-items: center;
        gap:         var(--min-spacer);
    }
}

.participant-form {
    flex-grow: 1;
}

.list-box {
    margin:        0;
    padding:       0;
    border-radius: var(--min-spacer);
    border:        1px solid var(--p-form-field-border-color);
    background:    var(--p-autocomplete-dropdown-hover-background);
}

.empty-message {
    padding: 0.5rem;
}

.item {
    list-style-type: none;
    margin:          0;
}

::ng-deep {
    .p-stepitem:last-of-type .p-steppanel {
        padding-inline-start: 0;
    }
}
