@if (control.invalid && (control.dirty || !control.untouched)) {
    <div class='error-message'>
        @switch (true) {
            @case (control.hasError('min')) {
                <p-message severity='error' variant='simple'>{{ buildText("min") }}</p-message>
            }
            @case (control.hasError('max')) {
                <p-message severity='error' variant='simple'>{{ buildText("max") }}</p-message>
            }
            @case (control.hasError('required')) {
                <p-message severity='error' variant='simple'>{{ buildText("required") }}</p-message>
            }
            @case (control.hasError('blank')) {
                <p-message severity='error' variant='simple'>{{ buildText("blank") }}</p-message>
            }
            @case (control.hasError('email')) {
                <p-message severity='error' variant='simple'>{{ buildText("email") }}</p-message>
            }
            @case (control.hasError('minlength')) {
                <p-message severity='error' variant='simple'>{{ buildText("minlength") }}</p-message>
            }
            @case (control.hasError('maxlength')) {
                <p-message severity='error' variant='simple'>{{ buildText("maxlength") }}</p-message>
            }
            @case (control.hasError('pattern')) {
                <p-message severity='error' variant='simple'>{{ buildText("pattern") }}</p-message>
            }
            @case (control.hasError('eventOptionConflict')) {
                <p-message severity='error' variant='simple'>{{ buildText("eventOptionConflict") }}</p-message>
            }
        }
        <ng-content />
    </div>
}
