@if (GenericUtil.nonNull(facade.currentAlertsPage()) && facade.currentAlertsPage()!.content.length > 0) {
    <h2>{{ 'project-home.alerts.title' | translate }}</h2>
    <i class='secondary-color last-refresh'>
        {{
            'global.date-and-time-format.last-refresh' | translate
                : {
                    datetime: facade.currentAlertsPage()?.lastRefresh | dateFormat: 'datetime',
                }
        }}
    </i>
    <p-carousel [value]='content()'
                [numVisible]='3'
                [numScroll]='3'
                [circular]='false'
                [responsiveOptions]='carouselBreakpoints'>
        <ng-template let-alert #item>
            <div class='h-100 p-2'>
                @if (GenericUtil.nonNull(alert)) {
                    <app-alert-element [alert]='alert' [carouselView]='true' />
                } @else {
                    <div class='h-100 d-flex align-items-center'>
                        <p-button severity='secondary' [label]='"project-home.alerts.see-more" | translate' icon='pi pi-search-plus'
                                  [routerLink]='"/" + AppRouteEnum.PROJECTS_ALERTS' class='w-100'
                                  iconPos='top' />
                    </div>
                }
            </div>
        </ng-template>
    </p-carousel>
}
