<p-auto-complete id='elements-field'
                 multiple
                 class='no-autocomplete-item'
                 completeOnFocus
                 inputId='content'
                 [group]='true'
                 [fluid]='true'
                 [suggestions]='suggestions'
                 (onSelect)='onElementSelection($event.value)'
                 (completeMethod)='handleSearch.emit($event)'>
    <ng-template #selecteditem />
</p-auto-complete>
<span class='mt-3 secondary-color'>
                        {{
        ('movement.searched.participant.' + (participants().length > 1 ?
                                             'plural' : 'singular')) | translate
    }}
                    </span>
<ul class='list-box mt-2'>
    @if (participants().length > 0) {
        @for (participant of participants(); track participant.id) {
            <li class='item list-item full-w d-flex align-items-center justify-content-between'>
                <div class='ms-3'>{{ ParticipantUtil.toSelectItem(participant).label }}</div>
                <p-button icon='pi pi-times'
                          size='small'
                          [rounded]='true'
                          [text]='true'
                          (click)='onRemoveParticipant(participant.id)' />
            </li>
        }
    } @else {
        <li class='item empty-message'>
            <div class='ms-2 secondary-color'>{{ 'movement.form.no-participant' | translate }}</div>
        </li>
    }
</ul>
@if (groups().length > 0) {
    @for (group of groups(); track group.id) {
        <div class='full-w d-flex align-items-center justify-content-between'>
            <div>
                {{ 'movement.form.group' | translate: { name: GroupUtil.toSelectItem(group).label } }}
            </div>
            <p-button icon='pi pi-times'
                      size='small'
                      [rounded]='true'
                      [text]='true'
                      (click)='onRemoveGroup(group.id)' />
        </div>
        <ul class='list-box'>
            @for (member of group.members; track member.id) {
                <li class='item list-item full-w d-flex align-items-center justify-content-between'>
                    <div class='ms-3'>{{ ParticipantUtil.toSelectItem(member).label }}</div>
                    <p-button icon='pi pi-times'
                              size='small'
                              [rounded]='true'
                              [text]='true'
                              (click)='onRemoveGroupParticipant(group.id, member.id)' />
                </li>
            }
        </ul>
    }
}
