@if (registryFacade.currentUser()) {
    <p-drawer [(visible)]='isSidebarOpen' [ariaCloseLabel]='"menu.toggle" | translate' styleClass='side-bar'>
        @if (registryFacade.logoPath()) {
            <ng-template #header>
                <a (click)='onNavigate()'
                   [tabIndex]='-1'
                   (keydown.enter)='onNavigate()'
                   [routerLink]='AppRouteEnum.HOME.toString()'
                   [attr.href]='AppRouteEnum.HOME.toString()'>
                    <img
                            [alt]="'menu.home' | translate"
                            [src]='registryFacade.logoPath()!'
                            class='pointer'
                            width='248' />
                </a>
            </ng-template>
        }
        <div class='d-flex flex-column gap-2'>
            <menu class='first-menu'>
                @for (link of generalMenuItems(); track link; ) {
                    <li>
                        <a pRipple
                           (click)='onNavigate()'
                           (keydown.enter)='onNavigate()'
                           [class.router-active-card]='StringUtil.isRouteActive(link.route)'
                           [routerLink]='link.route.toString()'
                           [attr.href]='link.route.toString()'
                           class='menu-item card clickable-card pointer'>
                            <i [class]='link.icon'></i>
                            <span>{{ link.name | translate | truncate: maxMenuTextLength }}</span>
                        </a>
                    </li>
                }
            </menu>
            @if (profileMenuItems().length > 0) {
                <menu class='bordered-box'>
                    <span class='border-text'>{{ registryFacade.currentUser()!.preferences.selectedProfile!.event.name }}</span>
                    @for (link of profileMenuItems(); track link; ) {
                        <li>
                            <a pRipple
                               (click)='onNavigate()'
                               (keydown.enter)='onNavigate()'
                               [class.router-active-card]='StringUtil.isRouteActive(link.route)'
                               [routerLink]='link.route.toString()'
                               [attr.href]='link.route.toString()'
                               class='menu-item card clickable-card pointer'>
                                <i [class]='link.icon'></i>
                                <span>{{ link.name | translate | truncate: maxMenuTextLength }}</span>
                            </a>
                        </li>
                    }
                </menu>
            }
        </div>
        <ng-template #footer>
            <hr class='mb-3 mx-3' />
            <a pRipple
               (click)='onNavigate()'
               (keydown.enter)='onNavigate()'
               [class.router-active-card]='StringUtil.isRouteActive(AppRouteEnum.PREFERENCES)'
               [routerLink]='AppRouteEnum.PREFERENCES.toString()'
               class='menu-item card clickable-card pointer'>
                <i class='pi pi-user'></i>
                <span>{{ (registryFacade.currentUser()?.firstName + ' ' + registryFacade.currentUser()?.lastName) | truncate: maxMenuTextLength }}</span>
            </a>
            <div class='center mt-2'>
                <p-button
                        (onClick)='signOut()'
                        [label]='"global.actions.sign-out" | translate'
                        outlined
                        rounded
                        icon='pi pi-sign-out'
                        severity='secondary' />
            </div>
        </ng-template>
    </p-drawer>


    <div class='app-container'>
        @if (isSidebarOpen) {
            <div class='menu-phantom'></div>
        }
        <div class='app-content'>
            <div class='menu-button'>
                <p-button
                        [ariaLabel]='"menu.toggle" | translate'
                        (onClick)='isSidebarOpen = !isSidebarOpen'
                        rounded
                        icon='pi pi-bars' />
            </div>
            <ng-content />
        </div>
    </div>
}
