@import '../../../responsive';

.menu-button {
    left:     var(--basic-spacer);
    position: fixed;
    top:      var(--basic-spacer);
    z-index:  1;
}

.app-container {
    display: flex;
}

.menu-phantom {
    display:    block;
    left:       0;
    top:        0;
    min-width:  20rem;
    min-height: 100vh;
}

.app-content {
    flex-grow:  1;
    min-height: 100vh;
}

menu {
    padding: 0;
}

.menu-item {
    padding: 0 var(--basic-spacer) 0;

    span {
        margin-left: var(--min-spacer);
    }
}

li {
    list-style-type: none;
}

.card {
    align-items:         center;
    border-radius:       var(--basic-rounder);
    display:             flex;
    height:              3em;
    justify-content:     left;
    margin:              calc(var(--min-spacer) / 2) 0 calc(var(--min-spacer) / 2) 0;
    transition-duration: 150ms;
}

.clickable-card:hover {
    border: var(--p-highlight-focus-background) 2px solid;
}

.clickable-card:active {
    background-color: var(--p-highlight-focus-background);
    color:            #fff;
}

.router-active-card {
    background-color: var(--p-highlight-focus-background);
    color:            #fff;
}

::ng-deep {
    @include greater-than(md) {
        .p-overlay-mask {
            display: none;
        }
    }
}
