@if (registryFacade.currentUser()) {
    <p-drawer [(visible)]='isSidebarOpen' [ariaCloseLabel]='"menu.toggle" | translate' styleClass='side-bar'>
        @if (registryFacade.logoPath()) {
            <ng-template #header>
                <a (click)='onNavigate()'
                   [tabIndex]='-1'
                   (keydown.enter)='onNavigate()'
                   [routerLink]='AppRouteEnum.HOME.toString()'
                   [attr.href]='AppRouteEnum.HOME.toString()'>
                    <img
                            [alt]="'menu.home' | translate"
                            [ngSrc]='registryFacade.logoPath()!'
                            class='pointer'
                            height='105'
                            priority
                            width='248' />
                </a>
            </ng-template>
        }
        <menu>
            @for (link of menuItems(); track link; let index = $index) {
                <li>
                    <a pRipple
                       (click)='onNavigate()'
                       (keydown.enter)='onNavigate()'
                       [class.router-active-card]='StringUtil.isRouteActive(link.route)'
                       [routerLink]='buildUri(link.route.toString())'
                       [attr.href]='buildUri(link.route.toString())'
                       class='menu-item card clickable-card pointer'>
                        <i [class]='link.icon'></i>
                        <span>{{ link.name | translate | truncate: maxMenuTextLength }}</span>
                    </a>
                </li>
            }
        </menu>
        <ng-template #footer>
            <hr class='mb-3 mx-3' />
            <a pRipple
               (click)='onNavigate()'
               (keydown.enter)='onNavigate()'
               [class.router-active-card]='StringUtil.isRouteActive(AppRouteEnum.PREFERENCES)'
               [routerLink]='AppRouteEnum.PREFERENCES.toString()'
               class='menu-item card clickable-card pointer'>
                <i class='pi pi-user'></i>
                <span>{{ (registryFacade.currentUser()?.firstName + ' ' + registryFacade.currentUser()?.lastName) | truncate: maxMenuTextLength }}</span>
            </a>
            <div class='center mt-2'>
                <p-button
                        (click)='signOut()'
                        [label]='"global.actions.sign-out" | translate'
                        [outlined]='true'
                        [rounded]='true'
                        icon='pi pi-sign-out'
                        severity='secondary' />
            </div>
        </ng-template>
    </p-drawer>


    <div class='app-container'>
        @if (isSidebarOpen) {
            <div class='menu-phantom'></div>
        }
        <div class='app-content'>
            <div class='menu-button'>
                <p-button
                        [ariaLabel]='"menu.toggle" | translate'
                        (click)='isSidebarOpen = !isSidebarOpen'
                        [rounded]='true'
                        icon='pi pi-bars' />
            </div>
            <ng-content />
        </div>
    </div>
}
