<app-form [form]='form' [loading]='(loading$ | async) ?? false'>
    <h2>
        {{
            'profile.form.title.edit' | translate : {
                firstName: (profile$ | async)?.user?.firstName,
                lastName: (profile$ | async)?.user?.lastName
            }
        }}
    </h2>
    @if (profile$ | async) {
        <div class='mb-2'>
            <app-user-element [element]='(profile$ | async)?.user!' [showActionMenu]='false' />
        </div>
    }
    <p-card>
        <form [formGroup]='form'>
            <div class='field'>
                <label for='roles' appRequired>{{ 'profile.form.role' | translate }}</label>
                <p-select
                        id='roles'
                        fluid
                        [options]='(assignableRoles$ | async) ?? []'
                        [formControl]='role'
                        (keydown.enter)='submit()'
                        optionLabel='label'
                        optionValue='value' />
                <app-form-field-error [control]='role'
                                      [label]='"profile.form.role" | translate' />
            </div>
            <div class='field'>
                <label for='profiles-range'>{{ 'profile.form.date-range' | translate }}</label>
                <p-date-picker [formControl]='range'
                               [showButtonBar]='true'
                               [readonlyInput]='true'
                               [showTime]='true'
                               [touchUI]='isMobile()'
                               (keydown.enter)='submit()'
                               id='profiles-range'
                               inputId='profiles-range'
                               selectionMode='range'
                               fluid />
                <app-form-field-error [control]='range'
                                      [label]='"profile.form.date-range" | translate' />
            </div>
        </form>
    </p-card>
    <div class='mt-2 d-flex justify-content-center'>
        <p-button
                (click)='navigateToRedirectUri()'
                [label]='"cancel" | translate'
                [outlined]='true'
                [rounded]='true' />
        <p-button
                class='ms-2'
                (click)='submit()'
                [label]='"edit" | translate'
                [rounded]='true'
                icon='pi pi-pen-to-square'
                severity='success' />
    </div>
</app-form>
